﻿@model HrAdmin2.Models.ViewModels.PositionVm
@{
    ViewBag.Title = "Detail";
}

<h2>Position @Model.Pos.Id Detail</h2>
@Html.Partial("TabDetail")
@section scripts {
<script type="text/html" id="node_template">
    <li class="coc">
        <a data-bind="attr: { href: appRoot + 'position/' + Id(), target: '_self' }">
            <span data-bind = "css: { selectedPos: (Id() == $root.Id()) }, text: JobTitle"></span></a>
        <a class="leglink" data-bind="visible: KeyCompId, attr: { target: '_blank', href: 'http://applications.dis.wa.gov/cqwms/CQ/html/keycompetency.asp?positionnum=' + LegacyPositionNum() + '&subposnum=0' }">Key Comps</a>
        <a class="leglink" data-bind="visible: PdfId, attr: { target: '_blank', href: 'http://applications.dis.wa.gov/pdfjaf/pdffrmprint.aspx?wgsrecid=' + PdfId() }">PDF</a>
        <a class="leglink" data-bind="visible: WmsId, attr: { target: '_blank', href: 'http://applications.dis.wa.gov/cqwms/wms/wmsinfo.asp?id=' + WmsId() }">WMS</a>
        <a data-bind="if: !IsVacant(), attr: { href: appRoot + 'employee/' + EmployeeId(), target: '_self' }"><span data-bind="text: '[' + IncumbentLastName() + ']', css: { employee: true }"></span></a>
        <span data-bind="visible: IsVacant(), text: '[VACANT ' + IncumbentLastName() + ']', css: { vacant: true }"></span>
        <ul style="list-style-type: none; padding-left: 16px;" data-bind="template: { name: 'node_template', foreach: SubPositions }"></ul>
    </li>
</script>
<script>
    var appRoot = '@Url.Content("~")';
    // bind position data to pos-accord div:
    var posVm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
    ko.applyBindings(posVm, $('#pos-accord')[0]);
    $('#pos-accord').accordion({
//        active: false,
        active: 0, // default to first panel open
        collapsible: true,
        heightStyle: "content"
    });

    $('#ToggleAccordion').click(function (evt) {
        if ($('#pos-accord').hasClass('ui-accordion')) { // is accordion
            $(evt.target).text('collapse');
            $('#pos-accord').accordion('destroy');
        }
        else {
            $(evt.target).text('expand all');
            $('#pos-accord').accordion({
                active: 0, // expand panel 0 by default.
                animated: 'slide',
                collapsible: true,
                heightStyle: 'content'
            });
        }
    }).text('expand all');

    // TODO: pull this out to util.js (it's currently in multiple places).
    function formatJsonDate(d) {
        // allow negation prefix for dates before 1970:
        if (d == '/Date(-62135568000000)/' || d == null) { return ''; } // non-nullable .NET DateTime is converted to 1/1/1...
        var fdate = new Date(parseInt(d.match(/-?\d+/)[0]));
        // use getFullYear for Chrome:
        var mdy = (fdate.getMonth() + 1) + '/' + fdate.getDate() + '/' + fdate.getFullYear();
        return mdy;
    }

    function doAction(actionCode, itemType) {
        if (actionCode == '') return false;
        switch (actionCode) {
            case 'jump': window.open(appRoot + 'position/' + posVm.Id(), '_self');
                return false;
            case 'P0':
                createPar({
                    PosSupervisorPosId: posVm.Id(),
                    ActionCode: actionCode
                });
                break;
            case 'U3-81-in':
                createPar({
                    PositionId: posVm.Id(),
                    ActionCode: 'U3',
                    ActionReasonId: 81,
                    IsTransferIn: true
                });
                break;
            default: createPar({
                PositionId: posVm.Id(),
                // PositionId: n.attr('id'),
                // EmployeeId is irrelevant here:
//                EmployeeId: (itemType == 'Emp') ? n.data('IncumbentId') : null,
                //ActionType: actionCode
                ActionCode: actionCode
            });
        }
    }

    function performAction(selectorId) {
        var action = $('#' + selectorId).val();
        if (action != '') { // skip if no selection
            doAction(action, 'Pos'); // always Pos in this context, can vary in treeview context
        }
    }

    function createPar(parData) {
        // TODO: test that parData is not null and is an object...
        $('#PosStatusMessage').text('creating PAR');
        $('#statusbar2').fadeTo(0, 1);
        $('#Spinner2').show();

        $.ajax({
            type: 'POST',
            url: appRoot + 'api/par',
            data: parData,
            success: function (d) {
                window.location = appRoot + 'par/' + d.Par.Id;
            },
            error: function (xrq, txtStatus, errThrown) {
                alert(xrq['responseText']);
                alert(txtStatus);
            }
        });
    }

</script>
}
