﻿@model HrAdmin2.Models.ViewModels.PositionVm

@{
    ViewBag.Title = "Position #" + Model.Pos.Id + " Detail";
    // now set in _ViewStart:
}
@section headscript {
<script src="~/Scripts/app/hr.js"></script>
}
@section pagecss {
    <style>
        .coc li a:hover {
            text-decoration: underline;
        }

        .selectedPos {
            background-color: #ffdd88; /* see custom jquery-ui.css */
            padding-right: 0px;
        }

        /* extra style to shrink option height */
        .options {
            line-height: 1.2em !important;
            max-height: 1.2em !important;
        }

        /*k- Kendo UI overrides... */
        .k-dropdown .k-input,
        .pdf-input
        {
            background-color: #fff;
        }

        .k-dropdown-wrap .k-select {
            min-height: 1.2em !important; /* set to 1.65em by default! */
            line-height: 1.2em !important;
            padding: 0px !important;
        }

        .k-dropdown-wrap .k-input
        {
            padding: 0px !important; /* default = .177em top/bottom */
            max-height: 1.2em !important; /* these are 1.65em by default (fat) */
            line-height: 1.2em !important;
        }

        .k-popup .k-list .k-item {
            padding: 0;
            border: 0;
            line-height: 1.2em !important; /* default 1.8em */
            min-height: 1.2em !important; /* default 1.8em */
        }

        .k-popup .k-list .k-state-selected {
            background-color: #ca8;
        }

        .k-popup .k-list .k-state-hover:hover {
            background-color: #ca8;
        }
    </style>
}
<div id="ng-app" ng-app="hr" ng-controller="PositionController">
<script type="text/ng-template" id="positionDetail.html">
<h2>Position #{{ vm.Pos.Id }} Detail</h2>
<div>
    <a ng-click="expandAll()">Expand</a> / <a ng-click="collapseAll()">Collapse</a> All
</div>
<div>
    @if (Model.CurrentUser.RoleName == "Admin" || Model.CurrentUser.RoleName == "HR") {
    <div class="formAction">
        <!--<select onchange="doAction(this.value, 'Pos')">-->
        <select id="PosAction" class="action-selector">
            <option value =""> - Select Position Action - </option>
            <option value ="P2">Abolish (vacant only)</option>
            <option value ="P0">Create New (supervised) Position</option>
            <option value ="U3">Fill, Current CTS Employee</option>
            <option value ="U0">Fill: New Hire (no Personnel #)</option>
            <option value ="U6">Fill, Prior Service (Personnel #)</option>
            <option value ="U3-81-in">Fill, Transfer In (Personnel #)</option>
            <option value ="P1">Modify</option>
        </select>
        <a ng-click="performAction('PosAction');">create PAR</a>
    </div>
    }
    <div id="statusbar2" style="background-color: #ffdd88;">
        <span id="Spinner2" style="display: none;"><img src="@Url.Content("~")Scripts/jstree/themes/default/throbber.gif" /></span>
        <span id="PosStatusMessage"></span>
    </div>
</div>
<div>
    <ul kendo-panel-bar="panelbar" k-options="options.PanelBar" style="width: 800px;">
        <li id="PosInfo" ng-class="{ 'k-state-active': expandedItems['PosInfo']}">
            <span ng-class="{ 'k-state-selected': pbopts.selectedItemId == 'PosInfo', 'k-link': true }">Position Information</span>
            <div>
            <table style="margin: 0;">
            <tr>
                <td style="vertical-align: top; width: 50%;">
                    <table style="margin: 3px;" class="panel-content">
                        <tr>
                            <th>CTS Pos#:</th>
                            <td>{{ vm.Pos.Id }}</td>
                        </tr>
                        <tr>
                            <th>HRMS Pos#:</th>
                            <td>{{ vm.Pos.HrmsPositionId || '[PENDING]' }}</td>
                        </tr>
                        <tr>
                            <th>Working Title:</th>
                            <td>{{ vm.Pos.WorkingTitle }}</td>
                        </tr>
                        <tr>
                            <th>Job Class:</th>
                            <td>{{ vm.Pos.JobTitle }} ({{ vm.Pos.LegacyClassCode}})</td>
                        </tr>
                        <tr>
                            <th>Pay Grade</th>
                            <td>{{ vm.Pos.PayGradeTypeAreaDesc }}, {{ vm.Pos.PayGrade }}</td>
                        </tr>
                        <tr>
                            <th>Personnel Subarea:</th>
                            <td>{{ vm.Pos.PersonnelSubArea }}</td>
                        </tr>
                        <tr>
                            <th>Group:</th>
                            <td>{{ vm.Pos.EeGroupDescription }}</td>
                        </tr>
                        <tr>
                            <th>Subgroup:</th>
                            <td>{{ vm.Pos.EeSubGroupDescription }}</td>
                        </tr>
                        <tr>
                            <th>Workers Comp:</th>
                            <td>{{ vm.Pos.WorkersCompDesc }}</td>
                        </tr>
                        <tr>
                            <th>Legacy Links:</th>
                            <td>
                                <ul>
                                    <li ng-if="vm.Pos.KeyCompId">
                                        <a class="leglink" target="_blank" href="http://applications.dis.wa.gov/cqwms/CQ/html/keycompetency.asp?positionnum={{ vm.Pos.LegacyPositionNum }}&subposnum=0">Key Competencies</a>
                                    </li>
                                    <li ng-if="vm.Pos.PdfId">
                                        <a class="leglink" target="_blank" href="http://applications.dis.wa.gov/pdfjaf/pdffrmprint.aspx?wgsrecid={{ vm.Pos.PdfId }}">Position Description (PDF)</a>
                                    </li>
                                    <li ng-if="vm.Pos.WmsId">
                                        <a class="leglink" target="_blank" href="http://applications.dis.wa.gov/cqwms/wms/wmsinfo.asp?id={{ vm.Pos.WmsId }}">Position Description (WMS)</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top;">
                        <table style="margin: 3px;" class="panel-content">
                            <tr>
                                <th>Org Unit:</th>
                                <td>{{ vm.Pos.OuDescription }} ({{ vm.Pos.OrgUnitId }})</td>
                            </tr>
                            <tr>
                                <th>Cost Center:</th>
                                <td>{{ vm.Pos.CostCenter }}</td>
                            </tr>
                            <tr>
                                <th>Appointing Authority?</th>
                                <td>{{ vm.Pos.IsAppointingAuthority ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Manager?</th>
                                <td>{{ vm.Pos.IsManager ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Supervisor?</th>
                                <td>{{ vm.Pos.IsSupervisor ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Background Check?</th>
                                <td>{{ vm.Pos.IsBackgroundCheckRequired ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Section 4?</th>
                                <td>{{ vm.Pos.IsSection4 ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Tandem?</th>
                                <td>{{ vm.Pos.IsTandem ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>In Training?</th>
                                <td>{{ vm.Pos.IsInTraining ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr ng-if="vm.Pos.Jvac">
                                <th>JVAC Code, Points</th>
                                <td>{{ vm.Pos.Jvac + (vm.Pos.JvacPoints ? (', ' + vm.Pos.JvacPoints) : '') }}</td>
                            </tr>
                            <tr>
                                <th>Default Schedule:</th>
                                <td>{{ vm.Pos.WorkSchedDesc }}</td>
                            </tr>
                            <tr>
                                <th>Shift:</th>
                                <td>{{ vm.Pos.ShiftCode }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
<tr>
    <td colspan="2" >
    <table class="panel-content" style="width: 80%; margin: 3px;">
        <tr>
            <th style="width: 200px;">Reporting Structure:</th>
            <td style="width: 100%; padding: 0px;">
                <ul class="coc" style="list-style-type: none; padding-left: 5px; margin-top: 2px; margin-bottom: 2px; font-size: small;">
                    <li class="position coc">
                        <a style="color: #036 !important;" href="{{ appRoot }}position/{{ vm.ChainOfCommand.Id }}" target="_self">
                            <span ng-class="{'selectedPos': (vm.ChainOfCommand.Id == vm.Pos.Id)}">{{ vm.ChainOfCommand.JobTitle }}</span>
                        </a>
                        <a ng-if="! vm.ChainOfCommand.IsVacant" href="{{ appRoot }}employee/{{ vm.ChainOfCommand.EmployeeId }}" target="_self">
                            <span class="employee">[{{ vm.ChainOfCommand.IncumbentLastName }}]</span>
                        </a>
                        <span class="vacant" ng-if="vm.ChainOfCommand.IsVacant">[VACANT {{ vm.ChainOfCommand.IncumbentLastName }}]</span>
                        <ul ng-if="vm.ChainOfCommand.SubPositions.length" style="list-style-type: none; padding-left: 16px;">
                            <li ng-repeat="p in vm.ChainOfCommand.SubPositions" ng-include="'posTmpl'" />
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    </td>
</tr>
</table>
            </div>
        </li>
        <li id="RelatedActions" ng-class="{ 'k-state-active': expandedItems['RelatedActions']}">
        <span ng-class="{ 'k-state-selected': pbopts.selectedItemId == 'RelatedActions', 'k-link': true }">Action Requests (PAR)</span>
            <div>
                <p ng-if="!vm.OpenPars.length">There are no pending action requests for this position.</p>
                <table ng-if="vm.OpenPars.length" class="partable" style="margin: 3px;">
                    <tr>
                        <th>Id</th>
                        <th>Action</th>
                        <th>Reason / Type</th>
                        <th>Effective</th>
                    </tr>
                    <tr ng-repeat="p in vm.OpenPars" ng-class="{even: $index % 2, odd: !($index %2)}">
                        <td>
                            <a href="{{ appRoot }}par/{{ p.Id }}">{{ p.Id }}</a>
                        </td>
                        <td>{{ p.ActionDescription }}</td>
                        <td>{{ p.ActionType }}</td>
                        <td>{{ formatJsonDate(p.EffectiveDate) }}</td>
                    </tr>
                </table>
                <a href="@(String.Format("{0}Par?Query={1}", Url.Content("~"), Model.Id))">PAR history</a>
            </div>
        </li>
        @if (Model.CurrentUser.RoleName == "HR" || Model.CurrentUser.RoleName =="Admin") {
        <li id="PosDesc" ng-class="{'k-state-active': expandedItems['PosDesc'] }">
            <span ng-class="{ 'k-state-selected': pbopts.selectedItemId == 'PosDesc', 'k-link': true }">Position Descriptions (PDFs)</span>
            <div>
                <span ng-if="(vm.PositionDescriptions.length == 0)">
                There are no Position Descriptions on file for this position.  <a ng-click='createPD()'>Create one now</a>.
                </span>
                <table ng-if="(vm.PositionDescriptions.length > 0)" class="partable" style="margin: 3px;">
                    <tr>
                        <th>Id</th><th>Action</th><th>Working Title</th><th>Job Class</th><th>Approval Date</th><th>Status</th>
                    </tr>
                    <tr style="cursor: pointer;" ng-class="{ selectedRow: (d.Id == selectedPdfId), even: $index % 2, odd: !($index %2) }" ng-click="rowClicked(d)" ng-repeat="d in vm.PositionDescriptions" ng-class="{ 'async-add': d.isAdding, 'async-delete': d.isDeleting }">
                        <td><a ng-href='#Pd/{{ d.Id }}'>{{ d.Id }}</a></td>
                        <td>
    <span ng-if="asyncOp && d.Id == selectedPdfId" style="font-weight: bold; border: 1px solid red;"><img src="@Url.Content("~")Scripts/jstree/themes/default/throbber.gif" /> {{ asyncMessage }}</span>
    <span ng-if="!(asyncOp && d.Id == selectedPdfId)">
        <a ng-click="clonePD($index)">clone</a> &nbsp; 
        <a ng-click="deletePD($index)">del</a>
    </span>
    </td>
    <td>{{ d.WorkingTitle || '(n/a)' }}</td><td>{{ d.ProposedClassCode }} ({{ d.ProposedClassTitle }})</td><td>{{ formatJsonDate(d.ApprovalDate) }}</td><td>{{ d.LegacyStatus }}</td>
                    </tr>
                </table>
            </div>
        </li>
        }
        <li id="IncumbentHist" ng-class="{ 'k-state-active': expandedItems['IncumbentHist']}">
        <span ng-class="{ 'k-state-selected': pbopts.selectedItemId == 'IncumbentHist', 'k-link': true }">Incumbent History</span>
            <div>
                <table class="partable" style="margin: 3px;">
                    <tr>
                        <th style="text-align: center;">Employee</th>
                        <th style="text-align: center;">From</th>
                        <th style="text-align: center;">To</th>
                    </tr>
                    @foreach (HrAdmin2.Models.PositionAppt a in Model.ApptHistory)
                    {
                        <tr class="@(Model.ApptHistory.IndexOf(a) % 2 == 0 ? "odd" : "even")">
                            <td nowrap>
                                @if (a.CurrentEmp) {
                                       <a href="~/employee/@a.EmpId">@a.EmpName</a>
                                }
                                @if (!a.CurrentEmp) {
                                    @a.EmpName
                                }
                            </td>
                            <td style="text-align: right;">@a.StartDate.ToShortDateString()</td>
                            <td style="text-align: right;">@(a.EndDate.Equals(DateTime.MinValue) || !a.EndDate.HasValue ? "n/a" : a.EndDate.Value.ToShortDateString())</td>
                        </tr>
                    }
                </table>
            </div>
        </li>
    </ul>
</div>
</script>
<div ng-view />
<!-- *NOTE*, inline ng-templates must be enclosed in the ng-app DOM element or they will be IGNORED!!! -->
<script type="text/ng-template" id="posTmpl">
    <a style="color: #036 !important;" href="{{ appRoot }}position/{{ p.Id }}" target="_self">
        <span ng-class="{'selectedPos': (p.Id == vm.Pos.Id)}">{{ p.JobTitle }}</span>
    </a>
    <a ng-if="p.KeyCompId" href="http://applications.dis.wa.gov/cqwms/CQ/html/keycompetency.asp?positionnum={{ p.LegacyPositionNum }}&subposnum=0" target="_blank">Key Comps</a>
    <a ng-if="p.PdfId" href="http://applications.dis.wa.gov/pdfjaf/pdffrmprint.aspx?wgsrecid={{ p.PdfId }}" target="_blank">PDF</a>
    <a ng-if="p.WmsId" href="http://applications.dis.wa.gov/cqwms/wms/wmsinfo.asp?id={{ p.WmsId }}" target="_blank">WMS</a>
    <a ng-if="!p.IsVacant" href="{{ appRoot }}employee/{{ p.EmployeeId }}" target="_self">
        <span class="employee">[{{ p.IncumbentLastName }}]</span>
    </a>
    <span class="vacant" ng-if="p.IsVacant">[VACANT {{ p.IncumbentLastName }}]</span>
    <ul ng-if="p.SubPositions.length" style="list-style-type: none; padding-left: 16px;">
        <li ng-repeat="p in p.SubPositions" ng-include="'posTmpl'" />
    </ul>
</script>
</div><!-- /end ng-app -->
@section footscript {
<script>
    var vm = @Html.Raw(Json.Encode(Model)); // TODO: verify whether this works with null Model
    // TODO: Angularize these functions:
    function doAction(actionCode, itemType) {
        if (actionCode == '') return false;
        switch (actionCode) {
            case 'jump': window.open(appRoot + 'position/' + vm.Pos.Id, '_self');
                return false;
            case 'P0':
                createPar({
//                    PosSupervisorPosId: posVm.Id(),
                    PosSupervisorPosId: vm.Pos.Id,
                    ActionCode: actionCode
                });
                break;
            case 'U3-81-in':
                createPar({
//                    PositionId: posVm.Id(),
                    PositionId: vm.Pos.Id,
                    ActionCode: 'U3',
                    ActionReasonId: 81,
                    IsTransferIn: true
                });
                break;
            default: createPar({
//                PositionId: posVm.Id(),
                PositionId: vm.Pos.Id,
                // PositionId: n.attr('id'),
                // EmployeeId is irrelevant here:
                //                EmployeeId: (itemType == 'Emp') ? n.data('IncumbentId') : null,
                //ActionType: actionCode
                ActionCode: actionCode
            });
        }
    }

    function createPar(parData) {
        // TODO: test that parData is not null and is an object...
        $('#PosStatusMessage').text('creating PAR');
        $('#statusbar2').fadeTo(0, 1);
        $('#Spinner2').show();

        $.ajax({
            type: 'POST',
            url: appRoot + 'api/par',
            data: parData,
            success: function (d) {
                window.location = appRoot + 'par/' + d.Par.Id;
            },
            error: function (xrq, txtStatus, errThrown) {
                alert(xrq['responseText']);
                alert(txtStatus);
            }
        });
    }
</script>
}