﻿@model HrAdmin2.Models.ViewModels.PositionVm

<div style="min-height: 1.6em; font-size: .9em;">
    @if (Model.CurrentUser.RoleName == "Admin" || Model.CurrentUser.RoleName == "HR") {
    <div class="formAction" style="float: left; padding: 0px;">
        <!--<select onchange="doAction(this.value, 'Pos')">-->
        <select id="PosAction" class="action-selector">
            <option value =""> - Select Position Action - </option>
            <option value ="P2">Abolish (vacant only)</option>
            <option value ="P0">Create New (supervised) Position</option>
            <option value ="U3">Fill, Current CTS Employee</option>
            <option value ="U0">Fill: New Hire (no Personnel #)</option>
            <option value ="U6">Fill, Prior Service (Personnel #)</option>
            <option value ="U3-81-in">Fill, Transfer In (Personnel #)</option>
            <option value ="P1">Modify</option>
        </select>
        <span class="employee" style="cursor: pointer;" onclick="performAction('PosAction');">create PAR</span>
@*        <span><a id="ToggleAccordion"></a></span>*@
    </div>
    }
    <div id="statusbar2" style="float: right; background-color: #ffdd88;">
        <span id="Spinner2" style="display: none;"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
        <span id="PosStatusMessage"></span>
    </div>
</div>
<div id="pos-accord">
    <div class="HeadContainer">
        <div class="HeaderText">
            Position Information
        </div>
        <div style="float: right; padding-right: .5em;">     
        </div>
        &nbsp;
    </div>
    <div style="padding: 10px 5px 10px 5px;">
        <table>
            <tr>
                <td style="vertical-align: top;">
                    <table id="posDetail" class="itemDetail2" border="1">
                        <tr>
                            <th style="width: 138px;">CTS Pos#:</th>
                            <td><span data-bind="text: Pos.Id"></span></td>
                        </tr>
                        <tr>
                            <th>HRMS Pos#:</th>
                            <td><span data-bind="text: Pos.HrmsPositionId() || '[PENDING]'"></span></td>
                        </tr>
                        <tr>
                            <th>Working Title:</th>
                            <td><span data-bind="text: Pos.WorkingTitle">[loading]</span></td>
                        </tr>
                        <tr>
                            <th>Job Class:</th>
                            <td>
                                <span data-bind="text: Pos.JobTitle() + ' (' + Pos.LegacyClassCode() + ')'"></span>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-wrap: none">Pay Grade</th>
                            <td>
                                <span data-bind="text: Pos.PayGradeTypeAreaDesc() + ', ' + Pos.PayGrade()"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Personnel&nbsp;Subarea:</th>
                            <td><span data-bind="text: Pos.PersonnelSubArea"></span></td>
                        </tr>
                        <tr>
                            <th>Group:</th>
                            <td><span data-bind="text: Pos.EeGroupDescription"></span></td>
                        </tr>
                        <tr>
                            <th>Subgroup:</th>
                            <td><span data-bind="text: Pos.EeSubGroupDescription"></span></td>
                        </tr>
                        <tr>
                            <th>Workers Comp:</th>
                            <td><span data-bind="text: Pos.WorkersCompDesc"></span></td>
                        </tr>
                        <tr>
                            <th>Legacy&nbsp;Links:</th>
                            <td>
                                <ul>
                                    <li data-bind="visible: Pos.KeyCompId">
                                        <a class="leglink" target="_blank" data-bind="attr: { href: 'http://applications.dis.wa.gov/cqwms/CQ/html/keycompetency.asp?positionnum=' + Pos.LegacyPositionNum() + '&subposnum=0'}">Key Competencies</a>
                                    </li>
                                    <li data-bind="visible: Pos.PdfId">
                                        <a class="leglink" target="_blank" data-bind="attr: { href: 'http://applications.dis.wa.gov/pdfjaf/pdffrmprint.aspx?wgsrecid=' + Pos.PdfId() }">Position Description (PDF)</a>
                                    </li>
                                    <li data-bind="visible: Pos.WmsId">
                                        <a class="leglink" target="_blank" data-bind="attr: { href: 'http://applications.dis.wa.gov/cqwms/wms/wmsinfo.asp?id=' + Pos.WmsId() }">Position Description (WMS)</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        </table>
                    </td>
                    <td style="vertical-align: central;">
                        <table style="margin-top: 0px;" class="itemDetail2">
                            <tr>
                                @*                        <th>Org Unit</th><td>@Html.DropDownList("OuSelection", omm.OrgUnitSelection)</td>*@
                                <th>Org Unit:</th>
                                <td>
                                    <span data-bind="text: Pos.OuDescription"></span>
                                    (<span data-bind="text: Pos.OrgUnitId"></span>)
                                </td>
                            </tr>
                            <tr>
                                <th>Cost Center:</th>
                                <td data-bind="text: Pos.CostCenter"></td>
                            </tr>

                            <tr>
                                <th>Appointing&nbsp;Authority?</th>
                @*                <td><input type="checkbox" class="borderless" disabled data-bind="checked: Pos.IsAppointingAuthority"><span data-bind="text: (Pos.IsAppointingAuthority() ? 'Yes' : 'No')"</span></td>*@
                                <td><span data-bind="text: (Pos.IsAppointingAuthority() ? 'Yes' : 'No')"</td>
                            </tr>
                            <tr>
                                <th>Manager?</th>
                                <td><span data-bind="text: (Pos.IsManager() ? 'Yes' : 'No')"</td>
                            </tr>
                            <tr>
                                <th>Supervisor?</th>
                                <td><span data-bind="text: (Pos.IsSupervisor() ? 'Yes' : 'No')"</td>
                            </tr>
                            <tr>
                                <th>Background Check?</th>
                                <td><span data-bind="text: (Pos.IsBackgroundCheckRequired() ? 'Yes' : 'No')"</td>
                            </tr>
                            <tr>
                                <th>Section 4?</th>
                                <td><span data-bind="text: (Pos.IsSection4() ? 'Yes' : 'No')"</td>
                            </tr>
                            <tr>
                                <th>Tandem?</th>
                                <td><span data-bind="text: (Pos.IsTandem() ? 'Yes' : 'No')"</td>
                            </tr>
                            <tr>
                                <th>In Training?</th>
                                <td><span data-bind="text: (Pos.IsInTraining() ? 'Yes' : 'No')"</td>
                            </tr>
                            <tr>
                                <th>JVAC Code, Points</th>
                                <td><span data-bind="text: (Pos.Jvac() + (Pos.JvacPoints() ? (', ' + Pos.JvacPoints()) : ''))"></span></td>
                            </tr>
                            <tr>
                                <th>Default Schedule:</th>
                                <td data-bind="text: Pos.WorkSchedDesc"></td>
                            </tr>
                            <tr>
                                <th>Shift:</th>
                                <td data-bind="text: Pos.ShiftCode"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
<tr>
    <td colspan="2">
        <table class="itemDetail2" style="text-align: left; width: 100%;">
            <tr>
                <th style="width: 200px;">Reporting&nbsp;Structure:</th>
                <td style="background-color: #fff; width: 100%;">
                    <ul class="position" style="list-style-type: none; padding-left: 5px; margin-top: 5px; margin-bottom: 5px; font-size: small;">
                        <li class="coc">
                            <a data-bind="attr: { href: appRoot + 'position/' + ChainOfCommand.Id(), target: '_self'}">
                                <span data-bind = "css: { selectedPos: (ChainOfCommand.Id() == Pos.Id()) }, text: ChainOfCommand.JobTitle()"></span></a>
                            <a data-bind="if: ! ChainOfCommand.IsVacant(), attr: { href: appRoot + 'employee/' + ChainOfCommand.EmployeeId(), target: '_self'}">
                                <span data-bind="text: '[' + ChainOfCommand.IncumbentLastName() + ']', css: { employee: true }"></span>
                            </a>
                            <span data-bind="visible: ChainOfCommand.IsVacant(), text: '[VACANT ' + ChainOfCommand.IncumbentLastName() + ']', css: { vacant: true }"></span>
            @*                <span data-bind="text: '[' + (ChainOfCommand.IncumbentLastName() || 'VACANT') + ']', css: { employee: ChainOfCommand.IncumbentLastName(), vacant: !ChainOfCommand.IncumbentLastName()}"></span>*@
            @*                <span data-bind="text: ChainOfCommand.IncumbentLastName"></span>*@
                            <ul style="list-style-type: none; padding-left: 16px;" data-bind="template: { name: 'node_template', foreach: ChainOfCommand.SubPositions }"></ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
    </div>
    <div class="HeadContainer">
        <div class="HeaderText">Incumbent History</div>
        <div style="float: right; padding-right: .5em;">     
        </div>
        &nbsp;
    </div>
    <div>
        <table class="itemDetail2" style="margin-top: 0px; margin-bottom: 0px;">
            <tr>
                <th style="text-align: center;">Employee</th>
                <th style="text-align: center;">From</th>
                <th style="text-align: center;">To</th>
            </tr>
            @foreach (HrAdmin2.Models.PositionAppt a in Model.ApptHistory)
            {
                <tr>
                    <td nowrap>
                        @if (a.CurrentEmp) {
                               <a href="~/employee/@a.EmpId">@a.EmpName</a>
                        }
                        @if (!a.CurrentEmp) {
                            @a.EmpName
                        }
                    </td>
                    <td style="text-align: right;">@a.StartDate.ToShortDateString()</td>
                    <td style="text-align: right;">@(a.EndDate.Equals(DateTime.MinValue) ? "n/a" : a.EndDate.ToShortDateString())</td>
                </tr>
            }
        </table>
    </div>
    <div class="HeadContainer">
        <div class="HeaderText">
            Pending Action Requests
        </div>
        <div style="float: right; padding-right: .5em;">     
        </div>
        &nbsp;
    </div>
    <div>
        <p data-bind="visible: !OpenPars.length">There are no pending action requests for this position.</p>
        <table data-bind="visible: OpenPars.length" class="itemDetail2" style="margin-top: 0px; margin-bottom: 0px;">
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Action</th>
                <th style="text-align: center;">Reason / Type</th>
                <th style="text-align: center;">Effective</th>
            </tr>
            <tbody id="PosParList" data-bind="foreach: OpenPars">
                <tr data-bind="visible: Id()">
                    <td>
                        <a data-bind="attr: { href: '@Url.Content("~")' + 'par/' + Id() }"><span data-bind="text: Id"></span></a>
                    </td>
                    <td>
                        <span data-bind="text: ActionDescription"></span>
                    </td>
                    <td>
                        <span data-bind="text: ActionType"></span>
                    </td>
                    <td><span data-bind="text: formatJsonDate(EffectiveDate())"></span></td>
                </tr>
            </tbody>
        </table>
        <a href="@(String.Format("{0}Par?Query={1}", Url.Content("~"), Model.Id))">PAR history</a>
    </div>
</div>
