﻿@{
    ViewBag.Title = "Index";
}

@section headscript {
<script>
    // JS globals
    var appRoot = '@Url.Content("~")';
</script>
<script src="~/Scripts/app/hr.js"></script>
}
<div id="ng-app" ng-app="hr" ng-controller="SpaController">
@*<a ng-href="#/myinfo">Home</a>
<a ng-href="#/positions" ng-click="showLoading();">Positions</a>*@
<div ng-view ng-cloak />
<script type="text/ng-template" id="SpaRoot.html">
<h2>SPA Home</h2>
</script>
</div>