﻿@model HrAdmin2.Models.ViewModels.SearchResultVm
@{
    ViewBag.Title = "Index";
}

<h4>Search</h4>
<form method="get" action="@(Url.Content("~") + "Search2")">
    <input type="text" id="q" name="q" style="width:200px;" value="@Model.Params.q" />
@*    <select id="SearchEntity" name="e">
        <option value=""> - select item type (optional) - </option>
        <option value="Employee">Employee</option>
        <option value="Position">Position</option>
    </select>*@
    <input type="submit" id="SearchButton" value="search"></input>
    <br />
    *search by employee first or last name or CTS position number
</form>

<hr />
@* server-side binding is quicker but less flexible (sorting, etc.)... @if (Model.Count() > 0) {
<table class="parlist">
    <tr><th>Employee</th>
        <th>Position</th>
        <th>OU</th>
    </tr>
@foreach (HrAdmin2.Controllers.SearchResult r in Model) {
    <tr>
        <td><a href="@(Url.Content("~") + "Employee/" + @r.Id)">@r.LastName, @r.PreferredName</a></td>
        <td><a href="@(Url.Content("~") + "Position/" + @r.PositionId)">@r.WorkingTitle</td>
        <td><a href="@(Url.Content("~") + "OrgUnit/" + @r.OrgUnitId)">@r.OuDesc</td>
    </tr>
}
</table>
}        *@
<table id="ResultList" class="parlist" data-bind="if: Results().length">
    <tr>
        <th><a href="javascript: false;" data-bind="click: function () { sortBy('LastName'); }">Last</a></th>
        <th>
            <a href="javascript: false;" data-bind="click: function () { sortBy('PreferredName'); }">First</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function () { sortBy('PositionId'); }">Pos #</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function () { sortBy('WorkingTitle'); }">Working Title</a>
        </th>
@*        <th>
            <a href="javascript: false;" data-bind="click: function () { sortBy('OuDesc'); }">OU</a>
        </th>*@
    </tr>
    <tbody data-bind="foreach: Results">
        <tr>
            <td>
                <a data-bind="attr: { href: appRoot + 'Employee/' + Id() }">
                    <span style="color: blue;" data-bind="text: LastName"></span>
                </a>
            </td>
            <td><span data-bind="text: PreferredName"></span></td>
            <td><a style="color: blue;" data-bind="attr: { href: appRoot + 'Position/' + PositionId() }"><span data-bind="text: PositionId"></span></a></td>
            <td><a style="color: blue;" data-bind="attr: { href: appRoot + 'Position/' + PositionId() }"><span data-bind="text: WorkingTitle"></span></a></td>
@*            <td><a style="color: blue;" data-bind="attr: { href: appRoot + 'OrgUnit/' + OrgUnitId() }"><span data-bind="text: OuDesc"></span></a></td>*@
        </tr>
    </tbody>
</table>
@section scripts {
<script>
    // TODO: move appRoot setter to Layout?
    var appRoot = '@Url.Content("~")';
    // TODO: make parlist sub-property of Model? (assuming other items will also need data binding)
    var m = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
    var vm = {
        Results: m.Results
    };
    ko.applyBindings(vm, $('#ResultList')[0]);
    var sortcol = '';

    // TODO: move this to util.js
    function formatJsonDate(d) {
        var fdate = new Date(parseInt(d.match(/\d+/)[0]));
        return (fdate.getMonth() + 1) + '/' + fdate.getDate() + '/' + fdate.getFullYear();
    }

    function sortBy(c) {
        // TODO: sort by multiple columns?
        // seems to work automatically, retains previous sort if new col is minimally selective.
        // if sort col has been previously set and matches requested col, reverse direction:
        var rs = vm.Results;
        var dir = (c == sortcol) ? -1 : 1;
        rs.sort(function (left, right) {
            return dir * (left[c]() == right[c]() ? 0 : left[c]() < right[c]() ? -1 : 1);
        });
        // reset sort col if already reversed:
        sortcol = (dir == 1) ? c : '';
    }
</script>
}