﻿@model HrAdmin2.Models.ViewModels.SearchResultVm

@{
    ViewBag.Title = "NgSearch";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}
@section headscript {
<script src="~/Scripts/app/hr.js"></script>
}
<div id="ng-app" ng-app="hr" ng-controller="SearchController">
<h2>Search</h2>
<form method="get" action="@(Url.Content("~") + "Search2")">
    <input type="text" id="q" name="q" style="width:200px;" value="@Model.Params.q" />
    <input type="submit" id="SearchButton" value="search"></input>
    <br />
    *search by employee first or last name or CTS position number
    <br />
    <input type="checkbox" name="IncludeAbolished" value="1" ng-checked="vm.Params.IncludeAbolished" />Include Abolished Positions?
    <br />
    <input type="checkbox" name="IncludeHistory" value="1" ng-checked="vm.Params.IncludeHistory" />Include Historical Appointments?
</form>
<hr />
<table id="ResultList" ng-if="vm.Results.length" class="partable">
    <tr>
        <th><a ng-click="sortOn('LastName')">Last</a></th>
        <th><a ng-click="sortOn('FirstName')">First</a></th>
        <th><a ng-click="sortOn('PositionId')">Pos #</a></th>
        <th><a ng-click="sortOn('Title')">Title</a></th>
        <th><a ng-click="sortOn('OuDesc')">Org Unit</a></th>
        <th><a ng-click="sortOn('StartDate')">Start</a></th>
        <th><a ng-click="sortOn('EndDate')">End</a></th>
    </tr>
    <tr ng-repeat="r in vm.Results | orderBy: (desc ? '-' : '') + sortField" ng-class="{'even': $index % 2, 'odd': !($index %2 )}">
        <td>
            <a href='~/Employee/{{ r.Id }}' target="_self">{{ r.LastName }}</a>
        </td>
        <td><span ng-if="r.EndDate" style="text-decoration: line-through; color: #aaa;">{{ r.FirstName }}</span>
            <span ng-if="!r.EndDate">{{ r.FirstName }}</span>
        </td>
        <td><a ng-if="!r.IsAbolished" href="{{ appRoot }}spa#/position/{{ r.PositionId }}">{{ r.PositionId }}</a>
            <span ng-if="r.IsAbolished" style="text-decoration: line-through; color: #aaa;">{{ r.PositionId }}</span>
        </td>
        <td><a href="{{ appRoot }}spa#/position/{{ r.PositionId }}">{{ r.Title }}</a></td>
        <td>{{ r.OuDesc }}</td>
        <td>{{ r.StartDate | date: 'M/d/yyyy' }}</td>
        <td>{{ r.EndDate | date: 'M/d/yyyy' }}</td>
    </tr>
</table>
</div>
@section footscript {
<script>
    var vm = @Html.Raw(Json.Encode(Model)); // TODO: verify whether this works with null Model, possibly move to template?
</script>
}