﻿@using HrAdmin2.Models;
@model EmpContractEmailInfo
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contract Expiration Reminder</title>
    <style type="text/css">
        body {
            background-color: #fff;
            color: #000;
            font-size: .85em;
            font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
            /*margin: 0;*/
            padding: 0;
        }

        /* Outlook ignores this too.  using deprecated <div align="center"> instead.
        table {
            margin-left: auto;
            margin-right: auto;
        }
        */
        table {
            text-align: left;
            width: 600px;
        }
        /*tr.heading {
            background-color: #DDDDDD;
        }
            (Outlook doesn't support CSS background-color for tables...use bgcolor instead.)
            */

        th {
            text-align: right;
        }

        td.heading {
            background-color: #DDD;
        }

        td.data {
            border: 1px solid black;
        }

        td.data-changed {
            border: 1px solid black;
            background-color: yellow;
        }

    </style>
</head>
<body>
    <p>Dear @Model.SupervisorName,</p>
    <p>
        The @(Model.WorkContractTypeDesc)/review period for <b>@Model.EmpName</b> will be completed soon. Please complete the employee’s PDP before this date. If you have any questions or concerns, please contact your HR Consultant.
    <p></p>
    <table>
    <tr bgcolor="#DDDDDD">
        <td colspan="2" class="heading">Contract Expiration</td>
    </tr>
    <tr>
        <th>Employee:</th>
        <td class="data"><a href="~/Employee/@Model.EmpId">@Model.EmpName</a></td>
    </tr>
    <tr>
        <th>Position:</th>
        <td class="data"><a href="~/Position/@Model.PositionId">@Model.WorkingTitle (@Model.PositionId)</a></td>
    </tr>
    <tr>
        <th>Contract Type:</th>
        <td class="data">@Model.WorkContractTypeDesc</td>
    </tr>
    <tr>
        <th>Contract Term Began:</th>
        <td class="data">@Model.ApptBegan.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Scheduled Completion:</th>
        <td class="data">@Model.ContractEndDate.ToShortDateString()</td>
    </tr>
    </table>
</body>
</html>