﻿@using HrAdmin2.Models
@using HrAdmin2.Models.ViewModels

@model AdminVm
@{
    ViewBag.Title = "Admin Tools";
    var i = 0;
}
<h5>Manage</h5>

<ul>
    <li><a href="@(Url.Content("~") + "BulkUpdate")">Bulk Updates</a></li>
    <li><a href="@(Url.Content("~") + "CostCenter")">Cost Centers</a></li>
    <li><a href="@(Url.Content("~") + "Expiration")">Expirations</a>
        <ul>
            <li><a href="@(Url.Content("~") + "Expiration#/ExpiringDelegate")">Approval Delegates</a></li>
            <li><a href="@(Url.Content("~") + "Expiration#/ExpiringContract")">Employment Contracts</a></li>
        </ul>
    </li>
    <li><a href="@(Url.Content("~") + "Impersonation")">Impersonation</a></li>
    <li><a href="@(Url.Content("~") + "JobClass")">Job Classes</a></li>
@*    <li><a href="@(Url.Content("~") + "AuthAdmin")">Role Authorization</a></li>*@
    <li><a href="@(Url.Content("~") + "User")">Manage Users</a></li>
    <li><a href="#">Key Competencies</a></li>
</ul>