﻿@model HrAdmin2.Models.ViewModels.JobClassListVm

@{
    ViewBag.Title = "CTS Job Classes";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}

@section headscript {
<script>
    var rows = @Html.Raw(Json.Encode(Model.JobClasses)); // raw JSON for use as Angular Model.
</script>
<script src="~/Scripts/app/ng-admin.js"></script>
}

<h3>Manage Job Classes</h3>
<div id="ng-app" ng-app="admin" ng-controller="JobClassController">
<!-- TODO: consider column enumerator for resultset model -->
<table class="admintable">
    <tr>
        <th style="width: 14px;"></th>
        <th><a ng-click="sort('IsActive')">Active?</a></th>
        <th><a ng-click="sort('JobTitle')">Job Class</a></th>
        <th><a ng-click="sort('LegacyCode')">Class Code</a></th>
        <th><a ng-click="sort('HrmsJobId')">HRMS Job ID</a></th>
        <th><a ng-click="sort('TotalPositions')">Positions</a></th>
        <th><a ng-click="sort('Vacancies')">Vacancies</a></th>
    </tr>
    <tr class="editrow" ng-class="{'async-add': isAdding(newItem)}">
        <td>
            <div ng-switch on="isAdding(newItem)">
                <span ng-switch-when="true"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
            </div>
        </td>
        <td style="text-align: center;"><input type="checkbox" ng-checked="isActive(newItem)" ng-model="newItem.IsActive" /></td>
        <td><input type="text" placeholder="New Job Class" ng-model="newItem.JobTitle" /></td>
        <td><input type="text" placeholder="Class Code" ng-model="newItem.LegacyCode" /></td>
        <td><input type="text" placeholder="HRMS Job Id" ng-model="newItem.HrmsJobId" /></td>
        <td colspan="2" style="text-align: center;"><button style="width: 100%;" ng-click="addItem(newItem)">add</button></td>
    </tr>
    <tr ng-cloak ng-class="{'was-added': wasAdded(item), 'even': $index % 2, 'odd': !($index %2 ), 'row-selected': isSelected(item), 'async-add': isAdding(item), 'async-update': isUpdating(item), 'async-delete': isDeleting(item) }" ng-repeat="item in classcodes">
@*        <tr class="listrow" onclick="highlight(this);">*@
            <td>
                <div ng-switch on="isAdding(item) || isUpdating(item) || isDeleting(item)">
                    <span ng-switch-when="true"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
                </div>
                <div ng-switch on="item.TotalPositions == 0 && !isDeleting(item) && !isUpdating(item)">
                    <a ng-switch-when="true" ng-click="deleteItem(item)">X</a>
                </div>
            </td>
            <td style="text-align: center;"><input type="checkbox" value="1" ng-click="updateItem(item, $event)" ng-checked="isActive(item)" ng-disabled="hasPositions(item)" /></td>
            <td ng-class="{ inactive: ! item.IsActive }">{{ item.JobTitle }}</td>
            <td ng-class="{ inactive: ! item.IsActive }" style="text-align: right;">{{ item.LegacyCode }}</td>
            <td ng-class="{ inactive: ! item.IsActive }" style="text-align: right;">{{ item.HrmsJobId }}</td>
            <td style="text-align: right;"><span ng-switch on="item.TotalPositions > 0"><a ng-switch-when="true" ng-click="openPositionList(item, {} )">{{ item.TotalPositions }}</a><span ng-switch-default>{{ item.TotalPositions }}</span></span></td>
            <td style="text-align: center;"><span ng-switch on="item.Vacancies > 0"><a ng-switch-when="true" ng-click="openPositionList(item, {'IsVacant': true})">{{ item.Vacancies }}</a><span ng-switch-default>{{ item.Vacancies}}</span></span></td>
    </tr>
    </table>
</div>