﻿@model HrAdmin2.Models.ViewModels.UserMgtVm
@{
    ViewBag.Title = "Manage User Roles";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}
@section headscript {
<script>
    var empusers = @Html.Raw(Json.Encode(Model.EmpUsers)); // raw JSON for use as Angular Model.
</script>
<script src="~/Scripts/app/ng-admin.js"></script>
}

<h3>@ViewBag.Title</h3>

<div id="ng-app" ng-app="admin" ng-controller="UserMgtController">
Employee: @Html.DropDownList("EmployeeSelect", Model.CurrentEmployees, new Dictionary<string, object> { {"ng-model", "emp.Id" }, {"ng-change", "changeUser()"} })
Role: <select id="AppRole" ng-model="user.RoleId" ng-change="updateUserRole()">
    <option value=""> - select - </option>
    <option value="1">Administrator</option>
    <option value="2">HR Staff</option>
    <option value="3">Supervisor</option>
    <option value="4">Standard User</option>
    <option value="5">Office Support</option>
</select>
<span ng-class="{'async-update': isUpdating()}">{{ status }}</span>
</div>