﻿@using HrAdmin2.Models;
@using HrAdmin2.Models.ViewModels;

@{
    var ui = (Model != null && (Model.GetType() == typeof(BaseVm) || Model.GetType().IsSubclassOf(typeof(BaseVm)))) ? Model.CurrentUser
        : new HrAdminDbContext().GetSingleByProc<CurrentUserInfo>("GetUserInfoNew", new { LanId = User.Identity.Name });
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/KendoUI/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/KendoUI/kendo.default.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/app/polyfills.js"></script>
    <script src="~/Scripts/KendoUI/angular.min.js"></script>
    <script src="~/Scripts/KendoUI/angular-route.js"></script>
    <!-- Kendo UI Web combined JavaScript...omitting custom bundle now for compatibility with angular-kendo. -->
    <script src="~/Scripts/KendoUI/kendo.web.min.js"></script>
    <script src="~/Scripts/KendoUI/angular-kendo.js"></script>
    <link href="~/Content/SiteBasic.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("headscript", false)
    @RenderSection("pagecss", false)
</head>
<body>
    <header>
        <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("HR Admin", "Index", "PositionHierarchy")</p>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Organization", "Index", "PositionHierarchy")</li>
@*                            <li>@Html.ActionLink("PAR List", "Index", "Par", new { WorkflowStatusId=1, FromDate=DateTime.Now.AddMonths(-3) }, null)</li>*@
                            @if (ui.RoleName == "Admin" || ui.RoleName == "HR" || ui.RoleName == "Supervisor")
                            {
                            <li>@Html.ActionLink("PAR", "Index", "Par", new { WorkflowStatusId=1 }, null)</li>
                            <li>@Html.ActionLink(
                                linkText: "PDF",
                                actionName: "Index",
                                controllerName: "spa",
                                protocol: null,
                                hostName: null,
                                fragment: "/pd", // AngularJS route...
                                routeValues: new object { },
                                htmlAttributes: new Object { })</li>
                            }
                             @if (ui.RoleName == "Admin" || ui.RoleName == "HR" || ui.RoleName == "OfficeSupport" || ((string)ui.LanId).Equals("dis\\laurelf", StringComparison.CurrentCultureIgnoreCase))
                             {
                            <li>@Html.ActionLink("Checklist", "Index", "Checklist")</li>
                             }
                             @if (ui.RoleName == "Admin" || ui.RoleName == "HR")
                             {
                            <li>@Html.ActionLink("Delegate", "Index", "Delegation")</li>
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                             }
                            @if (ui.RoleName == "Admin" || ui.RoleName == "HR" || ui.RoleName == "Supervisor")
                            {
                            <li>@Html.ActionLink("My Approvals", "Index", "Approval")</li>    
                            }
@*                            <li>@Html.ActionLink(
                                linkText: "My Info",
                                actionName: "Index",
                                controllerName: "spa",
                                protocol: null,
                                hostName: null,
                                fragment: "/myinfo", // AngularJS route...
                                routeValues: new object { },
                                htmlAttributes: new Object { })</li>*@

                            <li>@Html.ActionLink("Search", "Index", "Search2")</li>
                            &nbsp;&nbsp;&nbsp;
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <section id="login">
                        @*Hello, <span class="username">@User.Identity.Name.Substring(User.Identity.Name.IndexOf('\\')+1)</span>!*@
                            Hello,
                            @if (ui.LanId != ui.RealLanId)
                            {
                               <span class="username"><a href="@Url.Content("~" + "/Impersonation")">@ui.FirstName</a> (@ui.RoleName)</span>
                            }
                            else
                            {
                               <span class="username">@ui.FirstName</span>
                            } !
                    </section>
                </div>
            </div>
    </header>
    <!-- *NOTE*, <section> tag requires modernizr. using div only here for now...-->
    <div id="body" class="content-wrapper main-content clear-fix">
            @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <script>
        // JS globals
        var appRoot = '@Url.Content("~")';
    </script>
    @RenderSection("footscript", false)
</body>
</html>