﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Auth Error";
}

<hgroup class="title">
    <h1 class="error">Authorization Error.</h1>
    <h3>You are not authorized for the attempted action.</h3>
</hgroup>
