﻿@model HrAdmin2.Models.ViewModels.EmployeeVm
@{
    ViewBag.Title = String.Format("{0}, {1}", Model.Emp.LastName, Model.Emp.PreferredName);   
}
<div id="ng-app" ng-app="emp" ng-controller="EmpDetailController">
<h2>@Model.Emp.LastName, @Model.Emp.PreferredName Detail (@Model.Emp.HrmsPersonId)</h2>
<div class="breadCrumb">
    <a ng-click="expandAll()">Expand</a> / <a ng-click="collapseAll()">Collapse</a> All
</div>
<div style="min-height: 1.6em; font-size: .9em;">
    <div class="formAction">
        @if (Model.CurrentUser.RoleName == "Admin" || Model.CurrentUser.RoleName == "HR")
        {
        <select id="EmpAction" class="action-selector">
            <option value =""> - Select Employee Action - </option>
            <option value ="U3-name">change name only</option>
            <option value ="U3-pay">change pay only</option>
            <option value ="UJ">change status</option>
            <option value ="U3-2">change work schedule</option>
            <option value ="U5-16">did not start</option>
            <option value ="U3">modify appointment</option>
            <option value ="U8">schedule leave of absence</option>
            <option value ="UA">return from leave of absence</option>
            <option value ="U5">separate (non-transfer)</option>
            <option value ="U3-81">separate (transfer out)</option>
        </select>
        <a ng-click="performAction('EmpAction');">create PAR</a>
        }
        <a href="@(Url.Content("~"))Par?EmployeeId=@Model.Emp.Id">PAR history</a>
    </div>
    <div id="statusbar2" style="background-color: #ffdd88;">
        <span id="Spinner2" style="display: none;"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
        <span id="PosStatusMessage"></span>
    </div>
</div>
<ul kendo-panel-bar="panelbar" k-options="options.PanelBar" style="width: 720px;">
    <li id="panel-main" class="k-state-active">
        <span class="k-link k-state-selected">Employee Information</span>
        <div class="panel-content">
        <table id="empDetail" class="itemDetail" border="1">
            <tr>
                <th>Personnel Number:</th>
                <td><span>@Model.Emp.HrmsPersonId</span></td>
            </tr>
            <tr>
                <th style="width: 200px;">Current Position:</th>
                <td style="width: 450px;"><span><b>HRMS Pos#:</b> @Model.Emp.HrmsPositionId <b>CTS Pos#:</b> <a href="@(String.Format("{0}spa#/Position/{1}", Url.Content("~"), Model.Emp.LegacyPositionNum))">@Model.Emp.LegacyPositionNum</a> <b>Is Primary?:</b> @(Model.Emp.IsPrimary ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th style="width: 200px;">Fill Level:</th>
                <td style="width: 450px;"><span>@Model.Emp.FillLevelDesc (@Model.Emp.FillLevelClassCode)</span></td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td><span>@Model.Emp.FirstName</span></td>
            </tr>
            <tr>
                <th>Preferred Name:</th>
                <td><span>@Model.Emp.PreferredName</span></td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td><span>@Model.Emp.LastName</span></td>
            </tr>
            <tr>
                <th>Middle Name/Init:</th>
                <td><span>@Model.Emp.MiddleName</span></td>
            </tr>
            <tr>
                <th>Suffix:</th>
                <td><span>@Model.Emp.Suffix</span></td>
            </tr>
            <tr>
                <th>Lanid:</th>
                <td><span>@Model.Emp.LanId</span></td>
            </tr>
            @if (Model.CurrentUser.RoleName.Equals("HR") || Model.CurrentUser.RoleName.Equals("Admin"))
            {
            <tr>
                <th>Date of Birth:</th>
                <td><span>@(Model.Emp.DOB.HasValue ? Model.Emp.DOB.Value.ToShortDateString() : "")</span></td>
            </tr>
            }
            <tr>
                <th>Phone:</th>
                <td><span>@Model.Emp.WorkPhone</span></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><span>@Model.Emp.Email</span></td>
            </tr>
            <tr>
                <th>Location:</th>
                <td><span>@Model.Emp.LocationDesc (@Model.Emp.OfficeLoc)</span></td>
            </tr>
            <!-- TODO: hide this row for non-admins -->
            @if (Model.CurrentUser.RoleName == "Admin")
            {
            <tr>
                <th>Application Role:</th>
                <td>@Model.Emp.AppRole</td>
            </tr>
            }
        </table>
        </div>
    </li>
    <li id="panel-appt">Appointment Information
        <div class="panel-content">
        <table id="apptDetail" class="itemDetail" border="1">
            <tr>
                <th style="width: 200px;">Fill Level:</th>
                <td style="width: 450px;"><span>@Model.Emp.FillLevelDesc (@Model.Emp.FillLevelClassCode)</span></td>
            </tr>
            <tr>
                <th>Contract Type:</th>
                <td><span>@Model.Emp.WorkContractTypeDesc (@Model.Emp.ContractTypeCode)</span></td>
            </tr>
            <tr>
                <th>Contract Ending:</th>
                <td><span>@(Model.Emp.ContractEndDate.HasValue ? Model.Emp.ContractEndDate.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Work Schedule:</th>
                <td><span>@Model.Emp.EmpWorkScheduleDesc (@Model.Emp.WorkScheduleCode)</span></td>
            </tr>
            <tr>
                <th>Percent Fulltime:</th>
                <td><span>@Model.Emp.EmploymentPercent</span></td>
            </tr>
            <tr>
                <th>Time Mgt. Status:</th>
                <td><span>@Model.Emp.TimeMgtStatusDesc (@Model.Emp.TimeMgtStatus)</span></td>
            </tr>

            <tr>
                <th>Designated Work Week:</th>
                <td><span>@Model.Emp.DesignatedWorkWeek</span></td>
            </tr>
            <tr>
                <th>Work Hours, Week 1:</th>
                <td>@Model.Emp.WorkHoursWk1</td>
            </tr>
            <tr>
                <th>Work Hours, Week 2:</th>
                <td>@Model.Emp.WorkHoursWk2</td>
            </tr>
        </table>
        </div>
    </li>
    @if (Model.CurrentUser.RoleName.Equals("HR") || Model.CurrentUser.RoleName.Equals("Admin"))
    {
    <li>Basic Pay Information
    <div class="panel-content">
        <table id="payDetail" class="itemDetail" border="1">
            <tr>
                <th style="width: 200px;">Effective Date:</th>
                <td style="width: 450px;">@(Model.Emp.PayScaleEffectiveDate.HasValue ? Model.Emp.PayScaleEffectiveDate.Value.ToShortDateString() : "")<span></span></td>
            </tr>
            <tr>
                <th>Change Reason:</th>
                <td><span>@Model.Emp.PayScaleReasonDesc (@Model.Emp.PayScaleReason)</span></td>
            </tr>
            <tr>
                <th>Pay scale type - area:</th>
                <td><span>@Model.Emp.PayGradeTypeAreaDesc (@Model.Emp.PayGradeArea)</span></td>
            </tr>
            <tr>
                <th>Pay scale group:</th>
                <td><span>@Model.Emp.PayScaleGroup</span></td>
            </tr>
            <tr>
                <th>Pay scale level:</th>
                <td><span>@Model.Emp.PayScaleLevel</span></td>
            </tr>
            <tr>
                <th>Next Increase:</th>
                <td><span>@(Model.Emp.PayNextIncrease.HasValue ? Model.Emp.PayNextIncrease.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Step M Eligibility:</th>
                <td><span>@(Model.Emp.StepMEligibleDate.HasValue ? Model.Emp.StepMEligibleDate.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Cap Utility level:</th>
                <td><span>@Model.Emp.PayCapUtilityLevel</span></td>
            </tr>
            <tr>
                <th>Annual Salary:</th>
                <td><span>@Model.Emp.PayAnnualSalary</span></td>
            </tr>
            <tr>
                <th>Hourly Rate:</th>
                <td><span>@Model.Emp.PayHourlyRate</span></td>
            </tr>
            <tr>
                <th>Shift Differential?:</th>
                <td>@(Model.Emp.PayShiftDifferential ? "Yes" : "No")</td>
            </tr>
            <tr>
                <th>Standby Pay?:</th>
                <td>@(Model.Emp.StandbyPay ? "Yes" : "No")</td>
            </tr>
        </table>
    </div>
    </li>
    <li>Address Information
    <div class="panel-content">
            @foreach (var addresses in Model.Emp.Address)
            {
         <table id="addDetail" class="itemDetail" border="1">
            <tr>
                <th style="width: 200px;">Address Type:</th>
                <td style="width: 450px;">@addresses.AddressType.ToString()<span></span></td>
            </tr>
            <tr>
                <th>Address Line 1:</th>
                <td><span>@addresses.StreetLine1.ToString()</span></td>
            </tr>
            <tr>
                <th>Address Line 2:</th>
                <td><span>@addresses.StreetLine2.ToString()</span></td>
            </tr>
            <tr>
                <th>City, State Zip:</th>
                <td><span>@addresses.City.ToString(), @addresses.State.ToString() @addresses.ZipCode.ToString()</span></td>
            </tr>
            <tr>
                <th>Home Phone:</th>
                <td><span>@addresses.HomePhone.ToString()</span></td>
            </tr>
           
        </table>
            }
    </div>
    </li>
    <li>Diversity Information
    <div class="panel-content">
        <table id="divDetail" class="itemDetail" border="1">
            <tr>
                <th style="width: 200px;">Gender:</th>
                <td style="width: 450px;"><span>@Model.Emp.GenderDesc</span></td>
            </tr>
            <tr>
                <th>Race:</th>
                <td><span></span></td>
            </tr>
            <tr>
                <th>Hispanic?:</th>
                <td><span>@(Model.Emp.Hispanic ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th>Military Status:</th>
                <td><span>@Model.Emp.MilStatusCodes</span></td>
            </tr>
            <tr>
                <th>Military Branch:</th>
                <td><span>@Model.Emp.MilBranchCodes</span></td>
            </tr>
            <tr>
                <th>Disability?:</th>
                <td><span>@(Model.Emp.Disability ? "Yes" : "No")</span></td>
            </tr>
        </table>
    </div>
    </li>
        
         <li>Leave
    <div class="panel-content-leave">
        <table id="leaveDetail" class="itemDetailLeave" border="1">
        <tr>
                            <th style="text-align:left;">Leave Type</th>
                            <th style="text-align:left;">Beginning Balance</th>
                            <th style="text-align:left;">Leave Earned</th>
                            <th style="text-align:left;">Leave Taken</th>
                            <th style="text-align:left;">Ending Balance</th>
                        </tr>
                         @foreach (var empleave in Model.Emp.Leave)
                         {
                        <tr>
                            <td>@empleave.LeaveTypeDesc.ToString()</td>
                            <td style="text-align:right;">@empleave.BeginningBalance.ToString()</td>
                            <td style="text-align:right;">@empleave.LeaveEarned.ToString()</td>
                            <td style="text-align:right;">@empleave.LeaveTaken.ToString()</td>
                            <td style="text-align:right;">@empleave.EndBalance.ToString()</td>
                        </tr>
                         }
                    </table>
     </div>
 </li>
        <li>Emergency Contacts
    <div class="panel-content">
        
      @foreach (var emercontacts in Model.Emp.EmerContacts)
             {
         <table id="contactDetail" class="itemDetail" border="1">
            <tr>
                <th style="width: 200px;">Member:</th>
                <td style="width: 450px;">@emercontacts.Member.ToString()<span></span></td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td><span>@emercontacts.LastName.ToString()</span></td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td><span>@emercontacts.FirstName.ToString()</span></td>
            </tr>
            <tr>
                <th>Phone Number:</th>
                <td><span>@emercontacts.TelephoneNumber.ToString()</span></td>
            </tr>
           
           
        </table>
             }
            
    </div>
</li>
    }
    <li>Date Specifications
    <div class="panel-content">
        <table id="datespecDetail" class="itemDetail" border="1">
            <tr>
                <th style="width: 200px;">Anniversary:</th>
                <td style="width: 450px;"><span>@(Model.Emp.AnniversaryDT.HasValue ? Model.Emp.AnniversaryDT.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Appointment:</th>
                <td><span>@(Model.Emp.AppointmentDT.HasValue ? Model.Emp.AppointmentDT.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>CTS Hire:</th>
                <td><span>@(Model.Emp.OriginalHireDT.HasValue ? Model.Emp.OriginalHireDT.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Prior PID:</th>
                <td><span>@(Model.Emp.PriorPidDT.HasValue ? Model.Emp.PriorPidDT.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Seniority:</th>
                <td><span>@(Model.Emp.SeniorityDT.HasValue ? Model.Emp.SeniorityDT.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Unbroken Service:</th>
                <td><span>@(Model.Emp.UnbrokenServiceDT.HasValue ? Model.Emp.UnbrokenServiceDT.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Vacation Leave Frozen:</th>
                <td><span>@(Model.Emp.VacLvFrozenUpToDT.HasValue ? Model.Emp.VacLvFrozenUpToDT.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Personal Holiday Eligibility:</th>
                <td><span>@(Model.Emp.PrsnlHolidayElgbltyDT.HasValue ? Model.Emp.PrsnlHolidayElgbltyDT.Value.ToShortDateString() : "")</span></td>
            </tr>
            <tr>
                <th>Personal Leave Eligibility:</th>
                <td><span>@(Model.Emp.PrsnlLVDayElgbltyDT.HasValue ? Model.Emp.PrsnlLVDayElgbltyDT.Value.ToShortDateString() : "")</span></td>
            </tr>
        </table>
    </div>
    </li>
    <li>Position Information
    <div class="panel-content">
        <table id="EmpPosDetail" class="itemDetail" border="1">
            <tr>
                <th style="width: 200px;">HRMS Pos#:</th>
                <td style="width: 450px;"><span>@Model.Emp.HrmsPositionId</span></td>
            </tr>
            <tr>
                <th>CTS Pos#:</th>
                <td><span>@Model.Emp.LegacyPositionNum</span></td>
            </tr>
            <tr>
                <th>Job Class:</th>
                <td><span>@Model.Emp.JobDesc (@Model.Emp.LegacyClassCode)</span></td>
            </tr>
            <tr>
                <th>Working Title:</th>
                <td><span>@Model.Emp.WorkingTitle</span></td>
            </tr>
            <tr>
                <th>Cost Center:</th>
                <td><span>@Model.Emp.CostCenter</span></td>
            </tr>
            <tr>
                <th>Workers' Comp Code:</th>
                <td><span>@Model.Emp.WorkersCompDesc (@Model.Emp.WorkersCompCode)</span></td>
            </tr>
            <tr>
                <th>Organizational Unit:</th>
                <td><span>@Model.Emp.OrgUnitDesc</span></td>
            </tr>
            <tr>
                <th>Supervisor Position:</th>
                <td><span>@Model.Emp.SupervisorPositionId</span></td>
            </tr>
            <tr>
                <th>Personnel Area:</th>
                <td><span>1630</span></td>
            </tr>
            <tr>
                <th>Personnel Subarea:</th>
                <td><span>@Model.Emp.PersonnelSubAreaDesc (@Model.Emp.PersonnelSubArea)</span></td>
            </tr>
            <tr>
                <th>EE Group:</th>
                <td><span>@Model.Emp.EeGroupDesc (@Model.Emp.EeGroup)</span></td>
            </tr>
            <tr>
                <th>EE Subgroup:</th>
                <td><span>@Model.Emp.EeSubGroupDesc (@Model.Emp.EeSubGroup)</span></td>
            </tr>
            <tr>
                <th>Pay Grade Type-Area:</th>
                <td><span>@Model.Emp.PayGradeTypeAreaDesc (@Model.Emp.PayGradeArea)</span></td>
            </tr>
            <tr>
                <th>Pay Grade:</th>
                <td><span>@Model.Emp.PayGrade</span></td>
            </tr>
            <tr>
                <th>In Training?:</th>
                <td><span>@(Model.Emp.IsInTraining ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th>Shift:</th>
                <td><span>@Model.Emp.ShiftCode</span></td>
            </tr>
            <tr>
                <th>Requires Background Check?:</th>
                <td><span>@(Model.Emp.IsBackgroundCheckRequired ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th>Is Appointing Authority?:</th>
                <td><span>@(Model.Emp.IsAppointingAuthority ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th>Is Manager?:</th>
                <td><span>@(Model.Emp.IsManager ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th>Is Supervisor?:</th>
                <td><span>@(Model.Emp.IsSupervisor ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th>JVAC:</th>
                <td><span></span></td>
            </tr>
            <tr>
                <th>Point Value:</th>
                <td><span></span></td>
            </tr>
            <tr>
                <th>Section 4?:</th>
                <td><span>@(Model.Emp.IsSection4 ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th>Tandem?:</th>
                <td><span>@(Model.Emp.IsTandem ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <th>Location:</th>
                <td><span>@Model.Emp.LocationDesc (@Model.Emp.OfficeLoc)</span></td>
            </tr>
            <tr>
                <th>Default Schedule::</th>
                <td><span>@Model.Emp.DefaultWorkScheduleDesc (@Model.Emp.DefaultWorkScheduleCode)</span></td>
            </tr>
        </table>
    </div>
    </li>
</ul>

</div>

@section scripts {
    <script>
        angular.module('emp', ['kendo.directives'])
        .controller('EmpDetailController', function ($scope) {
            $scope.expandAll = function() {
                $scope.panelbar.options.expandMode = "multiple";
                $scope.panelbar.expand($('li'));
            };
            $scope.collapseAll = function () {
                $scope.panelbar.options.expandMode = "single";
                $scope.panelbar.collapse('li');
            }
            // config options for KendoUI widgets:
            $scope.options = {
                PanelBar: {
                    animation: {
                        collapse: {
                            duration: 300
                        },
                        expand: {
                            duration: 300,
                            effects: 'expandVertical'
                        }
                    },
                    //expandMode: "multiple"
                    expandMode: "single",
                }
            }
            $scope.performAction = function(selectorId) {
                var action = $('#' + selectorId).val();
                if (action != '') { // skip if no selection
                    doAction($('#' + selectorId).val(), 'Emp');
                }
            }
        });

        function doAction(actionCode, itemType) {
            var ari; // optional ActionReasonId
            var code;
            pco = nco = false; // Pay / Name Change Only
            if (actionCode == '') return false;
            var cr = actionCode.split('-');
            code = cr[0];
            if (cr.length == 2) {
                ari = cr[1];
            }
            if (ari) {
                if (ari == "name") {
                    ari = "";
                    nco = true
                }
                else if (ari == "pay") {
                    ari = "";
                    pco = true
                }
            }
            createPar({
                //PositionId: posVm.Id(),
                // PositionId: n.attr('id'),
                // EmployeeId is irrelevant here:
                //                EmployeeId: (itemType == 'Emp') ? n.data('IncumbentId') : null,
                // TODO: modify GetEmployeeDetail to use Id instead of EmployeeId.
                PositionId: @Model.Emp.PositionId,
                EmployeeId: @Model.Emp.Id,
                ActionCode: actionCode,
                ActionReasonId: ari,
                IsTransferOut: (ari == '81'),
                IsNameChangeOnly: nco,
                IsPayChangeOnly: pco,
                IsNoShow: (ari == '16') // Erroneous Appt, using for NoShow.
            });
        }

        function createPar(parData) {
            // TODO: test that parData is not null and is an object...
            $('#PosStatusMessage').text('creating PAR');
            $('#statusbar2').fadeTo(0, 1);
            $('#Spinner2').show();

            $.ajax({
                type: 'POST',
                url: appRoot + 'api/par',
                data: parData,
                success: function (d) {
                    window.location = appRoot + 'par/' + d.Par.Id;
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }

    </script>
}
