﻿@model IEnumerable<HrAdmin2.Models.PositionAppointment>

@{
    ViewBag.Title = "Index";
}

<header>
    <style>
        .slick-row.grayOut, .slick-row.grayOut .slick-cell { 

            color:lightgray
        } 


        /* Currently selected row */    
        #myGrid .slick-row.active
        {    
          /*not working*/
            border: 2px solid black;
        }

        /* Currently selected cell */
        #myGrid .slick-cell.active
        {
          border: 2px solid black;
        }
    </style>

</header>

<div id="bindingRoot">
    Search by employee first or last name or position number:<br />
    <input type="text" id="q" style="width:150px;" /> 
    <button id="searchBtn" data-bind="click: function () { location.href = location.pathname+'?q='+$('#q').val() }">search</button>
    <input type="checkbox" id="includeVacancies" />Include Vacancies
    <input type="checkbox" id="includeHistorical" />Include Historical Appointments


<table>
  <tr>
    <td valign="top">
      <div id="myGrid" style="width:950px;min-width:600px;height:500px;"></div>
    </td>
  </tr>
</table>
<h2 >Selected:</h2>
<input type="text" id="selectedValue" value="" /><br/>



@*<table>
    <thead data-bind="if: searchResult && searchResult.length">
        <tr>
            <th>Employee</th>
            <th>Position</th>
            <th>Job Title</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: searchResult">
    <tr>
        <td><a data-bind="attr: { href: appRoot + 'employee/' + EmpId }, text: LastName + ', ' + FirstName"></a></td>
        <td><a data-bind="attr: { href: appRoot + 'position/' + PosId }, text: PosId"></a></td>
        <td data-bind="text: JobTitle"></td>
    </tr>
    </tbody>
</table>*@
</div>
@section scripts {
    
    @Scripts.Render("~/slickGrid")
    @Styles.Render("~/Content/slickGrid")

    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script>
        var appRoot = '@Url.Content("~")';
        var listJson = @Html.Raw(Json.Encode(Model));
        var vm = {}; // root viewmodel
        vm['searchResult'] = listJson;
        $( function() {
            //var start = new Date().getTime();
            ko.applyBindings(vm, $('#bindingRoot')[0]);
            //alert('binding took ' + (new Date().getTime() - start) + " ms.");
        });
    </script>

    <script>
        $("#q").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#searchBtn").click();
            }
        });
    </script>

    <script> 
        var grid;
        var data = [];
        var dataView;
        var columns = [
            {id: "FullName", name: "Employee", width: 150, sortable:true, field: "FullName"},
            {id: "PosId", name: "Position", minWidth:50, maxWidth:100,sortable:true,field: "PosId"},
            {id: "JobTitle", name: "Job Title", sortable:true, width:200, field: "JobTitle"},
            {id: "OrgUnitDesc", name: "Org Unit", width:200,sortable:true, field: "OrgUnitDesc"},
            {id: "StartDateJson", name: "Start Date", width:125,sortable:true, maxWidth:200,formatter: dateFormatter, field: "StartDateJson"},
            {id: "EndDateJson", name: "End Date", width:125,sortable:true, maxWidth:200,formatter: dateFormatter, field: "EndDateJson"},
            {id: "IsVacant", name: "Vacant", minWidth:50,sortable:true, maxWidth:100, field: "IsVacant"}
        ];

        function dateFormatter(row, cell, value, columnDef, dataContext)
        {
            if(value === '-62135568000000'){ 
                return '';
            }            
            
            var date = new Date(parseInt(value));
            //add one to month because Jan is 0
            return date.getMonth()+1 + '/' + date.getDate() + '/' + date.getFullYear();
        }
 
        var options = {
            enableCellNavigation: true,
            enableColumnReorder: false,
            enableAddRow: false,
            editable: false,
            multiColumnSort: true
        };

        var sortcol = "FullName";
        var filterVacant = true;
        var filterhistorical = true;
        var sortdir = 1;
        var searchString = "";

        function myFilter(item, args){
            if(filterVacant == true && item["IsVacant"] == filterVacant){
                return false;
            }

            if(filterhistorical == true && item["EndDateJson"] != '-62135568000000'){
                //special case to include when end date has not been reached yet
                var date = new Date(parseInt(item["EndDateJson"]))
                var today = new Date()
                if(date < today){
                    return false;
                }
            }
            
            if(args.searchString != "" && item["FullName"].toLowerCase().indexOf(args.searchString.toLowerCase()) == -1){
                return false;
            }
            return true;
        }
 
        $(function () {
            @if (Model == null) { return; }
            
            data = @Html.Raw(Json.Encode(Model));
            
            dataView = new Slick.Data.DataView({ inlineFilters: true });

            //grid = new Slick.Grid("#myGrid", data, columns, options);
            grid = new Slick.Grid("#myGrid", dataView, columns, options);
            grid.setSelectionModel(new Slick.RowSelectionModel());

            //wire up model events to drive the grid
            dataView.onRowCountChanged.subscribe(function (e, args) {
                grid.updateRowCount();
                grid.render();
            });
            dataView.onRowsChanged.subscribe(function (e, args) {
                grid.invalidateRows(args.rows);
                grid.render();
            });
       

            //function for sorting columns
            //http://mleibman.github.io/SlickGrid/examples/example-multi-column-sort.html
            grid.onSort.subscribe(function (e, args) {
                var cols = args.sortCols;

                dataView.sort(function (dataRow1, dataRow2) {
                    for (var i = 0, l = cols.length; i < l; i++) {
                        var field = cols[i].sortCol.field;
                        var sign = cols[i].sortAsc ? 1 : -1;
                        var value1 = dataRow1[field], value2 = dataRow2[field];
                        var result = (value1 == value2 ? 0 : (value1 > value2 ? 1 : -1)) * sign;
                        if (result != 0) {
                            return result;
                        }
                    }
                    return 0;
                });
                grid.invalidate();
                grid.render();
            });

            //wire up the search textbox to apply the filter to the model
            $("#selectedValue").keyup(function (e){
                searchString = this.value;
                updateFilter();
            });

            $("#includeHistorical").click(function(e){
                filterhistorical = !(this.checked);
                updateFilter();
            });

            $("#includeVacancies").click(function(e){
                filterVacant = !(this.checked);
                updateFilter();
            });

            function updateFilter(){
                dataView.setFilterArgs({
                    searchString: searchString,
                    filterVacant : filterVacant,
                    filterhistorical: filterhistorical
                });
                dataView.refresh();
            }
            

            //https://groups.google.com/forum/?fromgroups#!topic/slickgrid/DyrKBrEozCk
            //TODO: Doesn't work as intended, only applies filter after scrolling row off and back on to screen
            //data.getItemMetadata = function(index) {
            //    if (index === 3) {
            //        return {
            //            cssClasses: "grayOut"  // specify additional CSS class for a specific row
            //        };
            //        grid.invalidate();
            //        grid.render();
            //    }
            //};

            grid.onClick.subscribe(function (e) {
                var cell = grid.getCellFromEvent(e);
                $("#selectedValue").val('PosId='+data[cell.row].PosId);
                //row $("#selectedValue").val(data[cell.row].PosId);
                return;
                
                //if (grid.getColumns()[cell.cell].id == "priority") {
                //    if (!grid.getEditorLock().commitCurrentEdit()) {
                //        return;
                //    }

                //    var states = { "Low": "Medium", "Medium": "High", "High": "Low" };
                //    data[cell.row].priority = states[data[cell.row].priority];
                //    grid.updateRow(cell.row);
                //    e.stopPropagation();
                //}
            });

            //http://stackoverflow.com/questions/8593454/highlighting-a-slickgrid-row-when-clicked
            grid.highlightActiveRow = function () {
                var currentCell;
                var $canvas = $(this.getCanvasNode());

                currentCell = this.getActiveCell();

                $canvas.find(".slick-row").removeClass("active");
                if (currentCell) {
                    $canvas.find(".slick-row[row=" + currentCell.row + "]").addClass("active");
                }
            };

            grid.onActiveCellChanged.subscribe(function () {
                this.highlightActiveRow();
            });

            //initialize the model after all the events have ben hooked up
            dataView.beginUpdate();
            dataView.setItems(data);

            dataView.setFilter(myFilter);            
            dataView.setFilterArgs({
                searchString: searchString,
                filterVacant: filterVacant,
                filterhistorical: filterhistorical
            });
            //dataView.setFilterArgs(0);
            dataView.endUpdate();

            //if you don't want the items that are not visible (due to being filtered out
            // or being on a different page) to stay selected, pass 'false' to the second arg
            //dataView.syncGridSelection(grid, true);

        });

    </script>

}