﻿@model HrAdmin2.Controllers.OrgManagerVm
@{
    ViewBag.Title = "OrgUnit: " + Model.Tree.metadata["title"];
//    var omm = (HrAdmin2.Controllers.OrgManagerVm)Model;
    var omm = Model;
}
@*<div id="bindingRoot">
    <ul data-bind="template: { name: 'node_template', foreach: orgRoot }"></ul>
</div>*@
<div class="breadCrumb" id="crumbs" data-bind="foreach: $data"><a data-bind="attr: { href: appRoot + 'OrgUnit/' + Id }">
    <span data-bind="text: ShortName"></span></a>
    <span data-bind="text: (crumbJson.length && $data != crumbJson[crumbJson.length-1]) ? '&#187;' : ''"></span>
</div>
<div id="splitter">
<div id="one" style="width: 37%; height: 500px; float:left; border: 1px solid #AAA;">
    <div id="jsTree" style="height: 500px; overflow: auto;"><img src="~/Scripts/jstree/themes/default/throbber.gif" />building view...</div>
</div>
    <div id="two" style="display: inline-block; width: 62%;">
        <div id="tabs" style="height: 494px; background-color: white; overflow:auto;">
@*            <ul>
                <li><a href="#detail-org">Org Unit</a></li>
                <li><a href="#detail-pos">Position</a></li>
                <li><a href="#detail-appt">Employee</a></li>
            </ul>*@
            <div id="detail-org" style="display: none;">
                <div style="min-height: 1.6em; font-size: .9em;">
                    <div class="formAction" style="float: left; padding: 0px;">
                    <select id="OrgUnitAction" class="action-selector">
                        <option value =""> - Select OrgUnit Action - </option>
                        <option value ="createPosition">create new position in OU</option>
                        <option value ="jump">jump to selected OU</option>
                    </select>
                    <span onclick="performAction('OrgUnitAction');"><a href="javascript: return false;">go</a></span>
                    </div>
                </div>
                
                     <div id="org-accord" > @*style="padding-left: 30px;"*@
                <div class="HeadContainer">
                    <div class="HeaderText">
                       OrgUnit Detail
                    </div>
                    <div style="float: right; padding-right: .5em;">     
                    </div>
                    &nbsp;
                </div>
      @* <h3 style="padding-left: 30px;">OrgUnit Detail</h3>*@
                        
                <table id="ouDetail" class="itemDetail2">
                    <tr>
                        <th>ID</th>
                        <td>
                            <span data-bind="text: Id"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>HRMS ID</th>
                        <td>
                            <span data-bind="text: HrmsOrgUnitId"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            <span data-bind="text: Description"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Short Name</th>
                        <td>
                            <span data-bind="text: ShortName"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Abbreviation</th>
                        <td>
                            <span data-bind="text: Abbreviation"></span>
                        </td>
                    </tr>
@*                    <tr>
                        <th>HRMS description</th>
                        <td>[hrms desc]</td>
                    </tr>*@
                    <tr>
                        <th>Unit Supervisor</th>
                        <td>[working title (holder/vacant)]</td>
                    </tr>
                    <tr>
                        <th>Unit Type</th>
                        <td>["team", "division", etc.]</td>
                    </tr>
                </table>
                             
                </div>
            </div>
            <div id="detail-pos" style="padding: 0px; display: none;">
                @Html.Partial("~/Views/Position/TabDetail.cshtml")
            </div>
            <div id="detail-appt" style="padding: 0px; display: none;">
                @Html.Partial("~/Views/Employee/TabDetail.cshtml")
            </div>
        </div>
    </div>
</div>
<div id="help">
    <ul>
        <li>click items for detail, right-click or use item drop-down for available actions</li>
        <li>click arrow or double-click name to expand / collapse, hold Shift to include all subitems</li>
    </ul>
</div>
@section scripts {
@* NOTE, there can be no spaces between src and = for app root resolution to work!!! *@
    <script>
        var appRoot = '@Url.Content("~")';
        var treeJson = @Html.Raw(Json.Encode(Model.Tree));
        var crumbJson = @Html.Raw(Json.Encode(Model.Crumbs));
        var rootId = @omm.Tree.attr["id"];
    </script>
    <script src="~/Scripts/jstree/jquery.jstree.js"></script>
    <script src="~/Scripts/app/orgTree.js"></script>
    <script type="text/html" id="node_template">
        <li class="coc">
            <a data-bind="attr: { href: appRoot + 'position/' + Id(), target: '_self'}">
                <span data-bind = "css: { selectedPos: (Id() == $root.Id()) }, text: JobTitle"></span></a>
            <a data-bind="if: ! IsVacant(), attr: { href: appRoot + 'employee/' + EmployeeId(), target: '_self'}">
                <span data-bind="text: '[' + IncumbentLastName() + ']', css: { employee: true }"></span>
            </a>
            <span data-bind="visible: IsVacant(), text: '[VACANT ' + IncumbentLastName() + ']', css: { vacant: true }"></span>
            <ul style="list-style-type: none; padding-left: 16px;" data-bind="template: { name: 'node_template', foreach: SubPositions}"></ul>
        </li>
   </script>
}