﻿<hr />
    <a ng-href="@Url.Content("~")par/{{parApproval.ParId}}"><span>PAR: </span><span>{{parApproval.ParId}}</span></a>
            <table>
                <tr>
                    <th>Action</th>
                    <td><span>{{parApproval.ParActionCode}}</span></td>
                </tr>
                <tr ng-if="parApproval.ParActionReason">
                    <th>Reason</th>
                    <td><span>{{parApproval.ParActionReason}}</span></td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td>
                        <span>{{parApproval.ParPositionId}}</span>
                        <span>:&nbsp;</span>
                        <span>{{parApproval.ParPosWorkingTitle}}</span>
                    </td>
                </tr>
                <tr ng-if="parApproval.ParEmployeePreferredName">
                    <th>Employee</th>
                    <td><span>{{parApproval.ParEmployeePreferredName}}</span>
                        <span>&nbsp;</span>
                        <span>{{parApproval.ParEmployeeLastName}}</span>
                    </td>
                </tr>
                <tr ng-if="parApproval.SupervisorName">
                    <th>Supervisor</th>
                    <td><span>{{parApproval.SupervisorName}}</span></td>
                </tr>
                <tr>
                    <th>Effective Date</th>
                    <td><span>{{parApproval.EffectiveDateString}}</span></td>
                </tr>                                
            </table>
            <br />
            <span>Comment: </span><span ng-if="parApproval.ApprovalTaskVm.Status != 'Active'">{{parApproval.ApprovalTaskVm.Task.Comment}}</span>
            <br />      
            <textarea ng-if="parApproval.ApprovalTaskVm.Status == 'Active'" ng-model="parApproval.ApprovalTaskVm.Task.Comment" rows="3" style="margin: 0px; padding: 0px; width: 400px; max-width:400px"></textarea>
            <br />
            <span>
                <span style="font-weight:bold" ng-if="parApproval.ApprovalTaskVm.Status != 'Active'">{{parApproval.ApprovalTaskVm.Status}}</span>
                <input type="button" ng-if="parApproval.ApprovalTaskVm.Status == 'Active'" ng-click="approvalTaskApprove(parApproval.ApprovalTaskVm)" value="Approve" />
                <input type="button" ng-if="parApproval.ApprovalTaskVm.Status == 'Active'" ng-click="approvalTaskReject(parApproval.ApprovalTaskVm)" value="Reject" />
            </span>