﻿@model HrAdmin2.Models.ViewModels.ApprovalEmailVm
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
        <meta name="viewport" content="width=device-width" />
		<title>PAR Waiting For Approval</title>
		
        <style type="text/css">
            body {
                background-color: #fff;
                color: #000;
                font-size: .85em;
                font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
                /*margin: 0;*/
                padding: 0;
            }

            /* Outlook ignores this too.  using deprecated <div align="center"> instead.
            table {
                margin-left: auto;
                margin-right: auto;
            }
            */
            table {
                text-align: left;
                width: 600px;
            }
            /*tr.heading {
                background-color: #DDDDDD;
            }
                (Outlook doesn't support CSS background-color for tables...use bgcolor instead.)
                */

            th {
                text-align: right;
            }

            td.heading {
                background-color: #DDD;
            }

            td.data {
                border: 1px solid black;
            }

            td.data-changed {
                border: 1px solid black;
                background-color: yellow;
            }

        </style>
		
    </head>
	<body>
        <p>Dear @Model.EmailToPreferedName,</p>
        <p>A PAR is waiting for your approval.</p>
        <p><a href="@(Model.UrlPath + "par/" + Model.ParId)" >View and Approve Personnel Action Request #@Model.ParId</a></p>
        <p><a href="@(Model.UrlPath + "position/" + Model.EmployeePositionIdSentTo + "/approval")" >Visit all of your active approvals and delegations</a></p>
        <p>Thank you.</p>
        <hr />
        <div align="center">
            <table>
                <tr bgcolor="#DDDDDD">
                    <td colspan="2" class="heading">
                        CTS Personnel Action Request # @Model.ParId
                    </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td class="data">@Model.ParActionCode</td>
                </tr>
                <tr>
                    <th>Reason:</th>
                    <td class="data">@Model.ParActionReason</td>
                </tr>
                <tr>
                    <th>Position:</th>
                    <td class="data">@Model.ParPositionId, @Model.ParPosWorkingTitle</td>
                </tr>
                <tr>
                    <th>Employee:</th>
                    <td class="data">@Model.ParEmployeePreferredName @Model.ParEmployeeLastName</td>
                </tr>
                <tr>
                    <th>Supervisor:</th>
                    <td class="data">@Model.SupervisorName</td>
                </tr>
                <tr>
                    <th>Effective Date:</th>
                    <td class="data">@Model.EffectiveDateString</td>
                </tr>
                @if(Model.ApprovalTaskVm.ActiveDelegates.Count > 0)
                {
                    <tr bgcolor="#DDDDDD">
                        <td colspan="2" class="heading">Active Delegates for position @Model.ApprovalTaskVm.Task.ApproverPositionId: @Model.ApprovalTaskVm.ApproverPositionPersonPreferredName @Model.ApprovalTaskVm.ApproverPositionPersonLastName </td>
                    </tr>                    
                    foreach(var del in Model.ApprovalTaskVm.ActiveDelegates)
                    {
                        <tr><th>@del.LastName, @del.PreferredName</th></tr>
                    }
                }
            </table>
        </div>
	</body>
</html>
