﻿@model HrAdmin2.Models.Util.Approver
@{
    Layout = null;
    var a = Model;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>PD Created</title>
    <style  type="text/css">
    body {
        background-color: #fff;
        color: #000;
        font-size: .85em;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        /*margin: 0;*/
        padding: 0;
    }
    </style>
</head>
<body>
    Dear @(a.IsHR ? "HR" : a.ApproverFirstName + " " + a.ApproverLastName),
    <p>
    <a href="@(a.AppBaseUrl)spa#/Pd/@a.PdId">Position Description #@a.PdId</a> has been created by @a.CreatorFirstName @a.CreatorLastName,
    for @(a.PositionId.HasValue ? "Position #" + a.PositionId : "an undefined position") (@a.WorkingTitle), which is currently @( String.IsNullOrEmpty(a.FilledByName) ? "vacant" : "filled by " + a.FilledByName).
    </p>
    <p>
    The item awaits your approval, thank you.
    </p>
</body>
</html>