﻿@model HrAdmin2.Models.ViewModels.DelegationListVm

@{
    ViewBag.Title = "Delegation";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="statusbar" style="float: right; background-color: yellow;">
        <span id="Spinner" style="display: none;"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
        <span id="StatusMessage"></span>
</div>
<div id="DelegateCreateForm">

    <h3>Create New Delegate</h3>
    <table >
        <tr>
            <th>Delegate</th>
            <td>
                <input type="radio" id="EmpRadio" onclick="radioChange()" name="delegateDisplay" value="Employee" style="width:auto" checked="checked"/><span>Employee</span>
                <input type="radio" id="PosRadio" onclick="radioChange()" name="delegateDisplay" value="Position" style="width:auto" /><span>Position</span>
            </td>
        </tr>
        <tr>
            <th/>
            <td id="PosDisplay" style="display:none">
                @Html.DropDownList("PosList", Model.CurrentPos)
            </td>
            <td id="PosOfEmpDisplay">
                @Html.DropDownList("PosOfEmpList", Model.CurrentPosOfEmp)
            </td>
        </tr>
        <tr>
            <th>Delegate To</th>
            <td>
                @Html.DropDownList("EmpList", Model.CurrentEmp)
            </td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td><input type="text" class="date-input" id="StartDate" readonly /></td>
        </tr>
        <tr>
            <th>End Date</th>
            <td>
                <input type="text" class="date-input" id="EndDate" readonly />
                <input type="checkbox" id="IndefiniteCheck" value="Indefinite" onclick="noEndDate()"/> No End Date
            </td>
        </tr>
        @* Commented out because currently only one app *@
        <tr>
            <th>Apps</th>
            <td><input type="checkbox" value="1" id="PARcheckbox" checked/><span>PAR</span><br />
            <input type="checkbox" value="2" id="PDFcheckbox" checked/><span>PDF</span><br />
            <input type="checkbox" value="3" id="TimeSheetCheckbox" checked/><span>TimeSheet</span>
            </td>
        </tr>
        <tr>
            <th />
            <td>
                <input type="button" value="Create" style="width:auto" id="CreateDelegate" onclick="createDelegate()" />    
            </td>
        </tr>                              
    </table>
    <hr />
        <table id="NewDelegateTable" class="itemDetail" style="margin-top: 0px; margin-bottom: 0px; display:none; ">
            <tr>
                <th style="text-align: center;">Delegated</th>
                <th style="text-align: center;">Delegated To</th>
                <th style="text-align: center;">Start Date</th>
                <th style="text-align: center;">End Date</th>
                <th style="text-align: center;">Apps</th>
                <th style="text-align: center;"></th>
            </tr>
            <tbody id="NewDelegateList" data-bind="foreach: NewDelegates">
                <tr>
                    <td>
                        <span data-bind="text: DelegatedPositionIdString"></span><span>: </span><span data-bind="text: DelegatedPositionPersonLastName"></span><span>, </span><span data-bind="text: DelegatedPositionPersonPreferredName"></span>
                    </td>
                    <td>
                        <span data-bind="text: DelegatedToLastName"></span><span>, </span><span data-bind="text: DelegatedToPreferredName"></span>
                    </td>
                    <td>
                        <span data-bind="text: StartDateString"></span>
                    </td>
                    <td>
                        <span data-bind="text: EndDateString"></span>
                    </td>
                    <td>
                        <span data-bind="foreach: Delegate.Apps">
                            <span data-bind="text: Name"></span><span>&nbsp;</span>
                        </span>
                    </td>
                    <td>
                        <input type="button" data-bind="click: function (item) { delegateDelete(item); }" value="Delete" />                            
                    </td>
                </tr>
            </tbody>
        </table>
              
</div>    
    
<table id="DelegateList" class="parlist" data-bind="visible: $data.length" style="margin-left: 10px;">
    <tr>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('StartDate'); }">Start Date</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('EndDate'); }">End Date</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('DelegatedPositionIdString'); }">Delegated Position</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('DelegatedPositionPersonLastName'); }">Delegated Employee</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('DelegatedToLastName'); }">Delegated To</a>
        </th>
        <th>
            <span>Apps</span>
        </th>
@*        <th>
            <span></span>
        </th>*@
    </tr>
    <tbody data-bind="foreach: $data">
        <tr style="vertical-align:top;">
            <td>
                <span data-bind="text: formatJsonDate(StartDate())"></span>
            </td>
            <td>
                <span data-bind="visible: (Delegate.Indefinite() == true)">Indefinite</span>
                <span data-bind="visible: (Delegate.Indefinite() == false), text: formatJsonDate(EndDate())"></span>
            </td>
            <td style="white-space: nowrap;">
                <a data-bind="attr: { href: '@Url.Content("~")' + 'position/' + DelegatedPositionIdString() +'/approval'}">
                    <span style="color: blue;" data-bind="text: DelegatedPositionIdString"></span>
                    <span style="color: blue;">: </span>
                    <span style="color: blue;" data-bind="text: DelegatedPositionTitle"></span>
                </a>
            </td>
            <td>
                <span data-bind="text: DelegatedPositionPersonLastName"></span><span>, </span><span data-bind="text: DelegatedPositionPersonPreferredName"></span>
            </td>
            <td>
                <span data-bind="text: DelegatedToLastName"></span><span>, </span><span data-bind="text: DelegatedToPreferredName"></span>
            </td>
            <td style="white-space: nowrap;">
                <span data-bind="foreach: Delegate.Apps">
                    <span data-bind="text: Name"></span><span>&nbsp;</span>
                </span>
            </td>
@*            <td>
                <input type="button" data-bind="click: function (item) { delegateDelete(item); }" value="Delete" />
                <input type="button" data-bind="click: function (item) { undoDelegateDelete(item); }" value="Undo" />
            </td>*@
        </tr>
    </tbody>

</table>
@section scripts {
<script>

    var appRoot = '@Url.Content("~")';

    var vm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model.DelegationVm)));
    ko.applyBindings(vm, $('#NewDelegateTable')[0]);
    ko.applyBindings(vm.Results, $('#DelegateList')[0]);
    
    //ko.applyBindings(vm.Query, $('#SearchForm')[0]);
    var sortcol = '';

    $('#StartDate').datepicker();
    $('#EndDate').datepicker();

    function radioChange() {
        if($('#PosRadio').is(':checked')){
            $('#PosDisplay').show();
            $('#PosOfEmpDisplay').hide();
        }else if ($('#EmpRadio').is(':checked')){
            $('#PosDisplay').hide();
            $('#PosOfEmpDisplay').show();
        }
    }

    function noEndDate(){
        if($('#IndefiniteCheck').is(':checked')){
            $('#EndDate').hide();
        }else {
            $('#EndDate').show();
        }
    }

    // TODO: move this to util.js
    function formatJsonDate(d) {
        if (d == null) { // should normally not happen
            return ' ';
        }
        var fdate = new Date(parseInt(d.match(/\d+/)[0]));
        return (fdate.getMonth() + 1) + '/' + fdate.getDate() + '/' + fdate.getFullYear().toString().substr(2);
    }

    function createDelegate() {
        // TODO: test that parData is not null and is an object...
        $('#StatusMessage').text('creating Delegate');
        $('#statusbar').fadeTo(0, 1);
        $('#Spinner').show();
        
        var delegatedPositionId;
        if($('#PosRadio').is(':checked')){
            delegatedPositionId = $('#PosList').val()
        }else if ($('#EmpRadio').is(':checked')){
            delegatedPositionId = $('#PosOfEmpList').val()
        }

        
        var apps = [];
            
        if(document.getElementById("PARcheckbox").checked) {
            apps.push({Id: 1});
        };
        if(document.getElementById("PDFcheckbox").checked){ 
            apps.push({Id: 2});
        };
        if(document.getElementById("TimeSheetCheckbox").checked){ 
            apps.push({Id: 3});
        };

        $.ajax({
            type: 'POST',
            url: appRoot + 'api/ApprovalDelegate',
            data: {
                DelegatedPositionId: delegatedPositionId,
                DelegatedToPersonId: $('#EmpList').val(),
                StartDate: $('#StartDate').val(),
                EndDate: $('#EndDate').val(),
                Indefinite: $('#IndefiniteCheck').is(':checked'),
                Apps: apps //[{Id: 1}, {Id: 2}]//apps
            },
            success: function (d) {
                //returns delegateVm
                $('#NewDelegateTable').show();
                vm.NewDelegates.push(ko.mapping.fromJS(d));
                vm.NewDelegateCount(vm.NewDelegates().length);                
                $('#statusbar').fadeTo(1000, 0, function () {
                    $('#Spinner').hide();
                    $('#StatusMessage').text(''); // clear async message
                });
            },
            error: function (xrq, txtStatus, errThrown) {
                alert(xrq['responseText']);
                alert(txtStatus);
            }
        });
    }

    function delegateDelete(item){
        if (confirm('Delete Delegate?')) {
            $('#StatusMessage').text('deleting Delegate');
            $('#statusbar').fadeTo(0, 1);
            $('#Spinner').show();
            $.ajax({
                type: 'DELETE',
                url: appRoot + 'api/ApprovalDelegate/' + item.Delegate.Id(),//item.Delegate.Id,
                success: function (d) {
                    if(vm.NewDelegates().length == 0){
                        $('#NewDelegateTable').hide();
                    };
                    vm.NewDelegates.remove(item);
                    vm.NewDelegateCount(vm.NewDelegates().length);                
                    $('#statusbar').fadeTo(1000, 0, function () {
                        $('#Spinner').hide();
                        $('#StatusMessage').text(''); // clear async message
                    });
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }
    }

    function sortBy(c) {
        // TODO: sort by multiple columns?
        // seems to work automatically, retains previous sort if new col is minimally selective.
        // if sort col has been previously set and matches requested col, reverse direction:
        var dir = (c == sortcol) ? -1 : 1;
        vm.Results.sort(function(left, right) {
            if (left[c]() == null && c.indexOf('Date') == -1)
            {
                left[c]('');
            }
            if (right[c]() == null && c.indexOf('Date') == -1)
            {
                right[c]('');
            }
            if (left[c]() == null && right[c]() == null) {
                return 0;
            }
            if (left[c]() != null && right[c]() == null) {
                return dir * -1;
            }
            if (left[c]() == null && right[c]() != null) {
                return dir * 1;
            }
            
            return dir * (left[c]() == right[c]() ? 0 : left[c]() < right[c]() ? -1 : 1);            
        });
        // reset sort col if already reversed:
        sortcol = (dir == 1) ? c : '';
    }
</script>
}
