﻿@model HrAdmin2.Models.ViewModels.DelegationListVm

@{
    ViewBag.Title = "Delegation";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}

@section pagecss {
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/custom/css")
}

<div id="statusbar" style="float: right; background-color: yellow;">
        <span id="Spinner" style="display: none;"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
        <span id="StatusMessage"></span>
</div>
<div id="vmMapping" ng-app="delegateIndexApp" ng-controller="delegateIndexCtrl">
    <div id="DelegateCreateForm">

        <h3>Create New Delegate</h3>
        <table >
            <tr>
                <th>Delegate</th>
                <td>
                    <input type="radio" id="EmpRadio" onclick="radioChange()" name="delegateDisplay" value="Employee" style="width:auto" checked="checked"/><span>Employee</span>
                    <input type="radio" id="PosRadio" onclick="radioChange()" name="delegateDisplay" value="Position" style="width:auto" /><span>Position</span>
                </td>
            </tr>
            <tr>
                <th/>
                <td id="PosDisplay" style="display:none">
                    @Html.DropDownList("PosList", Model.CurrentPos)
                </td>
                <td id="PosOfEmpDisplay">
                    @Html.DropDownList("PosOfEmpList", Model.CurrentPosOfEmp)
                </td>
            </tr>
            <tr>
                <th>Delegate To</th>
                <td>
                    @Html.DropDownList("EmpList", Model.CurrentEmp)
                </td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td><input type="text" id="StartDate" kendo-date-picker /></td>
            </tr>
            <tr>
                <th>End Date</th>
                <td>
                    <span id="HideEndDate"><input type="text" id="EndDate" kendo-date-picker /></span>
                    <input type="checkbox" id="IndefiniteCheck" value="Indefinite" onclick="noEndDate()"/> No End Date
                </td>
            </tr>
            <tr>
                <th>Apps</th>
                <td><input type="checkbox" value="1" id="PARcheckbox" checked/><span>PAR</span><br />
                <input type="checkbox" value="2" id="PDFcheckbox" checked/><span>PDF</span><br />
                <input type="checkbox" value="3" id="TimeSheetCheckbox" checked/><span>TimeSheet</span>
                </td>
            </tr>
            <tr>
                <th />
                <td>
                    <input type="button" value="Create" style="width:auto" id="CreateDelegate" onclick="createDelegate()" />    
                </td>
            </tr>                              
      </table>
         <hr />
            <table id="NewDelegateTable" class="itemDetail" style="margin-top: 0px; margin-bottom: 0px; display:none; ">
                <tr>
                    <th style="text-align: center;">Delegated</th>
                    <th style="text-align: center;">Delegated To</th>
                    <th style="text-align: center;">Start Date</th>
                    <th style="text-align: center;">End Date</th>
                    <th style="text-align: center;">Apps</th>
                    <th style="text-align: center;"></th>
                </tr>
                <tbody id="NewDelegateList" ng-repeat="newDelegate in vm.NewDelegates" >
                    <tr>
                        <td>
                            {{newDelegate.DelegatedPositionIdString}}: {{newDelegate.DelegatedPositionPersonLastName}}, {{newDelegate.DelegatedPositionPersonPreferredName}}
                        </td>
                        <td>
                            {{newDelegate.DelegatedToLastName}}, {{newDelegate.DelegatedToPreferredName}}
                        </td>
                        <td>
                            {{newDelegate.StartDateString}}
                        </td>
                        <td>
                            {{newDelegate.EndDateString}}
                        </td>
                        <td>
                            <span ng-repeat="app in newDelegate.Delegate.Apps">
                                {{app.Name}}&nbsp;
                            </span>
                        </td>
                        <td>
                            <input type="button" ng-click="delegateDelete(newDelegate)" value="Delete" />                            
                        </td>
                    </tr>
                </tbody>
            </table>
              
    </div>    
    
    <table id="DelegateList" class="partable"@*class="parlist"*@ ng-if="vm.Results.length > 0" style="margin-left: 10px;">
        <tr>
            <th>
                <a style="color: white;" ng-click="sort('StartDate')">Start Date</a>
            </th>
            <th>
                <a style="color: white;" ng-click="sort('EndDate')">End Date</a>
            </th>
            <th>
                <a style="color: white;" ng-click="sort('DelegatedPositionIdString')">Delegated Position</a>
            </th>                                            
            <th>                                             
                <a style="color: white;" ng-click="sort('DelegatedPositionPersonLastName')">Delegated Employee</a>
            </th>                                            
            <th>                                             
                <a style="color: white;" ng-click="sort('DelegatedToLastName')">Delegated To</a>
            </th>
            <th>
                <span>Apps</span>
            </th>
            <th></th>
        </tr>
        <tbody ng-repeat="delegate in vm.Results">
            <tr style="vertical-align:top;">
                <td>
                    {{delegate.StartDateString}}
                </td>
                <td>
                    <span ng-if="delegate.Delegate.Indefinite == true">Indefinite</span>
                    <span ng-if="delegate.Delegate.Indefinite == false">{{delegate.EndDateString}}@*$(formatJsonDate({{delgate.EndDate}}))*@</span>
                </td>
                <td style="white-space: nowrap;">
                    <a ng-href="@Url.Content("~")position/{{delegate.DelegatedPositionIdString}}/approval">
                        <span style="color: blue;">{{delegate.DelegatedPositionIdString}}: {{delegate.DelegatedPositionTitle}}</span>
                    </a>
                </td>
                <td>
                    {{delegate.DelegatedPositionPersonLastName}}, {{delegate.DelegatedPositionPersonPreferredName}}
                </td>
                <td>
                    {{delegate.DelegatedToLastName}}, {{delegate.DelegatedToPreferredName}}
                </td>
                <td style="white-space: nowrap;">
                    <span ng-repeat="appD in delegate.Delegate.Apps">
                        {{appD.Name}}&nbsp;
                    </span>
                </td>
                <td>
                    <input type="button" ng-click="delegateOldDelete(delegate)" value="Delete" /> 
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts {

<script>

    var appRoot = '@Url.Content("~")';

    var delegateIndexApp = angular.module('delegateIndexApp',['kendo.directives']);

    delegateIndexApp.controller('delegateIndexCtrl', function ($scope, $filter) {
        $scope.vm = @Html.Raw(Json.Encode(Model.DelegationVm));

        $scope.delegateDelete = function(newDelegate){
            delegateDelete(newDelegate);
        }

        $scope.delegateOldDelete = function(delegate){
            delegateOldDelete(delegate);
        }

        $scope.reverseOrder = false;
        $scope.sortField = "StartDate";

        // TODO: set $scope.sortField instead of passing as arg (now using for sort toggle logic...)
        $scope.sort = function (colname) {
            if (colname == $scope.sortField) { // only reverse direction on second click
                $scope.reverseOrder = !$scope.reverseOrder;
            }
            else {
                // default to ascending order 
                $scope.reverseOrder = false;
            }
            // TODO: sort function for non-simple string sorts:
            var sorted = $filter('orderBy')($scope.vm.Results, colname, $scope.reverseOrder); // simple string sort, reversing
            $scope.vm.Results = sorted;
            $scope.sortField = colname;
        }

    });



    function radioChange() {
        if($('#PosRadio').is(':checked')){
            $('#PosDisplay').show();
            $('#PosOfEmpDisplay').hide();
        }else if ($('#EmpRadio').is(':checked')){
            $('#PosDisplay').hide();
            $('#PosOfEmpDisplay').show();
        }
    }

    function noEndDate(){
        if($('#IndefiniteCheck').is(':checked')){
            $('#HideEndDate').hide();
        }else {
            $('#HideEndDate').show();
        }
    }

    // TODO: move this to util.js
    function formatJsonDate(d) {
        if (d == null) { // should normally not happen
            return ' ';
        }
        var fdate = new Date(parseInt(d.match(/\d+/)[0]));
        return (fdate.getMonth() + 1) + '/' + fdate.getDate() + '/' + fdate.getFullYear().toString().substr(2);
    }

    function createDelegate() {
        if(checkDateRange($('#StartDate').val(),
            $('#EndDate').val(),
            $('#IndefiniteCheck').is(':checked'))){

            statusMessage('Creating Delegate');
        
            var delegatedPositionId;
            if($('#PosRadio').is(':checked')){
                delegatedPositionId = $('#PosList').val()
            }else if ($('#EmpRadio').is(':checked')){
                delegatedPositionId = $('#PosOfEmpList').val()
            }

        
            var apps = [];
            
            if(document.getElementById("PARcheckbox").checked) {
                apps.push({Id: 1});
            };
            if(document.getElementById("PDFcheckbox").checked){ 
                apps.push({Id: 2});
            };
            if(document.getElementById("TimeSheetCheckbox").checked){ 
                apps.push({Id: 3});
            };

            $.ajax({
                type: 'POST',
                url: appRoot + 'api/ApprovalDelegate',
                data: {
                    DelegatedPositionId: delegatedPositionId,
                    DelegatedToPersonId: $('#EmpList').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    Indefinite: $('#IndefiniteCheck').is(':checked'),
                    Apps: apps //[{Id: 1}, {Id: 2}]//apps
                },
                success: function (d) {
                    //returns delegateVm
                    $('#NewDelegateTable').show();

                    var scope = angular.element($("#vmMapping")).scope();
                    scope.$apply(function(){
                        scope.vm.NewDelegates.push(d);
                        scope.vm.NewDelegateCount = scope.vm.NewDelegates.length;
                    });
             
                    statusMessageHide();
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }
    }

    function statusMessage(msg){
        $('#StatusMessage').text(msg);
        $('#statusbar').fadeTo(0, 1);
        $('#Spinner').show();
    }

    function statusMessageHide(){
        $('#statusbar').fadeTo(1000, 0, function () {
            $('#Spinner').hide();
            $('#StatusMessage').text(''); // clear async message
        });
    }

    function delegateDelete(item){
        if (confirm('Delete Delegate?')) {
            statusMessage('Deleting Delegate');
            $.ajax({
                type: 'DELETE',
                url: appRoot + 'api/ApprovalDelegate/' + item.Delegate.Id,
                success: function (d) {
                    //remove delegate from list
                    var scope = angular.element($("#vmMapping")).scope();
                    scope.$apply(function(){
                        var index = scope.vm.NewDelegates.indexOf(item);
                        scope.vm.NewDelegates.splice (index, 1);
                        scope.vm.NewDelegateCount = scope.vm.NewDelegates.length;
                    });
                    
                    statusMessageHide();
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }
    }


    function delegateOldDelete(item){
        if (confirm('Delete Delegate?')) {
            statusMessage('Deleting Delegate');
            $.ajax({
                type: 'DELETE',
                url: appRoot + 'api/ApprovalDelegate/' + item.Delegate.Id,
                success: function (d) {
                    //remove delegate from list
                    var scope = angular.element($("#vmMapping")).scope();
                    scope.$apply(function(){
                        var index = scope.vm.Results.indexOf(item);
                        scope.vm.Results.splice (index, 1);
                        scope.vm.DelegateCount = scope.vm.NewDelegates.length;
                    });
                    
                    statusMessageHide();
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }
    }


    //http://stackoverflow.com/questions/73971/using-javascript-how-do-i-make-sure-a-date-range-is-valid
    function checkDateRange(start, end, indefinite) {
        // Parse the entries
        var startDate = Date.parse(start);
        var endDate = Date.parse(end);
        // Make sure they are valid
        if (isNaN(startDate)) {
            alert("The start date provided is not valid, please enter a valid date.");
            return false;
        }
        if(indefinite) return true;

        if (isNaN(endDate)) {
            alert("The end date provided is not valid, please enter a valid date.");
            return false;
        }
        // Check the date range, 86400000 is the number of milliseconds in one day
        var difference = (endDate - startDate) / (86400000 * 7);
        if (difference < 0) {
            alert("The start date must come before the end date.");
            return false;
        }
            
        return true;
    }
</script>
}
