﻿<!-- this is the new Employee Info summary (same template used for My Info...) -->
<h3>{{ vm.EmpInfo.FirstName + ' ' + vm.EmpInfo.LastName }}: <a ng-href="#/position/{{vm.EmpInfo.PositionId}}">{{ vm.EmpInfo.WorkingTitle }}</a>, {{ vm.EmpInfo.OrgUnitName }}</h3>
@*    This page may be reached through either #/employee/:id or #/myinfo (aka Home).  If using the /myinfo alias, the current employee id will be looked up from the current employee (respecting Impersonation if set).*@
<a href="{{ appRoot }}Employee/{{ vm.EmpInfo.Id }}">Employee Profile</a>
<div ng-if="vm.DirectReports.length">
@*<ul>
    <li ng-repeat="r in vm.DirectReports" style="padding: 2px 0px 2px 0px;"><span ng-if="r.PdId" style="background-color: yellow; padding: 0px 2px 0px 2px; border: 1px solid gray;"><a style="text-decoration: none;" ng-href="#/position/{{ r.PositionId }}/pd" title="{{ 'Most Recent: ' + (r.PdDate | date:'M/d/yyyy') }}">PD</a></span><span ng-if="!r.PdId" style="background-color: red; padding: 0px 2px 0px 2px; border: 1px solid gray;"><a style="color: white; text-decoration: none;" ng-href="#/position/{{ r.PositionId }}/pd" title="No Position Description on file">PD</a></span>
        <a ng-href="#/position/{{ r.PositionId }}">{{ r.WorkingTitle }}</a>
         [<span ng-if="!r.EmployeeId">VACANT</span><a ng-if="r.EmployeeId"><a ng-href="#/employee/{{r.EmployeeId}}">{{r.FirstName}} {{r.LastName}}</a>]
    </li>
</ul>*@
<h4>Team</h4>
<table class="partable" style="margin: 3px;">
    <tr>
        <th>Incumbent</th>
        <th>Position</th>
        <th>PD Status</th>
    </tr>
    <tr ng-repeat="r in vm.DirectReports" ng-class="{ even: $index % 2, odd: !($index %2) }">
        <td><a ng-if="r.EmployeeId" href="{{ appRoot }}employee/{{ r.EmployeeId }}">{{r.FirstName}} {{r.LastName}}</a>
            <span ng-if="! r.EmployeeId">[VACANT]</span>
        </td>
        <td><a ng-href="#/position/{{ r.PositionId }}">{{ r.WorkingTitle }}</a></td>
        <td><span ng-if="r.PdId && r.DaysOld > 500" style="background-color: #FEB;"><a ng-href="#/position/{{ r.PositionId }}/pd" title="{{ 'Most Recent: ' + (r.LastUpdatedAt | date:'M/d/yyyy') }}">[EXPIRED]</a></span>
            <span ng-if="r.PdId && r.DaysOld <= 500"><a ng-href="#/position/{{ r.PositionId }}/pd" title="{{ 'Most Recent: ' + (r.LastUpdatedAt | date:'M/d/yyyy') }}">{{ r.LastUpdatedAt | date:'M/d/yyyy' }}</a></span>
            <span ng-if="!r.PdId" style="background-color: #dcb;"><a ng-href="#/position/{{ r.PositionId }}/pd" title="No Position Description on file">[NONE] </a></span></td>
    </tr>
</table>
</div>