﻿<span kendo-notification="asyncNotification" k-options="options.AsyncNotification"></span>
<h4>Position Descriptions</h4>
<table class="searchForm">
    <tr>
        <th style="text-align: left;">Search Options</th>
        <th style="text-align: left;">Approval Status</th>
        <th style="text-align: left;">Updated Since</th>
    </tr>
    <tr>
        <td>
            <input type="checkbox" ng-model="vm.Query.IncludeOld" />Include all prior descriptions for each position<br />
            <input type="checkbox" ng-model="vm.Query.DirectReportsOnly" />Direct Reports only<br />
        </td>
        <td></td>
        <td>
            <input type="text" kendo-date-picker ng-model="vm.Query.UpdatedSince"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" style="width: 200px;" ng-model="vm.Query.QueryText"></input>
        </td>
        <td><input type="submit" ng-click="runQuery()" value="search" /></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">search by Working Title, Position # or Incumbent Name (last or first)
    </tr>
</table>
<a ng-click="createBlankPd()">Create new, blank PDF</a>
<hr />
<strong>{{ vm.Results.length }} found.</strong>
<div id="pdfGrid" kendo-grid="pdfGrid" k-options="options.Grid" />
<script id="asyncOpTemplate" type="text/x-kendo-template">
    <!-- TODO: dynamically calculate width based on rendered content? (wraps in Chrome without nowrap) -->
    <div class="async-op" style="background-color: \\#fd8; white-space: nowrap;">
        <img src="Images/throbber.gif" />
        <span style="font-weight: bold; font-size: 1.1em">#= message #</span>
    </div>
</script>