﻿<h3>Position Description History</h3>
<p>{{ vm.History.length }} Descriptions on file for Position # <a ng-href="#/position/{{ vm.Pos.Id }}">{{ vm.Pos.Id }}</a>, {{ vm.Pos.WorkingTitle }}</p>
<p>
    <a ng-click="createPD()">Create new</a> description for this position from current position data.  To preserve the content from a pre-existing Description, use the Clone option instead.  Approved / Completed PDs cannot be deleted.
</p>
<table ng-if="vm.History.length" class="partable" style="margin: 3px;">
    <tr>
        <th>Id</th>
        <th>Action</th>
        <th>Working Title</th>
        <th>Job Class</th>
        <th>Last Updated</th>
        <th>Approval Date</th>
        <th>Status</th>
    </tr>
    <tr style="cursor: pointer;" ng-class="{ even: $index % 2, odd: !($index %2) }" ng-repeat="d in vm.History">
        <td style="vertical-align: top;"><a ng-href='#Pd/{{ d.Id }}'>{{ d.Id }}</a></td>
        <td>
            <span ng-if="d == cloningPd" style="font-weight: bold; border: 1px solid red;"><img src="{{ appRoot }}Scripts/jstree/themes/default/throbber.gif" /> CLONING...</span>
            <span ng-if="d == deletingPd" style="font-weight: bold; border: 1px solid red; white-space: nowrap;"><img src="{{ appRoot }}Scripts/jstree/themes/default/throbber.gif" /> DELETING...</span>
            <span ng-if="!(d == cloningPd || d== deletingPd)">
                <a ng-click="clonePD($index)">clone</a> &nbsp; 
                <a ng-if="!d.ApprovalDate" ng-click="deletePD($index)">del</a>
            </span>
        </td>
        <td><a ng-href='#Pd/{{ d.Id }}'>{{ d.WorkingTitle || '(n/a)' }}</a></td>
        <td>{{ d.ProposedClassCode }} ({{ d.ProposedClassTitle }})</td>
        <td style="vertical-align: top;">{{ d.LastUpdatedAt | date: 'M/d/yyyy' }}</td>
        <td style="vertical-align: top;">{{ d.ApprovalDate | date: 'M/d/yyyy'}}</td>
        <td>{{ d.LegacyStatus }}</td>
    </tr>
</table>