﻿@model HrAdmin2.Models.ViewModels.ChecklistVm
@{
    Layout = null;
    var c = Model.Empchecklist;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <style type="text/css">
        body {
            background-color: #fff;
            color: #000;
            font-size: .85em;
            font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
            /*margin: 0;*/
            padding: 0;
        }

        table {
            text-align: left;
            width: 800px;
            margin: 0;
            padding: 0;
        }

        .panel-content-check {
            padding: 0px 5px 10px 5px !important;
            margin: 0;
            border-spacing: 0;
            border: 0 none;
            border-collapse: collapse;
        }

            .panel-content-check th {
                border: none;
                text-align: right;
                vertical-align: top;
                white-space: nowrap;
                /*min-width: 150px;
    max-width: 150px;*/
                padding: 0 5px 0 5px;
            }

            .panel-content-check td {
                border: 1px solid black;
                width: 100%;
                background-color: #e8e8e8;
                vertical-align: top;
            }

        th {
            text-align: right;
        }

        td.heading {
            background-color: #DDD;
        }

        td.data {
            border: 1px solid black;
        }

        td.data-changed {
            border: 1px solid black;
            background-color: yellow;
        }
    </style>
</head>
<body>
    <p>
       Dear Checklist Administrators,<br /><br />
       A Checklist has been created and is ready for you to complete the employee action items. 
    </p>

    <hr />
    <table style="margin: 0;">
        <tr>
            <td style="vertical-align: top; width: 50%;">
                <table style="margin: 3px;" class="panel-content-check">
                  
                    <tr>
                        <td><a href="http://apps.cts.wa.gov/hr/Checklist/" + @c.ParId>View Checklist</a></td>
                    </tr>
                   
                </table>

</body>
</html>
