﻿@model HrAdmin2.Models.ViewModels.ChecklistVm
@{
    ViewBag.Title = "Checklist Detail";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}
@section headscript {
    <script src="~/Scripts/app/ng-checklist.js"></script>
    <script>
        var vm = @Html.Raw(Json.Encode(Model)); // raw JSON for use as Angular Model.  
    </script>

}

<h2>Checklist Detail</h2>

<div id="ng-app" ng-app="app" ng-controller="ChecklistDetailController" style="width: 90%">
    <a ng-click="save()">save</a> | <a ng-click="preview()">preview</a> | <a ng-click="sendEmail()">create email</a>
    <div id="statusbar" class="status-bar" style="float: right; background-color: orange;">
        <span ng-if="asyncOp">
            <img src="~/Scripts/jstree/themes/default/throbber.gif" />
        </span>
        <span id="StatusMessage">{{ StatusMessage }}</span>
        <div id="ErrMessage"></div>
    </div>
    <br />

    <table style="margin: 0;">
        <tr>
            <td style="vertical-align: top; width: 50%;">
                <table style="margin: 3px;" class="panel-content-check">
                    <tr>
                        <th>Name:</th>
                        <td>{{ vm.Empchecklist.Name }}</td>
                    </tr>
                    <tr>
                        <th>Par Type:</th>
                        <td>{{ vm.Empchecklist.ParType }} -- Par #<a href="@(String.Format("{0}Par/{1}", Url.Content("~"), Model.Empchecklist.ParId))">{{ vm.Empchecklist.ParId }}</a></td>
                    </tr>
                    <tr>
                        <th>Effective Date:</th>
                        <td>{{ formatJsonDate( vm.Empchecklist.EffectiveDate ) | date:'M/d/yyyy'}}</td>
                    </tr>
                    <tr>
                        <th>Supervisor:</th>
                        <td>{{ vm.Empchecklist.Supervisor }}</td>
                    </tr>
                    <tr>
                        <th>Cost Center:</th>
                        <td>{{ vm.Empchecklist.CostCenter1 }}</td>
                    </tr>
                    <tr>
                        <th>Position Number:</th>
                        <td>{{ vm.Empchecklist.PositionNumber }}</td>
                    </tr>
                    <tr>
                        <th>Title:</th>
                        <td>{{ vm.Empchecklist.Title }}</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>{{ vm.Empchecklist.Location }}</td>
                    </tr>
                    <tr>
                        <th>Unit:</th>
                        <td>{{ vm.Empchecklist.OrgUnitShortName }} -- {{ vm.Empchecklist.Orgunit }}</td>
                    </tr>
                    <tr>
                        <th>Send To:</th>
                        <td>
                            <select ng-model="vm.CCL" multiple size="6">
                                <option value="servicedesk@cts.wa.gov">CTS Servicedesk</option>
                                <option value="ctsdladminteam@cts.wa.gov">CTS Admin Team</option>
                                <option value="ctsdlsecurity@cts.wa.gov">Security</option>
                                <option value="securitysup@cts.wa.gov">CTS Security Supervisor (CTS Contractor)</option>
                                <option value="hro@cts.wa.gov">CTS Human Resources</option>
                                <option value="despayroll@des.wa.gov">DES Payroll</option>
                            </select></td>
                    </tr>
                </table>
                <br />
                <table style="margin: 3px;" class="panel-content-check">
                    <tr>
                        <th>Last updated by:</th>
                        <td>{{ vm.Empchecklist.UpdateBy || '[UNPROCESSED]' }}</td>
                    </tr>
                    <tr>
                        <th>Last updated date:</th>
                        <td>{{ formatJsonDate( vm.Empchecklist.UpdateDt) }}</td>
                    </tr>
                </table>


                <h2>Checklist Actions</h2>
                <table style="margin: 3px;" class="panel-content-check">
                    <tr ng-if="vm.Empchecklist.ParType=='Appointment Change' || vm.Empchecklist.ParType=='Name Change' || vm.Empchecklist.ParType=='Transfer Position within Agency'">
                        <th>Active Directory Update:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.UpdateADAccount" />
                            {{ vm.Empchecklist.UpdateADAccount ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th>Cubicle Number:</th>
                        <td>
                            <input type="text" ng-model="vm.Empchecklist.Cubicle" maxlength="20" /><span ng-if="vm.Empchecklist.ParType=='Appointment Change' || vm.Empchecklist.ParType=='Transfer Position within Agency' ">&nbsp;&nbsp;&nbsp;<b>Moving to Cubicle Number:</b>
                                <input type="text" ng-model="vm.Empchecklist.CubicleTo" maxlength="20" /></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Comments:</th>
                        <td>
                            <textarea ng-model="vm.Empchecklist.Comments" rows="5" style="margin: 0px; padding: 0px; width: 100%" />
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="background-color: #def; font-weight: bold;">For any item checked in this section, the Service Desk will create a ticket and assign it to DES Solutions Center.</td>
                    </tr>
                    <tr ng-if="vm.Empchecklist.ParType=='New Hire'">
                        <th>User Id Type:</th>
                        <td>{{ vm.Empchecklist.ParType }}

                        </td>
                    </tr>
                    <tr ng-if="vm.Empchecklist.ParType=='Separation'">
                        <th>User Id Action Type:</th>
                        <td>
                            <select ng-model="vm.Empchecklist.UserIdType" class="action-selector">
                                <option value="">- Select Action - </option>
                                <option value="2">Delete</option>
                                <option value="3">Suspend</option>
                            </select>
                        </td>
                    </tr>



                    <tr ng-if="vm.Empchecklist.ParType=='New Hire'">
                        <th>Active Directory LogOn Similar to:</th>
                        <td>@Html.DropDownList("EmpList", Model.CurrentEmp, new Dictionary<string, object> { { "ng-model", "vm.Empchecklist.SimilarTo" }, { "ng-init", "vm.Empchecklist.SimilarTo = vm.Empchecklist.SimilarTo || options[0].value" } })</td>
                    </tr>
                    <tr ng-if="vm.Empchecklist.ParType=='Separation'">
                        <th>Person responsible for review of user data and email:</th>
                        <td>@Html.DropDownList("EmpList", Model.CurrentEmp, new Dictionary<string, object> { { "ng-model", "vm.Empchecklist.SimilarTo" }, { "ng-init", "vm.Empchecklist.SimilarTo = vm.Empchecklist.SimilarTo || options[0].value" } })</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Return </span>Computer equipment:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.ComputerEquip" />
                            {{ vm.Empchecklist.ComputerEquip ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Return </span>State Issued Device:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.StateDevice" />
                            {{ vm.Empchecklist.StateDevice ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Return </span>VPN Token:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.VPNToken" />
                            {{ vm.Empchecklist.VPNToken ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Deactivate </span>Active Sync (on personal device):</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.ActiveSync" />
                            {{ vm.Empchecklist.ActiveSync ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Return </span>Broadband Wireless Card:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.Broadband" />
                            {{ vm.Empchecklist.Broadband ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="background-color: #def; font-weight: bold;">Telecom action items will be completed by Toni Backstrom.</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Deactivate </span>Telecom (phone number, voicemail, etc.):</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.Telecom" />
                            {{ vm.Empchecklist.Telecom ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Return </span>SCAN/Worldcard:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.Scan" />
                            {{ vm.Empchecklist.Scan ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="background-color: #def; font-weight: bold;">Action Items: Further action is required on your part to complete these tasks.</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Return </span>Employee Building Security Badge:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.BuildingBadge" />
                            {{ vm.Empchecklist.BuildingBadge ? 'Yes' : 'No'}}&nbsp;&nbsp;&nbsp;&nbsp;1500 Building</td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Return </span>State Data Center and OB2 Security Badge:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.SDCBadge" />
                            {{ vm.Empchecklist.SDCBadge ? 'Yes' : 'No'}}&nbsp;&nbsp;&nbsp;&nbsp;State Data Center and OB2
                            <div style="float: right;"><a href="http://intranet.cts.wa.gov/news/2014/140505_news.aspx" target="_blank">?</a></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span ng-if="vm.Empchecklist.ParType=='Separation'">Return </span>Building Key(s):</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.Keys" />
                            {{ vm.Empchecklist.Keys ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th>Cost Center Authority:</th>
                        <td>
                            <input type="checkbox" ng-model="vm.Empchecklist.CostCenter" />
                            {{ vm.Empchecklist.CostCenter ? 'Yes' : 'No'}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://applications.dis.wa.gov/OrgCTS/OrgCTSReport.aspx" target="_blank">Cost Center Listing - OrgStructure</a></td>
            </td>
        </tr>
        <tr ng-if="vm.Empchecklist.ParType!='Separation'">
            <th>Order new name plate:</th>
            <td>
                <input type="checkbox" ng-model="vm.Empchecklist.NamePlate" />
                {{ vm.Empchecklist.NamePlate ? 'Yes' : 'No'}}</td>
        </tr>
        <tr ng-if="vm.Empchecklist.ParType!='Separation'">
            <th>Order new business cards:</th>
            <td>
                <input type="checkbox" ng-model="vm.Empchecklist.BusinessCards" />
                {{ vm.Empchecklist.BusinessCards ? 'Yes' : 'No'}}</td>
        </tr>

    </table>

    </td>

        </tr>

    </table>
</div>
