﻿@model HrAdmin2.Models.ViewModels.ChecklistVm
@{
    Layout = null;
    var c = Model.Empchecklist;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checklist Actions - @c.Name</title>
    <style type="text/css">
        body {
            background-color: #fff;
            color: #000;
            font-size: .85em;
            font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
            /*margin: 0;*/
            padding: 0;
        }

        table {
            text-align: left;
            width: 800px;
            margin: 0;
            padding: 0;
        }

        .panel-content-check {
            padding: 0px 5px 10px 5px !important;
            margin: 0;
            border-spacing: 0;
            border: 0 none;
            border-collapse: collapse;
        }

            .panel-content-check th {
                border: none;
                text-align: right;
                vertical-align: top;
                white-space: nowrap;
                /*min-width: 150px;
    max-width: 150px;*/
                padding: 0 5px 0 5px;
            }

            .panel-content-check td {
                border: 1px solid black;
                width: 100%;
                background-color: #e8e8e8;
                vertical-align: top;
            }

        th {
            text-align: right;
        }

        td.heading {
            background-color: #DDD;
        }

        td.data {
            border: 1px solid black;
        }

        td.data-changed {
            border: 1px solid black;
            background-color: yellow;
        }
    </style>
</head>
<body>
    <p>
        Please process the requested Employee Checklist items listed below:
    </p>

    <hr />
    <table style="margin: 0;">
        <tr>
            <td style="vertical-align: top; width: 50%;">
                <table style="margin: 3px;" class="panel-content-check">
                    <tr>
                        <th>Name:</th>
                        <td>@c.Name</td>
                    </tr>
                    <tr>
                        <th>Par Type:</th>
                        <td>@c.ParType -- Par #@c.ParId</td>
                    </tr>
                    <tr>
                        <th>Effective Date:</th>
                        <td class="data">@(c.EffectiveDate.HasValue ? c.EffectiveDate.Value.ToString("MMM-dd-yyyy") : "")</td>
                    </tr>
                    <tr>
                        <th>Supervisor:</th>
                        <td>@c.Supervisor</td>
                    </tr>
                    <tr>
                        <th>Cost Center:</th>
                        <td>@c.CostCenter1</td>
                    </tr>
                    <tr>
                        <th>Position Number:</th>
                        <td>@c.PositionNumber</td>
                    </tr>
                    <tr>
                        <th>Title:</th>
                        <td>@c.Title</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>@c.Location</td>
                    </tr>
                    <tr>
                        <th>Unit:</th>
                        <td>@c.OrgUnitShortName --  @c.Orgunit</td>
                    </tr>
                </table>

                <h2>Checklist Actions</h2>
                <table style="margin: 3px;" class="panel-content-check">

                    @if ((c.ParType == "Appointment Change" || c.ParType == "Name Change" || c.ParType == "Transfer Position within Agency") && c.UpdateADAccount == true)
                    {
                        <tr>
                            <th>Active Directory Update:</th>
                            <td>@(c.UpdateADAccount ? "Yes" : "No")</td>
                        </tr>
                    }

                    <tr>
                        <th>Cubicle Number:</th>
                        <td>@c.Cubicle&nbsp;&nbsp;&nbsp;
                            @if ((c.ParType == "Appointment Change" || c.ParType == "Transfer Position within Agency") && !  String.IsNullOrEmpty(c.CubicleTo))
                            {
                                <span><b>Moving to Cubicle Number:&nbsp;&nbsp;&nbsp;</b></span> 
                                @c.CubicleTo
                            }
                        </td>
                    </tr>

                    @if (c.ActiveSync == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Deactivate " : "")Active Sync (on personal device):</th>
                            <td>@(c.ActiveSync ? "Yes" : "No")</td>
                        </tr>
                    }
                    <tr>
                        <th>Comments:</th>
                        <td>@c.Comments</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="background-color: #def; font-weight: bold;">For any item checked in this section, the Service Desk will create a ticket and assign it to DES Solutions Center.</td>
                    </tr>

                    @if (c.ParType == "New Hire" || c.ParType == "Separation")
                    {
                        <tr>
                            <th>User Id Action Type:</th>
                            <td>@(c.UserIdType == 1 ? "New Hire" : c.UserIdType == 2 ? "Delete" : c.UserIdType == 3 ? "Suspend" : "") </td>
                        </tr>
                    }
                    @if (c.ParType == "New Hire" && c.SimilarTo > 0)
                    {
                        <tr>
                            <th>Active Directory LogOn Similar to:</th>
                            <td>@c.SimilarToLanID</td>
                        </tr>
                    }

                    @if (c.ParType == "Separation" && c.SimilarTo > 0)
                    {
                        <tr>
                            <th>Person responsible for review of user data and email:</th>
                            <td>@c.SimilarToLanID</td>
                        </tr>
                    }

                    @if (c.ComputerEquip == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Return " : "")Computer equipment:</th>
                            <td>@(c.ComputerEquip ? "Yes" : "No")</td>
                        </tr>
                    }
                    @if (c.StateDevice == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Return " : "")State Issued Device:</th>
                            <td>@(c.StateDevice ? "Yes" : "No")</td>
                        </tr>
                    }

                    @if (c.VPNToken == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Return " : "")VPN Token:</th>
                            <td>@(c.VPNToken ? "Yes" : "No")</td>
                        </tr>
                    }
                    @if (c.ActiveSync == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Deactivate " : "")Active Sync (on personal device):</th>
                            <td>@(c.ActiveSync ? "Yes" : "No")</td>
                        </tr>
                    }
                    @if (c.Broadband == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Return " : "")Broadband Wireless Card:</th>
                            <td>@(c.Broadband ? "Yes" : "No")</td>
                        </tr>
                    }
                    <tr>
                        <th></th>
                        <td style="background-color: #def; font-weight: bold;">Telecom action items will be completed by Toni Backstrom.</td>
                    </tr>
                    @if (c.Telecom == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Deactivate " : "")Telecom (phone number, voicemail, etc.):</th>
                            <td>@(c.Telecom ? "Yes" : "No")</td>
                        </tr>
                    }
                    @if (c.Scan == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Return " : "")SCAN/Worldcard:</th>
                            <td>@(c.Scan ? "Yes" : "No")</td>
                        </tr>
                    }
                    <tr>
                        <th></th>
                        <td style="background-color: #def; font-weight: bold;">Action Items: Further action is required on your part to complete these tasks.</td>
                    </tr>
                    @if (c.BuildingBadge == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Return " : "")Employee Building Security Badge:</th>
                            <td>@(c.BuildingBadge ? "Yes" : "No")&nbsp;&nbsp;&nbsp;&nbsp;1500 Building</td>
                        </tr>
                    }
                    @if (c.SDCBadge == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Return " : "")State Data Center and OB2 Security Badge:</th>
                            <td>@(c.SDCBadge ? "Yes" : "No")&nbsp;&nbsp;&nbsp;&nbsp;State Data Center and OB2
                            <div style="float: right;"><a href="http://intranet.cts.wa.gov/news/2014/140505_news.aspx" target="_blank">?</a></div>
                            </td>
                        </tr>
                    }
                    @if (c.Keys == true)
                    {
                        <tr>
                            <th>@(c.ParType == "Separation" ? "Return " : "")Building Key(s):</th>
                            <td>@(c.Keys ? "Yes" : "No")</td>
                        </tr>
                    }
                    @if (c.CostCenter == true)
                    {
                        <tr>
                            <th>Cost Center Authority:</th>
                            <td>@(c.CostCenter ? "Yes" : "No")&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://applications.dis.wa.gov/OrgCTS/OrgCTSReport.aspx" target="_blank">Cost Center Listing - OrgStructure</a></td>

                        </tr>
                    }

                    @if (c.NamePlate == true)
                    {
                        <tr>
                            <th>Order new name plate:</th>
                            <td>@(c.NamePlate ? "Yes" : "No")</td>
                        </tr>
                    }

                    @if (c.BusinessCards == true)
                    {
                        <tr>
                            <th>Order new business cards:</th>
                            <td>@(c.BusinessCards ? "Yes" : "No")</td>
                        </tr>
                    }


                </table>




</body>
</html>
