﻿@model HrAdmin2.Models.ViewModels.ParDetailVm
@using System.Security.Principal;
@using HrAdmin2.Helpers

@{
    ViewBag.Title = "PAR # " + Model.Par.Id + " Detail";
    var ui = UserInfo.GetUserInfo((WindowsPrincipal)User);//check if this is best approach
}
<div id="wrapper" style="max-width: 850px;">
    <div id="statusbar" class="status-bar" style="float: right;">
        <span id="Spinner" style="display: none;">
            <img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
        <span id="StatusMessage"></span>
        <div id="ErrMessage"></div>
    </div>
    <div class="breadCrumb">
        <a id="ToggleAccordion">Expand all</a>
        |&nbsp<a href="./@Model.Par.Id/email" target="_blank">Preview</a>
        @if (Model.Par.StatusId == 4) { // must be processed before sending email
        <span>|&nbsp;</span><a id="SendEmail" onclick="sendEmail()">Send email</a>
        }
        @if (Model.CanDelete) {
        <span>|&nbsp;</span><a id="DeletePar" onclick="deletePar();">Delete</a>
        }
        @if (Model.Par.StatusId != 4 && Model.ApprovalWorkflowVm.Workflow.StatusCode == HrAdmin2.Models.ApprovalWorkflow.statusCode.Approved) { //prevent double-process
        <span>|&nbsp;</span><a id="ProcessPar" onclick="processPar();">Process</a>
        }
        |&nbsp;<a onclick="savePar();">Save</a>
        @if (Model.ApprovalWorkflowVm.Status == "Created") {
            // TODO: bind client viewmodel to document root...
            <span>|&nbsp;</span><a id="SubmitLink" onclick = "saveAndActivateWorkflow();">Submit</a>
        }
        @*<a data-bind="visible: (Model.ApprovalWorkflowVm.Status == 'Created')" onclick = "saveAndActivateWorkflow();">Submit</a>*@

    </div>
    <span style="color: red;">*</span> required<br>

    <div id="par-detail" style="display: none; max-width: 850px; background-color: white;">
        <div id="par-info-header" > @*style="padding-left: 30px;"*@
            <div class="HeadContainer">
                <div class="HeaderText">
                    PAR # <span data-bind="text: Par.Id"></span>
                </div>
                <div style="float: right; padding-right: .5em;">
                    <span id="par-info-status" class='status-bar' style="visibility: hidden;">STATUS</span>
                </div>
                &nbsp;
            </div>
        </div>
        <div id="par-info" class="wrapperpadding">
        @if (Model.CanDelete) { // only Admins can delete or initiate processing...TODO: give Process permissions to HR
            <div id="ProcessLink" class="breadCrumb" data-bind="visible: (ApprovalWorkflowVm.Status() == 'Approved' && Par.StatusId() != 4)">
                <a onclick="processPar();">process</a>
            </div>
        }
            <table class="itemDetail">
                <tr>
                    <th><span style="color: red;">*</span>Action Type:</th>
                    <td><div data-bind="visible: ! Par.IsPayChangeOnly()">
                        <!-- Position PARs (ActionCode P...) have no ActionReasons: -->
                        <span data-bind="text: (Par.IsTransferIn() ? 'Fill' : (Par.IsTransferOut() && Par.ActionReasonId() == 81 ? 'Separation' : (Par.ActionCode() == 'U6' ? 'Fill, Prior Service' : Par.ActionDescription())))"></span> 
                        <span data-bind="visible: (Par.ActionCode().indexOf('U') == 0)">: 
                    @Html.DropDownList("ActionReason", Model.ActionReasons,
                        new Dictionary<string, object> { { "data-bind", "value: Par.ActionReasonId" } })
                        </span><a href="http://hr.wa.gov/payroll/HRMS/OnLineQuickReference/Pages/HRMSDataDefinitions.aspx" target="_blank">?</a>
                        <span data-bind="visible: (Par.ActionCode().indexOf('U3') == 0)"> 
                        Transfer In? <input id="XferIn" type="checkbox" value="1" data-bind="checked: Par.IsTransferIn" />
                        Transfer Out? <input id="XferOut" type="checkbox" value="1" data-bind="checked: Par.IsTransferOut" />
                        </span>
                        <span data-bind="visible: (Par.ActionCode().indexOf('P2') == 0)">
                        <input type="checkbox" value="1" data-bind="checked: Par.DeactivateClassCode" />
                            <span style="font-weight: bold;">Deactivate Job Class?</span>
                        </span>
                        <div class="validation-err" data-bind="text: ValErr.ActionReasonId"></div>
                        </div>
                        <div data-bind="visible: Par.IsPayChangeOnly()">Pay Change for <span data-bind="text: Par.EmpPreferredName() + ' ' + Par.EmpLastName()"></span></div>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Effective Date:</th>
                    <td>
                        <input type="text" class="date-input" id="EffectiveDate" data-bind="value: Par.EffectiveDate" />
                        (mm/dd/yyyy)
                    <span class="validation-err" data-bind="text: ValErr.EffectiveDate"></span>
                    </td>
                </tr>
                <tr data-bind="visible: Par.IsTransferOut()">
                    <th>Target Agency:</th>
                    <td>
                    @Html.DropDownList("TargetAgency", Model.Selectors.TargetAgency,
                        new Dictionary<string, object> { { "data-bind", "value: Par.TargetAgencyCode" } })
                        <div class="validation-err" data-bind="text: ValErr.TargetAgencyCode"></div>
                    </td>
                </tr>
                <tr data-bind="visible: Par.IsTransferIn()">
                    <th>Transferring From Agency:</th>
                    <td>
                    @Html.DropDownList("FromAgency", Model.Selectors.TargetAgency,
                        new Dictionary<string, object> { { "data-bind", "value: Par.FromAgencyCode" } })
                        <div class="validation-err" data-bind="text: ValErr.FromAgencyCode"></div>
                    </td>
                </tr>
                <tr>
                    <th>Action Notes:</th>
                    <td>
                        <textarea data-bind="value: Par.Notes" rows="5" style="margin: 0px; padding: 0px; max-width: 500px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Attachments:</th>
                    <td>
                        <form data-bind="attr: { action: appRoot + 'api/par/' + Par.Id() + '/attachment' }" method="post" enctype="multipart/form-data" id="uploadFormIEframe" target="hiddenFrame">
                            <&nbsp;10MB
                            <input class="text-input" type='file' name='file' id='fileIEframe' onchange="$('#statusbar').fadeTo(0,1); $('#StatusMessage').text('uploading...'); $('#Spinner').show(); submit();" />
                        </form>
                        @*http://blog.paciellogroup.com/2010/04/making-sure-hidden-frames-are-hidden/*@
                        <ul id="FileList" data-bind="foreach: Par.Attachments" style="margin: 0px;">
                            <li>
                                <a data-bind="attr: { href: appRoot + 'api/attachment/' + $data.Id() + '/attachment' }"><span data-bind="text: FileName"></span></a>
                                &nbsp;<a data-bind="click: function (item) { deleteAttachment(item); }">delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <h3 style="padding-left: 30px; color: #003366;">Approval Workflow: <span data-bind="text: ApprovalWorkflowVm.Status"></span></h3>
                        <div>
                            <table class="itemDetail" style="width:600px">
                                <tr>
                                    <th style="text-align: center;">Position Title</th>
                                    <th style="text-align: center;">Approver</th>
                                    <th style="text-align: center;">Comment</th>
                                    <th style="text-align: center;">Status</th>
                                </tr>
                                <tbody id="TaskList" data-bind="template: { name: 'approveTaskTmpl', foreach: ApprovalWorkflowVm.DisplayTasks }" >
                                </tbody >
                            </table>
                            <table class="itemDetail" style="width:600px" id="HrOverride">
                                @if ((ui["RoleName"].ToString() == "Admin" || ui["RoleName"].ToString() == "HR") && Model.ApprovalWorkflowVm.Status != "Created" && Model.Par.StatusId != 4)
                                {//not proccessed not created
                                    <tr>
                                        <td>HR Override</td>
                                        <td>
                                            <textarea data-bind="value: ApprovalWorkflowVm.Workflow.HrOverrideComment" rows="2" style="margin: 0px; padding: 0px; max-width:300px"></textarea>
                                        </td>
                                        <td>
                                            <a data-bind="click: function (item) { hrOverrideWorkflow('Approved'); }">Approve </a>
                                            <a data-bind="click: function (item) { hrOverrideWorkflow('Rejected'); }">Reject </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                            <input type="button" data-bind="visible: ($root.ApprovalWorkflowVm.Status() == 'Created'), click: function (item) { saveAndActivateWorkflow(); }" value="Submit PAR for Approvals" />
                        @*//<input type="button" data-bind="if: ($root.ViewMode() == 'edit' && $root.ApprovalWorkflowVm.Status() == 'Created'), click: function (item) { approvalWorkflowActive(ApprovalWorkflowVm.FirstTask); }" value="Start Workflow" />*@

                        </div>
                    </td>

                </tr>
            </table> 
        </div>
        @if (Model.Par.ActionCode.IndexOf('P') != 0) {
             // hide for Position Pars:
             if (! Model.Par.IsPayChangeOnly)
            {
            <div id="appt-info-header"> @*style="padding-left: 30px;"*@
                <div class="HeadContainer">
                    <div class="HeaderText">
                        Appointment
                    </div>
                    <div style="float: right; padding-right: .5em;">
                        <span id="appt-info-status" class='status-bar' style="visibility: hidden;"></span>
                    </div>
                    &nbsp;
                </div>
            </div>
            <div id="appt-info" class="wrapperpadding">
                <table class="itemDetail">
                    <tr>
                        <th><span style="color: red;">*</span>Fill Level:</th>
                        <td>
                            @Html.DropDownList("JobClassList", Model.Selectors.JobClass,
                                new Dictionary<string, object> { { "data-bind", "value: Par.FillLevel" } })
                            <div class="validation-err" data-bind="text: ValErr.FillLevel"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Contract&nbsp;Type:</th>
                        <td>
                            @Html.DropDownList("ContractTypeList", Model.Selectors.Contract,
                                new Dictionary<string, object> { { "data-bind", "value: Par.ContractTypeCode" } })
                            <div class="validation-err" data-bind="text: ValErr.ContractTypeCode"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Contract End Date:</th>
                        <td>
                            <div>
                                <input type="text" class="date-input" id="ContractEndDate" data-bind="value: Par.ContractEndDate" />
                            </div>
                            <div class="validation-err" data-bind="text: ValErr.ContractEndDate"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Work&nbsp;Schedule:</th>
                        <td>
                            @Html.DropDownList("WorkSchedule", Model.Selectors.Schedule,
                                new Dictionary<string, object> { { "data-bind", "value: Par.WorkScheduleCode" } })
                            <div class="validation-err" data-bind="text: ValErr.WorkScheduleCode"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Work&nbsp;Hours (wk1):</th>
                        <td><input type="text" class="text-input" data-bind="value: Par.ApptWorkHoursWk1" />
                        </td>
                    </tr>
                    <tr>
                        <th>Work&nbsp;Hours (wk2):</th>
                        <td><input type="text" class="text-input" data-bind="value: Par.ApptWorkHoursWk2" />
                        </td>
                    </tr>
@*                    <tr>
                        <th>Shift&nbsp;Designation:</th>
                        <td>
                            <input type="text" class="text-input" data-bind="value: Par.ApptShiftDesignation" />
                        </td>
                    </tr>*@
                    <tr>
                        <th>%&nbsp;Full&nbsp;Time:</th>
                        <td>
                            <input id="PercentFullTime" class="date-input" type="text" data-bind="value: Par.PercentFullTime" />
                            <div class="validation-err" data-bind="text: ValErr.PercentFullTime"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Time Mgmt Status:</th>
                        <td>
                            <select data-bind="value: Par.ApptTimeMgtStatus" id="ApptTimeMgtStatus">
                                <option value="">- select - </option>
                                <option value="1">Actual Time Eval</option>
                                <option value="9">Planned Time Eval</option>
                            </select>
                            <div class="validation-err" data-bind="text: ValErr.ApptTimeMgtStatus"></div>
                        </td>
                    </tr>
                </table>
            </div>
        } 
            <!-- Basic Pay --> 
            <div id="pay-info-header" > @*style="padding-left: 30px;"*@
                <div class="HeadContainer">
                    <div class="HeaderText">
                        Basic Pay
                    </div>
                    <div style="float: right; padding-right: .5em;">
                        <span id="pay-info-status" class='status-bar' style="visibility: hidden;"></span>
                    </div>
                    &nbsp;
                </div>
            </div>
            <div id="pay-info" class="wrapperpadding">
                <table class="itemDetail">
                    <tr>
                        <th><span style="color: red;">*</span>PS Reason:</th>
                        <td>
                            @Html.DropDownList("PayScaleReasonCode", Model.Selectors.PayScaleReason,
                                new Dictionary<string, object> { { "data-bind", "value: Par.ApptPayScaleReason" } })
                            <div class="validation-err" data-bind="text: ValErr.ApptPayScaleReason"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>PS Type-Area:</th>
                        <td>
                            @Html.DropDownList("PayScaleTypeArea", Model.Selectors.PayScaleTypeArea,
                                new Dictionary<string, object> { { "data-bind", "value: Par.ApptPayScaleTypeArea" } })
                            <div class="validation-err" data-bind="text: ValErr.ApptPayScaleTypeArea"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>PS Group, Level:</th>
                        <td>
                            @Html.DropDownList("PayScaleGroup", Model.Selectors.PayScaleGroup,
                        new Dictionary<string, object> { { "data-bind", "value: Par.ApptPayScaleGroup" } })
                            @Html.DropDownList("PayScaleLevel", Model.Selectors.PayScaleLevel,
                        new Dictionary<string, object> { { "data-bind", "value: Par.ApptPayScaleLevel" } })
                            <div class="validation-err" data-bind="text: ValErr.ApptPayScaleGroup"></div>
                            <div class="validation-err" data-bind="text: ValErr.ApptPayScaleLevel"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Step M Eligible:</th>
                        <td><input type="text" class="date-input" id="ApptStepMEligibleDate" data-bind="value: Par.ApptStepMEligibleDate" />
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Annual Salary:</th>
                        <td>
                            <div>
                                <input type="text" data-prefix="$ " class="date-input" id="ApptPayAnnualSalary" data-bind="value: Par.ApptPayAnnualSalary().toFixed(2)" />
                                <span data-bind="text: Math.round(Par.ApptPayAnnualSalary() / .12) / 100"></span>/mo., 
                        <span data-bind="text: Math.round(Par.ApptPayAnnualSalary() / .24) / 100"></span>/period 
                        &nbsp;&nbsp;or $<input id="ApptPayHourlyRate" type="text" style="width: 40px;" class="date-input" data-bind="value: Par.ApptPayHourlyRate"/>/hr.
                            </div>
                            <div class="validation-err" data-bind="text: ValErr.ApptPayAnnualSalary"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>OT Eligibility:</th>
                        <td>
                            @Html.DropDownList("ApptFillOtEligCode", Model.Selectors.EmpSubGroup,
                            new Dictionary<string, object> { { "data-bind", "value: Par.ApptFillOtEligCode" } })
                            <span class="validation-err" data-bind="text: ValErr.ApptFillOtEligCode"></span>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Pay Scale Effective:</th>
                        <td>
                            <input type="text" class="date-input" id="ApptPayScaleEffectiveDate" data-bind="value: Par.ApptPayScaleEffectiveDate" />
                            <div class="validation-err" data-bind="text: ValErr.ApptPayScaleEffectiveDate"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Shift Differential?:</th>
                        <td>
                                <input id="ShiftDiff" type="checkbox" class="borderless" data-bind="checked: Par.ApptShiftDifferential" value="1" />
                        </td>
                    </tr>
                    <tr>
                        <th>Standby Pay?:</th>
                        <td>
                                <input id="StandbyPay" type="checkbox" class="borderless" data-bind="checked: Par.ApptStandbyPay" value="1" />
                        </td>
                    </tr>
                    <tr>
                        <th>Next Increase:</th>
                        <td>
                            <input type="text" class="date-input" id="ApptPayNextIncrease" data-bind="value: Par.ApptPayNextIncrease" />
                        </td>
                    </tr>
                </table>
            </div>
            if (!Model.Par.IsPayChangeOnly) {
            <div id="emp-info-header">
                <div class="HeadContainer">
                    <div class="HeaderText">
                        Employee
                    </div>
                    <div style="float: right; padding-right: .5em;">
                        <span id="emp-info-status" class='status-bar' style="visibility: hidden;"></span>
                    </div>
                    &nbsp;
                </div>
            </div>
            <div id="emp-info" class="wrapperpadding">
                <table class="itemDetail">
                        <tr data-bind="visible: (Par.ActionCode() == 'U3' && !Par.IsTransferIn())">
                            <th>Incumbent:</th>
                            <td>
                                <span data-bind="text: Par.EmployeeId"></span>
                                    @Html.DropDownList("EmpList", Model.Selectors.CurrentEmp, new Dictionary<string, object> {
                       //{"data-bind", "value: Par.EmployeeId, event: { change: function() { getParDetailWithEmployee(); }}" }
                       {"data-bind", "value: Par.EmployeeId" }
})
                                <div class="validation-err" data-bind="text: ValErr.EmployeeId"></div>
                            </td>
                        </tr>
                    <tr>
                        <th>HRMS Personnel Number:</th>
                        <td>
                            <div data-bind="visible: (Par.ActionCode() == 'U6' || (Par.ActionCode() == 'U3' && Par.IsTransferIn()))">
                                <input class="text-input" type="text" data-bind="value: Par.EmpHrmsId" />
                            </div>
                            <div class="validation-err" data-bind="text: ValErr.EmpHrmsId"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>First Name:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpFirstName" />
                            <div class="validation-err" data-bind="text: ValErr.EmpFirstName"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Preferred First Name:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpPreferredName" />
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Last Name:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpLastName" />
                            <div class="validation-err" data-bind="text: ValErr.EmpFirstName"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Middle Name:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpMiddleName" />
                        </td>
                    </tr>
                    <tr>
                        <th>Suffix:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpSuffix" />
                        </td>
                    </tr>
                    @if (Model.Par.ActionCode == "U0" && (Model.CurrentUser.RoleName == "HR" || Model.CurrentUser.RoleName == "Admin"))
                    {
                        <tr>
                            <th>Date of Birth:</th>
                            <td>
                                <div>
                                    <input type="text" class="date-input" id="DOB" data-bind="value: Par.EmpDOB" />
                                </div>
                                <div class="validation-err" data-bind="text: ValErr.EmpDOB"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>SSN:</th>
                            <td>
                                <input id="EmpSSN" type="text" class="date-input" data-bind="value: Par.EmpSSN" />
                                <div class="validation-err" data-bind="text: ValErr.EmpSSN"></div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            }
        }
        @if (Model.Par.ActionCode == "U0" || Model.Par.ActionCode == "U6")
        {
            // hide address and diversity sections from all but HR and Admin:
            if (Model.CurrentUser.RoleName == "HR" || Model.CurrentUser.RoleName == "Admin") {
            <div id="emp-address-header" >
                <div class="HeadContainer">
                    <div class="HeaderText">
                        Address
                    </div>
                    <div style="float: right; padding-right: .5em;">
                        <span id="emp-address-status" class='status-bar' style="visibility: hidden;"></span>
                    </div>
                    &nbsp;
                </div>
            </div>    
     
            <div id="emp-address" class="wrapperpadding">
                <table class="itemDetail">
                    <tr>
                        <th><span style="color: red;">*</span>Address Line 1:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpAddrStreetLine1" />
                            <div class="validation-err" data-bind="text: ValErr.EmpAddrStreetLine1"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Address Line 2:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpAddrStreetLine2" />
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>City:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpAddrCity" />
                            <div class="validation-err" data-bind="text: ValErr.EmpAddrCity"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>State:</th>
                        <td>
                                <select id="EmpState" data-bind="value: Par.EmpAddrState">
                                    <option value="">- select - </option>
                                    <option value="ID">ID</option>
                                    <option value="OR">OR</option>
                                    <option value="WA">WA</option>
                                </select>
                            <div class="validation-err" data-bind="text: ValErr.EmpAddrState"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Zip Code:</th>
                        <td>
                            <input class="text-input" type="text" data-bind="value: Par.EmpAddrZipCode" />
                            <div class="validation-err" data-bind="text: ValErr.EmpAddrZipCode"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>County:</th>
                        <td>
                            @Html.DropDownList("CountyList", Model.Selectors.County, new Dictionary<string, object> { { "data-bind", "value: Par.EmpAddrCountyCode" } })
                            <div class="validation-err" data-bind="text: ValErr.EmpAddrCountyCode"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Home Phone:</th>
                        <td>
                            <input id="EmpAddrHomePhone" class="text-input" type="text" data-bind="value: Par.EmpAddrHomePhone" />
                            <div class="validation-err" data-bind="text: ValErr.EmpAddrHomePhone"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="diversity-info-header" >
                <div class="HeadContainer">
                    <div class="HeaderText">
                        Diversity
                    </div>
                    <div style="float: right; padding-right: .5em;">
                        <span id="diversity-info-status" class='status-bar' style="visibility: hidden;"></span>
                    </div>
                    &nbsp;
                </div>
            </div>
    
            <div id="diversity-info" class="wrapperpadding">
                <table class="itemDetail" style="margin-top: 0px; margin-bottom: 0px;">
                    <tr>
                        <th>Gender:</th>
                        <td>
                            <select data-bind="value: Par.EmpGender" id="EmpGender">
                                <option value="">- select - </option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            <div class="validation-err" data-bind="text: ValErr.EmpGender"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Race / Ethnicity:</th>
                        <td>
                            <select data-bind="value: Par.EmpRaceCodes" id="RaceCode" multiple="multiple" size="4">
                                <option value="">- select - </option>
                                <option>Unspecified</option>
                                <option>Asian</option>
                                <option>Black</option>
                                <option>Native American</option>
                                <option>Pacific Islander</option>
                                <option>White</option>
                            </select>
                            Hispanic?
                            <input type="checkbox" id="Hispanic" class="borderless" data-bind="checked: Par.EmpHispanic" value="1" />
                            <div class="validation-err" data-bind="text: ValErr.EmpRaceCodes"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Military Status:</th>
                        <td>
                            <select id="MilitaryStatus" multiple="multiple" size="4" data-bind="value: Par.EmpMilitaryStatus">
                                <option value="">- select - </option>
                                <option>Unspecified</option>
                                <option>Vietnam-era Veteran</option>
                                <option>Non Vietnam-era Veteran</option>
                                <option>Separated or Retired < $500/mo.</option>
                                <option>Separated or Retired > $500/mo.</option>
                                <option>Separated or Retired Disabled < $500/mo.</option>
                                <option>Separated or Retired Disabled > $500/mo.</option>
                            </select>
                            <div class="validation-err" data-bind="text: ValErr.EmpMilitaryStatus"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Military Branch:</th>
                        <td>
                            <select id="MilitaryBranch" multiple="multiple" size="4" data-bind="value: Par.EmpMilitaryBranch">
                                <option value="">- select - </option>
                                <option>Unspecified</option>
                                <option>Air Force</option>
                                <option>Army</option>
                                <option>Coast Guard</option>
                                <option>Marine</option>
                                <option>National Guard</option>
                                <option>Navy</option>
                            </select>
                            <div class="validation-err" data-bind="text: ValErr.EmpMilitaryBranch"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Disability?:</th>
                        <td>
                            <input type="checkbox" id="Disability" style="border: 0px; padding: 0px;" value="1" data-bind="checked: Par.EmpDisability" />
                        </td>
                    </tr>
                </table>
            </div>
}
        }
        @if (Model.Par.ActionCode != "U5" && Model.Par.ActionCode.IndexOf('P') != 0)
        {
            if (!Model.Par.IsPayChangeOnly) {
            <div id="emp-dates-header">
                <div class="HeadContainer">
                    <div class="HeaderText">
                        Date Specifications
                    </div>
                    <div style="float: right; padding-right: .5em;">
                        <span id="emp-dates-status" class='status-bar' style="visibility: hidden;"></span>
                    </div>
                    &nbsp;
                </div>
            </div>
            <div id="emp-dates" class="wrapperpadding">
                <table class="itemDetail">
                    <tr>
                        <th>Anniversary:</th>
                        <td>
                            <input class="date-input" id="AnniversaryDate" type="text" data-bind="value: Par.EmpDS01_Anniversary" />
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Appointment:</th>
                        <td>
                            <input class="date-input" id="AppointmentDate" type="text" data-bind="value: Par.EmpDS02_Appointment" />
                            <div class="validation-err" data-bind="text: ValErr.EmpDS02_Appointment"></div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>CTS Hire:</th>
                        <td>
                            <input class="date-input" id="CtsHireDate" type="text" data-bind="value: Par.EmpDS03_CtsHire" />
                            <div class="validation-err" data-bind="text: ValErr.EmpDS03_CtsHire"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Prior PID:</th>
                        <td>
                            <input class="date-input" id="PriorPidDate" type="text" data-bind="value: Par.EmpDS04_PriorPid" />
                        </td>
                    </tr>
                    <tr>
                        <th>Seniority:</th>
                        <td>
                            <input class="date-input" id="SeniorityDate" type="text" data-bind="value: Par.EmpDS05_Seniority" />
                        </td>
                    </tr>
                    <tr>
                        <th>Unbroken Service:</th>
                        <td>
                            <input class="date-input" id="UnbrokenServiceDate" type="text" data-bind="value: Par.EmpDS07_UnbrokenService" />
                        </td>
                    </tr>
                    <tr>
                        <th>Vacation Leave Frozen:</th>
                        <td>
                            <input class="date-input" id="VacLeaveFrozenDate" type="text" data-bind="value: Par.EmpDS09_VacLeaveFrozen" />
                        </td>
                    </tr>
                    <tr>
                        <th>Personal Holiday Eligibility:</th>
                        <td>
                            <input class="date-input" id="PersonalHolidayElgDate" type="text" data-bind="value: Par.EmpDS18_PersonalHolidayElg" />
                        </td>
                    </tr>
                    <tr>
                        <th>Personal Leave Eligibility:</th>
                        <td>
                            <input class="date-input" id="PersonalLeaveElgDate" type="text" data-bind="value: Par.EmpDS26_PersonalLeaveElg" />
                        </td>
                    </tr>
                </table>
            </div>
            }
        }
        @if (!Model.Par.IsPayChangeOnly) {
        <div id="pos-info-header"> @*style="padding-left: 30px;"*@
            <div class="HeadContainer">
                <div class="HeaderText">
                    Position
                </div>
                <div style="float: right; padding-right: .5em;">
                    <span id="pos-info-status" class='status-bar' style="visibility: hidden;"></span>
                </div>
                &nbsp;
            </div>
        </div>
        <div id="pos-info" class="wrapperpadding">
            <table class="itemDetail">
                <tr>
                    <th>Number:</th>
                    <td><span data-bind="text: Par.PositionId"></span> (HRMS #<span data-bind="    text: Par.PosHrmsId"></span>)</td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Job Class:</th>
                    <td>
                        @Html.DropDownList("PosJobClassList", Model.Selectors.JobClass,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosJobId" } })
                        <span class="validation-err" data-bind="text: ValErr.PosJobId"></span>
                    </td>
                </tr>
                <tr>
                    <th>Working Title:</th>
                    <td>
                        <input type="text" data-bind="value: Par.PosWorkingTitle" style="margin: 0px; padding: 1px;" />
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Cost Center:</th>
                    <td>
                        @Html.DropDownList("PosCostCenter", Model.Selectors.CostCenter,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosCostCenter" } })
                        <span class="validation-err" data-bind="text: ValErr.PosCostCenter"></span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Workers&nbsp;Comp:</th>
                    <td>
                        @Html.DropDownList("WorkersComp", Model.Selectors.WorkersComp,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosWorkersCompCode" } })
                        <span class="validation-err" data-bind="text: ValErr.PosWorkersCompCode"></span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Org Unit:</th>
                    <td>
                        @Html.DropDownList("OrgUnit", Model.Selectors.OrgUnit,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosOrgUnitId" } })
                        <span class="validation-err" data-bind="text: ValErr.PosOrgUnitId"></span>
                    </td>
                </tr>
                <tr>
                    <th>Supervisor:</th>
                    <td>
                        @Html.DropDownList("SuperPos", Model.Selectors.SupervisorPosition,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosSupervisorPosId" } })
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Personnel&nbsp;Subarea:</th>
                    <td>
                        @Html.DropDownList("PersonnelSubArea", Model.Selectors.PersonnelSubArea,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosPersonnelSubArea" } })
                        <span class="validation-err" data-bind="text: ValErr.PosPersonnelSubArea"></span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>EE Group, Subgroup:</th>
                    <td>
                        @Html.DropDownList("EmpGroup", Model.Selectors.EmpGroup,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosEeGroup" } })
                        <span class="validation-err" data-bind="text: ValErr.PosEeGroup"></span>
                        @Html.DropDownList("EmpSubGroup", Model.Selectors.EmpSubGroup,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosEeSubgroup" } })
                        <span class="validation-err" data-bind="text: ValErr.PosEeSubgroup"></span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Paygrade:</th>
                    <td>
                        @Html.DropDownList("PayGradeTypeArea", Model.Selectors.PayScaleTypeArea,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosPayGradeTypeArea" } })
                        <span class="validation-err" data-bind="text: ValErr.PosPayGradeTypeArea"></span>
                        <span style='font-weight: bold;'>Grade:</span> @Html.DropDownList("PosPayGrade", Model.Selectors.PayScaleGroup,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosPayGrade" } })
                        <span class="validation-err" data-bind="text: ValErr.PosPayGrade"></span>
                    </td>
                </tr>
                <tr>
                    <th>General Description:</th>
                    <td>
                        <textarea data-bind="value: Par.PosGeneralDescription" rows="5" style="margin: 0px; padding: 1px; max-width: 350px;"></textarea>
                    </td>
                </tr>
@*                <tr>
                    <th>Shift Designation:</th>
                    <td>
                        <input type="text" data-bind="value: Par.PosShiftDesignation" style="margin: 0px; padding: 1px;"/>
                    </td>
                </tr>*@
                <tr>
                    <th>Shift:</th>
                    <td>
                        <select id="ShiftCode" data-bind="value: Par.PosShiftCode">
                            <option value="D">Day</option>
                            <option value="S">Swing</option>
                            <option value="G">Graveyard</option>
                        </select>
                    </td>
                </tr>
                    <tr>
                        <th>Shift Differential?:</th>
                        <td>
                                <input type="checkbox" class="borderless" data-bind="checked: Par.PosShiftDiffEligible" value="1" />
                        </td>
                    </tr>
                    <tr>
                        <th>Standby Pay?:</th>
                        <td>
                                <input type="checkbox" class="borderless" data-bind="checked: Par.PosStandbyEligible" value="1" />
                        </td>
                    </tr>

                <tr>
                    <th>Position:</th>
                    <td>Appointing Authority:
                    <input style="border: 0px; padding: 0px;" type="checkbox" value="1" data-bind="checked: Par.PosIsAppointingAuthority" />
                        Manager: 
                    <input style="border: 0px; padding: 0px;" type="checkbox" value="1" data-bind="checked: Par.PosIsManager" />
                        Supervisor:
                    <input style="border: 0px; padding: 0px;" type="checkbox" value="1" data-bind="checked: Par.PosIsSupervisor" />
                        <br />
                        BG Check:
                        <input style="border: 0px; padding: 0px;" type="checkbox" value="1" data-bind="checked: Par.PosReqsBackgroundCheck" />
                        Sec 4:
                        <input style="border: 0px; padding: 0px;" type="checkbox" value="1" data-bind="checked: Par.PosIsSection4" />
                        Tandem:
                        <input style="border: 0px; padding: 0px;" type="checkbox" value="1" data-bind="checked: Par.PosIsTandem" />
                        In Training:
                        <input style="border: 0px; padding: 0px;" type="checkbox" value="1" data-bind="checked: Par.PosIsInTraining" />
                    </td>
                </tr>
                <tr>
                    <th>JVAC:</th>
                    <td>Code:
                        <input type="text" style="margin: 0px; padding: 1px; width: 80px;" data-bind="value: Par.PosJvac" />
                        Points:
                        <input id="PosPointValue" type="text" style="margin: 0px; padding: 1px; width: 80px;" data-bind="value: Par.PosPointValue" />
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Location:</th>
                    <td>
                        @Html.DropDownList("PosLocation", Model.Selectors.Location,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosLocationId" } })
                        <span class="validation-err" data-bind="text: ValErr.PosLocationId"></span>
                    </td>
                </tr>
                <tr>
                    <th>Default&nbsp;Schedule:</th>
                    <td>
                        @Html.DropDownList("PosWorkSchedule", Model.Selectors.Schedule,
                        new Dictionary<string, object> { { "data-bind", "value: Par.PosWorkScheduleCode" } })
                    </td>
                </tr>
            </table>
        </div>
        }
        </div>
    </div>
        

<iframe id="hiddenFrame" style="display: none; " name="hiddenFrame" class="hidden" width="0" height="0" tabindex="-1" title="empty"></iframe>
    @section scripts {
    <script>
        var vm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));        
        var userLanId = '@User.Identity.Name.Substring(User.Identity.Name.IndexOf('\\') + 1)';
    </script>
    <script src="~/Scripts/app/parDetail.js"></script>
<script type="text/html" id="approveTaskTmpl">
@*<tr data-bind="visible: Id()">*@
    <tr>
        <td>
            <a data-bind="attr: { href: '@Url.Content("~")' + 'position/' + Task.ApproverPositionId() +'/approval'}"><span data-bind="text: ApproverPositionTitle"></span></a>
            <span data-bind="visible: (HasDelegates)"><br />Active Delegate:</span>
            <div data-bind="foreach: ActiveDelegates">
                <span>
                    <span data-bind="text: LastName"></span><span>, </span><span data-bind="text: PreferredName"></span>
                    <br />
                </span>
            </div>
            <span data-bind="visible: (AssignedToGroup), text: ApproveGroupName"></span>  
        </td>
        <td>
            <span data-bind="text: ApproverPositionPersonLastName"></span><span>, </span><span data-bind="text: ApproverPositionPersonPreferredName"></span>
        </td>
        @*<td>
            <span data-bind="text: ApproverPositionIsAppointingAuth"></span>
        </td>*@
        <td>
            <span data-bind="visible: ((Status() != 'Active')|| (Authorized == false)), text: Task.Comment"></span>
            @*<input type="text" data-bind="visible: (Status() == 'Active' && $root.ViewMode() == 'edit'), value: Task.Comment" style="margin: 0px; padding: 1px;"/>*@
            <textarea data-bind="visible: ((Status() == 'Active')&&(Authorized() == true)), value: Task.Comment" rows="2" style="margin: 0px; padding: 0px; max-width:200px"></textarea>
        </td>
        <td>
            <span data-bind="text: Status"></span><br/>
            <span data-bind="visible: (Status() != 'Active' && Status() != 'Created' && Status() != 'Skipped'), text: CompletedDateString"></span>
            <br data-bind="visible: (Status() != 'Active' && Status() != 'Created' && Status() != 'Skipped')" />
            <span data-bind="visible: (Status() != 'Active' && Status() != 'Created' && Status() != 'Skipped'), text: FinalApproverPersonName"></span>
            @*<a data-bind="attr: { href: appRoot + 'api/attachment/' + $data.Id() + '/attachment' }"><span data-bind="text: FileName"></span></a>*@
            <a data-bind="visible: ((Status() == 'Active')&&(Authorized() == true)), click: function (item) { approvalTaskApprove(item); }">Approve </a>
            <a data-bind="visible: ((Status() == 'Active')&&(Authorized() == true)), click: function (item) { approvalTaskReject(item); }">Reject </a>
            <a data-bind="visible: ((Required() == false && (Status() == 'Active' || Status() == 'Created'))&&(Authorized() == true)), click: function (item) { approvalTaskCanceled(item); }">Skip</a>
            <a data-bind="visible: (($root.ApprovalWorkflowVm.Status() == 'Created' && (Status() != 'Created'))&&(Authorized() == true)), click: function (item) { approvalTaskReset(item); }">Reset</a>
        </td>
    </tr>
</script>
} @* end section scripts *@