﻿@model HrAdmin2.Models.ViewModels.ParDetailVm

@{
    ViewBag.Title = "PAR # " + Model.Par.Id + " Detail";
    var ui = Model.CurrentUser;
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}
@section headscript {
<script src="~/Scripts/app/ng-par.js"></script>
}
@section pagecss {
    <style>
        /*#actionlinks {
            background-color: chartreuse !important;
            text-align: justify;
        }*/

        .panel-header {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        .panel-header td {
            padding: 0px;
            margin: 0px;
        }

        .panel-status, .validation-err {
            background-color: yellow;
            color: darkred;
        }

        .workflow {
            width: 100%;
        }

        .workflow th {
            text-align: center;
            min-width: 0px;
        }
        .workflow td {
            width: auto;
            min-width: 0px;
        }
    </style>
}
<div id="ng-app" ng-app="par" ng-controller="ParController" ng-cloak>
    <div id="actionlinks" class="breadCrumb">
        <span style="padding-right: 12px;" ng-repeat="xn in availableActions"><a style="cursor: pointer;" ng-click="doAction(xn)">{{ xn.label }}</a> &nbsp;</span>
        <div id="statusbar" class="status-bar" style="float: right; background-color: orange;">
            <span id="Spinner" ng-if="asyncOp">
                <img src="~/Scripts/jstree/themes/default/throbber.gif" />
            </span>
            <span id="StatusMessage">{{ StatusMessage }}</span>
            <div id="ErrMessage"></div>
        </div>
    </div>
        <ul ng-cloak kendo-panel-bar="panelbar" k-options="options.PanelBar" style="width: 720px;">
        <li id="panel-par" class="k-state-active">
            <span class="k-link k-state-selected">
                <table class="panel-header"><tr>
                <td>PAR # {{ vm.Par.Id }}</td>
                <td style="text-align: right;">
                    <span ng-if="countIssues('#panel-par') > 0" class="panel-status">{{ countIssues('#panel-par') }} input issues</span>
                </td>
                </tr>
                </table>
            </span>
            <div class="panel-content">
            <table>
                <tr>
                    <th><span style="color: red;">*</span>Action Type:</th>
                    <td>
                        <div ng-if="! (vm.Par.IsPayChangeOnly || vm.Par.IsNameChangeOnly || vm.Par.ActionReasonId == 16)">
                            <!-- Position PARs (ActionCode P...) have no ActionReasons: -->
                            <span>{{ getParTypeLabel() }}</span>
                            <span ng-if="vm.Par.ActionCode.indexOf('U') == 0">: 
                                @Html.DropDownList("ActionReason", Model.ActionReasons,
                                new Dictionary<string, object> { { "ng-model", "vm.Par.ActionReasonId" }, {"ng-init", "vm.Par.ActionReasonId = vm.Par.ActionReasonId || options[0].value"} })
                            </span>
                            <a href="http://hr.wa.gov/payroll/HRMS/OnLineQuickReference/Pages/HRMSDataDefinitions.aspx" target="_blank">?</a>
                            <div ng-if="vm.Par.ActionCode.indexOf('U3') == 0 && vm.Par.ActionReasonId == 81"> 
                                Transfer In? <input type="checkbox" value="1" ng-model="vm.Par.IsTransferIn" ng-change="uncheck('IsTransferOut')"/>
                                Transfer Out? <input type="checkbox" value="1" ng-model="vm.Par.IsTransferOut" ng-change="uncheck('IsTransferIn')"/>
                            </div>
                            <div ng-if="vm.Par.ActionCode.indexOf('P2') == 0)">
                                <input type="checkbox" value="1" ng-model="vm.Par.DeactivateClassCode" />
                                <span style="font-weight: bold;">Deactivate Job Class?</span>
                            </div>
                            <div class="validation-err">{{ vm.ValErr.ActionReasonId }}</div>
                        </div>
                        <div ng-if="vm.Par.IsPayChangeOnly">Pay Change for <span>{{ vm.Par.EmpPreferredName + ' ' + vm.Par.EmpLastName }}</a></span></div>
                        <div ng-if="vm.Par.IsNameChangeOnly">Name Change for <span>{{ vm.Par.EmpPreferredName + ' ' + vm.Par.EmpLastName }}</a></span></div>
                        <div ng-if="vm.Par.ActionReasonId == 16"><span>Did Not Start</a></span></div>
                    </td>
                </tr>
                <tr ng-if="vm.Par.PdId">
                    <th>PDF #:</th>
                    <td><a ng-href="{{ appRoot }}spa#/pd/{{ vm.Par.PdId }}">{{ vm.Par.PdId }}</a></td>
                </tr>
                <tr ng-if="!vm.Par.PdId">
                    <th>PDF:</th>
                    <td><a ng-click="createPdf()">create</a></td>
                </tr>

                <tr ng-if="vm.Par.ActionCode.indexOf('P') != 0">
                    <th>Incumbent:</th>
                    <td ng-if="vm.Par.EmployeeId"><a ng-href="{{ appRoot }}employee/{{ vm.Par.EmployeeId }}">{{ vm.Par.EmpLastName }}, {{ vm.Par.EmpPreferredName || vm.Par.EmpFirstName }}</a></td>
                    <!-- TODO: test whether employee exists yet! -->
                    <td ng-if="!vm.Par.EmployeeId">[VACANT]</td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Effective Date:</th>
                    <td>
                        <input type="text" kendo-date-picker id="EffectiveDate" ng-model="vm.Par.EffectiveDate" ng-change="setNewHireDates()"/>
                        (mm/dd/yyyy)
                        <span class="validation-err">{{ vm.ValErr.EffectiveDate }}</span>
                    </td>
                </tr>
                <tr ng-if="vm.Par.IsTransferOut">
                    <th>Target Agency:</th>
                    <td>
                    @Html.DropDownList("TargetAgency", Model.Selectors.TargetAgency,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.TargetAgencyCode" } })
                        <div class="validation-err">{{ vm.ValErr.TargetAgencyCode }}</div>
                    </td>
                </tr>
                <tr ng-if="vm.Par.IsTransferIn">
                    <th>Transferring From Agency:</th>
                    <td>
                    @Html.DropDownList("FromAgency", Model.Selectors.TargetAgency,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.FromAgencyCode" } })
                        <div class="validation-err">{{ ValErr.FromAgencyCode }}</div>
                    </td>
                </tr>
                <tr>
                    <th>Action Notes:</th>
                    <td>
                        <textarea ng-model="vm.Par.Notes" rows="5" style="margin: 0px; padding: 0px; width: 100%"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Attachments:</th>
                    <td>
                        <form action="{{ attachmentUrl }}" method="post" enctype="multipart/form-data" id="uploadFormIEframe" target="hiddenFrame">
                            <&nbsp;10MB
                            <input type='file' name='file' id='fileIEframe' onchange="uploadFile()" />
                        </form>
                        <!-- http://blog.paciellogroup.com/2010/04/making-sure-hidden-frames-are-hidden/ -->
                        <ul style="margin: 0px;">
                            <li ng-repeat="att in vm.Par.Attachments">
                                <a href="~/api/attachment/{{ att.Id }}/attachment"><span>{{ att.FileName }}</span></a>
                                &nbsp;<a ng-click="deleteAttachment(att)">delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
                <h3 style="padding-left: 30px; color: #003366;">Approval Workflow: {{ vm.ApprovalWorkflowVm.Status }}</h3>
                <div>
                    <table class="workflow">
                        <tr>
                            <th>Position Title</th>
                            <th>Approver</th>
                            <th>Comment</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="t in vm.ApprovalWorkflowVm.DisplayTasks">
                            <td>
                                <a href= '@Url.Content("~")position/{{ t.Task.ApproverPositionId }}/approval'>{{ t.ApproverPositionTitle }}</a>
                                <span ng-if="t.HasDelegates"><br />Active Delegate:</span>
                                <span ng-repeat="ad in t.ActiveDelegates">
                                    {{ ad.LastName }}, {{ ad.PreferredName }}
                                    <br />
                                </span>
                                <span ng-if="t.AssignedToGroup)"> {{ t.ApproveGroupName }} </span>  
                            </td>
                            <td>
                                {{ t.ApproverPositionPersonLastName }}, {{ t.ApproverPositionPersonPreferredName }}
                            </td>
                            <td>
                                <span ng-if="t.Status != 'Active' || t.Authorized == false">{{ t.Task.Comment }}</span>
                                <textarea ng-if="t.Status == 'Active' && t.Authorized" ng-model="t.Task.Comment" rows="2" style="margin: 0px; padding: 0px; max-width: 200px"></textarea>
                            </td>
                            <td>{{ t.Status }}<br/>
                                <span ng-if="t.Status != 'Active' && t.Status != 'Created' && t.Status != 'Skipped'">
                                    {{ t.CompletedDateString }}
                                    <br />
                                    {{ t.FinalApproverPersonName }}
                                </span>
                                <span ng-if="isAuthorizedAndActive(t)">
                                    <a ng-click="approvalTaskApprove(t)">Approve</a>
                                    <a ng-click="approvalTaskReject(t)">Reject</a>
                                </span>
                                <a ng-if="!t.Required && (t.Status == 'Active' || t.Status == 'Created') && t.Authorized" ng-click="approvalTaskCanceled(t)">Skip</a>
                                <a ng-if="vm.ApprovalWorkflowVm.Status == 'Created' && t.Status != 'Created' && t.Authorized" ng-click="approvalTaskReset(t)">Reset</a>
                            </td>
                        </tr>
                    </table>
                    <table id="HrOverride">
                        @if ((ui.RoleName == "Admin" || ui.RoleName.ToString() == "HR") && Model.ApprovalWorkflowVm.Status != "Created" && Model.Par.StatusId != 4)
                        {//not proccessed not created
                            <tr>
                                <td>HR Override</td>
                                <td>
                                    <textarea ng-model="vm.ApprovalWorkflowVm.Workflow.HrOverrideComment" rows="2" style="margin: 0px; padding: 0px; max-width:300px"></textarea>
                                </td>
                                <td>
                                    <a ng-click="hrOverrideWorkflow('Approved');">Approve </a>
                                    <a ng-click="hrOverrideWorkflow('Rejected');">Reject </a>
                                </td>
                            </tr>
                        }
                    </table>
                    <input type="button" ng-if="vm.ApprovalWorkflowVm.Status == 'Created'" ng-click="saveAndActivateWorkflow()" value="Submit PAR for Approvals" />
                    @if ((ui.RoleName == "Admin" || ui.RoleName.ToString() == "HR") && Model.ApprovalWorkflowVm.Status == "Created")
                    {
                        <input type="button" ng-click="hrOverrideWorkflow('Approved');" value="HR Instant Approval" />
                    }
                    @*<input type="button" ng-if="(vm.ApprovalWorkflowVm.Status == 'Created') && (Model.CurrentUser.RoleName == "HR" || Model.CurrentUser.RoleName == "Admin")" ng-click="hrOverrideWorkflow('Approved');" value="HR Instant Approval" />*@
                @*//<input type="button" data-bind="if: ($root.ViewMode() == 'edit' && $root.ApprovalWorkflowVm.Status() == 'Created'), click: function (item) { approvalWorkflowActive(ApprovalWorkflowVm.FirstTask); }" value="Start Workflow" />*@
                </div>
            </div>
        </li> <!-- /end PanelBar Item -->
        @if (Model.Par.ActionCode.IndexOf('P') != 0) {
            // hide for Position Pars:
            //if (!Model.Par.IsPayChangeOnly)
            //{
                <li id="panel-employee" ng-if="!vm.Par.IsPayChangeOnly">
            <table class="panel-header"><tr>
                <td>Employee</td>
                <td style="text-align: right;">
                    <span ng-if="countIssues('#panel-employee') > 0" class="panel-status">{{ countIssues('#panel-employee') }} input issues</span>
                </td>
                </tr>
            </table>
            <div class="panel-content">
                <table>
                    <tr ng-if="vm.Par.ActionCode == 'U3' && ! vm.Par.IsTransferIn && ! vm.Par.IsNameChangeOnly">
                        <th>Incumbent:</th>
                        <td>
                            <span>{{ vm.Par.EmployeeId }}</span>
                                @Html.DropDownList("EmpList", Model.Selectors.CurrentEmp, new Dictionary<string, object> {
                    //{"data-bind", "value: Par.EmployeeId, event: { change: function() { getParDetailWithEmployee(); }}" }
                    {"ng-model", "vm.Par.EmployeeId" }, {"ng-change", "getParDetailWithEmployee()"}
})
                            <div class="validation-err">{{ vm.ValErr.EmployeeId }}</div>
                        </td>
                    </tr>
                    <tr ng-if="vm.Par.ActionCode == 'U6' || (vm.Par.ActionCode == 'U3' && vm.Par.IsTransferIn)">
                        <th>HRMS Personnel Number:</th>
                        <td>
                            <div>
                                <input type="text" ng-model="vm.Par.EmpHrmsId" />
                            </div>
                            <div class="validation-err">{{ vm.ValErr.EmpHrmsId }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>First Name:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpFirstName" />
                            <div class="validation-err">{{ vm.ValErr.EmpFirstName }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Preferred First Name:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpPreferredName" />
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Last Name:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpLastName" />
                            <div class="validation-err">{{ vm.ValErr.EmpLastName }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Middle Name:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpMiddleName" />
                        </td>
                    </tr>
                    <tr>
                        <th>Suffix:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpSuffix" />
                        </td>
                    </tr>
                    <tr ng-if="!vm.Par.IsNameChangeOnly">
                        <th>Email:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpEmail" />
                        </td>
                    </tr>
                    @if (Model.Par.ActionCode == "U0" && (Model.CurrentUser.RoleName == "HR" || Model.CurrentUser.RoleName == "Admin"))
                    {
                        <tr>
                            <th>Date of Birth:</th>
                            <td>
                                <div>
                                    <input type="text" kendo-date-picker id="DOB" ng-model="vm.Par.EmpDOB" />
                                </div>
                                <div class="validation-err">{{ vm.ValErr.EmpDOB }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th>SSN:</th>
                            <td>
                                <input id="EmpSSN" type="text" ng-model="vm.Par.EmpSSN" />
                                <div class="validation-err">{{ vm.ValErr.EmpSSN }}</div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </li>
        <li id="panel-appt" ng-if="! vm.Par.IsNameChangeOnly">
            <table class="panel-header"><tr>
                <td>Appointment</td>
                <td style="text-align: right;">
                    <span ng-if="countIssues('#panel-appt') > 0" class="panel-status">{{ countIssues('#panel-appt') }} input issues</span>
                </td>
                </tr>
            </table>
            <div class="panel-content">
                <table>
                    <tr>
                        <th><span style="color: red;">*</span>Fill Level:</th>
                        <td>
                            @Html.DropDownList("JobClassList", Model.Selectors.JobClass,
                                new Dictionary<string, object> { { "ng-model", "vm.Par.FillLevel" },
                                {"ng-init", "vm.Par.FillLevel = vm.Par.FillLevel || options[0]"}
                                })
                            <div class="validation-err">{{ vm.ValErr.FillLevel }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Contract Type:</th>
                        <td>
                            @Html.DropDownList("ContractTypeList", Model.Selectors.Contract,
                                new Dictionary<string, object> { { "ng-model", "vm.Par.ContractTypeCode" },
                                {"ng-init", "vm.Par.ContractTypeCode = vm.Par.ContractTypeCode || options[0]"},
                                {"ng-change", "setContractEnd()"}
                                })
                            <div class="validation-err">{{ vm.ValErr.ContractTypeCode }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Contract End Date:</th>
                        <td>
                            <input type="text" kendo-date-picker ng-model="vm.Par.ContractEndDate" />
                            <div class="validation-err">{{ vm.ValErr.ContractEndDate }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Work&nbsp;Schedule:</th>
                        <td>
                            @Html.DropDownList("WorkSchedule", Model.Selectors.Schedule,
                                new Dictionary<string, object> { { "ng-model", "vm.Par.WorkScheduleCode" },
                                {"ng-init", "vm.Par.WorkScheduleCode = vm.Par.WorkScheduleCode || options[0]"}
                                })
                            <div class="validation-err">{{ vm.ValErr.WorkScheduleCode }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Work&nbsp;Hours (wk1):</th>
                        <td><input type="text" class="text-input" ng-model="vm.Par.ApptWorkHoursWk1" />
                        </td>
                    </tr>
                    <tr>
                        <th>Work&nbsp;Hours (wk2):</th>
                        <td><input type="text" class="text-input" ng-model="vm.Par.ApptWorkHoursWk2" />
                        </td>
                    </tr>
                    <tr>
                        <th>%&nbsp;Full&nbsp;Time:</th>
                        <td>
                            <input id="PercentFullTime" type="text" ng-model="vm.Par.PercentFullTime" />
                            <div class="validation-err">{{ vm.ValErr.PercentFullTime }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Time Mgmt Status:</th>
                        <td>
                            <select ng-model="vm.Par.ApptTimeMgtStatus" ng-init="vm.Par.ApptTimeMgtStatus = vm.Par.ApptTimeMgtStatus || options[0]" id="ApptTimeMgtStatus">
                                <option value="">- select - </option>
                                <option value="1">Actual Time Eval</option>
                                <option value="9">Planned Time Eval</option>
                            </select>
                            <div class="validation-err">{{vm.ValErr.ApptTimeMgtStatus }}</div>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li id="panel-basicpay" ng-if="! vm.Par.IsNameChangeOnly">
            <table class="panel-header"><tr>
                <td>Basic Pay</td>
                <td style="text-align: right;">
                    <span ng-if="countIssues('#panel-basicpay') > 0" class="panel-status">{{ countIssues('#panel-basicpay') }} input issues</span>
                </td>
                </tr>
            </table>
            <div class="panel-content">
                <table>
                    <tr>
                        <th><span style="color: red;">*</span>PS Reason:</th>
                        <td>
                            @Html.DropDownList("PayScaleReasonCode", Model.Selectors.PayScaleReason,
                                new Dictionary<string, object> { { "ng-model", "vm.Par.ApptPayScaleReason" },
                                {"ng-init", "vm.Par.ApptPayScaleReason = vm.Par.ApptPayScaleReason || options[0]"}
                                })
                            <div class="validation-err">{{ vm.ValErr.ApptPayScaleReason }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>PS Type-Area:</th>
                        <td>
                            @Html.DropDownList("PayScaleTypeArea", Model.Selectors.PayScaleTypeArea,
                                new Dictionary<string, object> { { "ng-model", "vm.Par.ApptPayScaleTypeArea" },
                                {"ng-init", "vm.Par.ApptPayScaleTypeArea = vm.Par.ApptPayScaleTypeArea || options[0]"}
                                })
                            <div class="validation-err">{{ vm.ValErr.ApptPayScaleTypeArea }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>PS Group, Level:</th>
                        <td>
                            @Html.DropDownList("PayScaleGroup", Model.Selectors.PayScaleGroup,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.ApptPayScaleGroup" },
                          {"ng-init", "vm.Par.ApptPayScaleGroup = vm.Par.ApptPayScaleGroup || options[0]"}
                        })
                            @Html.DropDownList("PayScaleLevel", Model.Selectors.PayScaleLevel,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.ApptPayScaleLevel" },
                         {"ng-init", "vm.Par.ApptPayScaleLevel = vm.Par.ApptPayScaleLevel || options[0]"}
                        })
                            <div class="validation-err">{{ vm.ValErr.ApptPayScaleGroup }}</div>
                            <div class="validation-err">{{ vm.ValErr.ApptPayScaleLevel }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Step M Eligible:</th>
                        <td>
                            <input type="text" kendo-date-picker ng-model="vm.Par.ApptStepMEligibleDate" />
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Annual Salary:</th>
                        <td>
                            <div>
                                <input type="text" data-prefix="$ " id="ApptPayAnnualSalary" ng-model="vm.Par.ApptPayAnnualSalary" />
                                <span>{{ monthlySalary() }}</span>/mo., 
                        <span>{{ monthlySalary() / 2 }}</span>/period 
                        &nbsp;&nbsp;or $<input id="ApptPayHourlyRate" type="text" style="width: 40px;" ng-model="vm.Par.ApptPayHourlyRate"/>/hr.
                            </div>
                            <div class="validation-err">{{ vm.ValErr.ApptPayAnnualSalary }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>OT Eligibility:</th>
                        <td>
                            @Html.DropDownList("ApptFillOtEligCode", Model.Selectors.EmpSubGroup,
                            new Dictionary<string, object> { { "ng-model", "vm.Par.ApptFillOtEligCode" },
                                {"ng-init", "vm.Par.ApptFillOtEligCode = vm.Par.ApptFillOtEligCode || options[0]"}
                            })
                            <span class="validation-err">{{ vm.ValErr.ApptFillOtEligCode }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Pay Scale Effective:</th>
                        <td>
                            <input type="text" kendo-date-picker ng-model="vm.Par.ApptPayScaleEffectiveDate" />
                            <div class="validation-err">{{ vm.ValErr.ApptPayScaleEffectiveDate }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Shift Differential?:</th>
                        <td>
                                <input id="ShiftDiff" type="checkbox" class="borderless" ng-model="vm.Par.ApptShiftDifferential" value="1" />
                        </td>
                    </tr>
                    <tr>
                        <th>Standby Pay?:</th>
                        <td>
                                <input id="StandbyPay" type="checkbox" class="borderless" ng-model="vm.Par.ApptStandbyPay" value="1" />
                        </td>
                    </tr>
                    <tr>
                       <th>Next Increase:</th>
                       <td>
                            <input type="text" kendo-date-picker ng-model="vm.Par.ApptPayNextIncrease" />
                            <div class="validation-err">{{ vm.ValErr.ApptPayNextIncrease }}</div>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        }
        @if (Model.Par.ActionCode == "U0" || Model.Par.ActionCode == "U6")
        {
            // hide address and diversity sections from all but HR and Admin:
            if (Model.CurrentUser.RoleName == "HR" || Model.CurrentUser.RoleName == "Admin")
            {

        <li id="panel-address">
            <table class="panel-header"><tr>
                <td>Address</td>
                <td style="text-align: right;">
                    <span ng-if="countIssues('#panel-address') > 0" class="panel-status">{{ countIssues('#panel-address') }} input issues</span>
                </td>
                </tr>
            </table>
            <div class="panel-content">
                <table>
                    <tr>
                        <th><span style="color: red;">*</span>Address Line 1:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpAddrStreetLine1" style="width: 90%;" />
                            <div class="validation-err">{{ vm.ValErr.EmpAddrStreetLine1 }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Address Line 2:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpAddrStreetLine2" style="width: 90%;"/>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>City:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpAddrCity" />
                            <span class="validation-err">{{ vm.ValErr.EmpAddrCity}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>State:</th>
                        <td>
                            <select id="EmpState" ng-model="vm.Par.EmpAddrState", ng-init="vm.Par.EmpAddrState = vm.Par.EmpAddrState || options[0]">
                                <option value="">- select - </option>
                                <option value="--">N/A</option>
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AZ">AZ</option>
                                <option value="AR">AR</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DE">DE</option>
                                <option value="DC">DC</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="IA">IA</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="ME">ME</option>
                                <option value="MD">MD</option>
                                <option value="MA">MA</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MS">MS</option>
                                <option value="MO">MO</option>
                                <option value="MT">MT</option>
                                <option value="NE">NE</option>
                                <option value="NV">NV</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NY">NY</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WV">WV</option>
                                <option value="WI">WI</option>
                                <option value="WY">WY</option>
                            </select>
                            <span class="validation-err">{{ vm.ValErr.EmpAddrState }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Zip Code:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpAddrZipCode" />
                            <span class="validation-err">{{ vm.ValErr.EmpAddrZipCode }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>County:</th>
                        <td>
                            @Html.DropDownList("CountyList", Model.Selectors.County, new Dictionary<string, object> {
                                { "ng-model", "vm.Par.EmpAddrCountyCode" },
                                { "ng-init", "vm.Par.EmpAddrCountyCode = vm.Par.EmpAddrCountyCode || options[0]"}
                            })
                            <span class="validation-err">{{ vm.ValErr.EmpAddrCountyCode }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Home Phone:</th>
                        <td>
                            <input id="EmpAddrHomePhone" type="text" ng-model="vm.Par.EmpAddrHomePhone" />
                            <span class="validation-err">{{ vm.ValErr.EmpAddrHomePhone }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li id="panel-diversity">Diversity
            <div class="panel-content">
                <table>
                    <tr>
                        <th>Gender:</th>
                        <td>
                            <select ng-model="vm.Par.EmpGender" ng-init="vm.Par.EmpGender = vm.Par.EmpGender || options[0]">
                                <option value="">- select - </option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            <div class="validation-err">{{ vm.ValErr.EmpGender }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Race / Ethnicity:</th>
                        <td>
                            <select ng-model="vm.Par.EmpRaceCodes" ng-init="vm.Par.EmpRaceCodes = vm.Par.EmpRaceCodes || options[0].value" size="4">
                                <option value="">- select - </option>
                                <option>Unspecified</option>
                                <option>Asian</option>
                                <option>Black</option>
                                <option>Native American</option>
                                <option>Pacific Islander</option>
                                <option>White</option>
                            </select>
                            Hispanic?
                            <input type="checkbox" id="Hispanic" class="borderless" ng-model="vm.Par.EmpHispanic" value="1" />
                            <div class="validation-err">{{ vm.ValErr.EmpRaceCodes }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Military Status:</th>
                        <td>
                            <select id="MilitaryStatus" size="4" ng-model="vm.Par.EmpMilitaryStatus" ng-init="vm.Par.EmpMilitaryStatus = vm.Par.EmpMilitaryStatus || options[0].value">
                                <option value="">- select - </option>
                                <option>Unspecified</option>
                                <option>Vietnam-era Veteran</option>
                                <option>Non Vietnam-era Veteran</option>
                                <option>Separated or Retired < $500/mo.</option>
                                <option>Separated or Retired > $500/mo.</option>
                                <option>Separated or Retired Disabled < $500/mo.</option>
                                <option>Separated or Retired Disabled > $500/mo.</option>
                            </select>
                            <div class="validation-err">{{ ValErr.EmpMilitaryStatus }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Military Branch:</th>
                        <td>
                            <select id="MilitaryBranch" size="4" ng-model="vm.Par.EmpMilitaryBranch" ng-init="vm.Par.EmpMilitaryBranch = vm.Par.EmpMilitaryBranch || options[0].value">
                                <option value="">- select - </option>
                                <option>Unspecified</option>
                                <option>Air Force</option>
                                <option>Army</option>
                                <option>Coast Guard</option>
                                <option>Marine</option>
                                <option>National Guard</option>
                                <option>Navy</option>
                            </select>
                            <div class="validation-err">{{ vm.ValErr.EmpMilitaryBranch }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Disability?:</th>
                        <td>
                            <input type="checkbox" id="Disability" value="1" ng-model="vm.Par.EmpDisability" />
                        </td>
                    </tr>
                </table>
            </div>
        </li>
            }
        }
        @if (Model.Par.ActionCode != "U5" && Model.Par.ActionCode.IndexOf('P') != 0)
        {
            if (!Model.Par.IsPayChangeOnly)
            {
        <li id="panel-datespecs" ng-if="!vm.Par.IsNameChangeOnly">
            <table class="panel-header"><tr>
                <td>Date Specifications</td>
                <td style="text-align: right;">
                    <span ng-if="countIssues('#panel-datespecs') > 0" class="panel-status">{{ countIssues('#panel-datespecs') }} input issues</span>
                </td>
                </tr>
            </table>
            <div class="panel-content">
                <table>
                    <tr>
                        <th>Anniversary:</th>
                        <td>
                            <input type="text" kendo-date-picker ng-model="vm.Par.EmpDS01_Anniversary" />
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Appointment:</th>
                        <td>
                            <input type="text" kendo-date-picker ng-model="vm.Par.EmpDS02_Appointment" />
                            <div class="validation-err">{{ vm.ValErr.EmpDS02_Appointment }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>CTS Hire:</th>
                        <td>
                            <input kendo-date-picker type="text" ng-model="vm.Par.EmpDS03_CtsHire" />
                            <div class="validation-err">{{ vm.ValErr.EmpDS03_CtsHire }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Prior PID:</th>
                        <td>
                            <input kendo-date-picker type="text" ng-model="vm.Par.EmpDS04_PriorPid" />
                        </td>
                    </tr>
                    <tr>
                        <th>Seniority:</th>
                        <td>
                            <input kendo-date-picker type="text" ng-model="vm.Par.EmpDS05_Seniority" />
                        </td>
                    </tr>
                    <tr>
                        <th>Unbroken Service:</th>
                        <td>
                            <input kendo-date-picker type="text" ng-model="vm.Par.EmpDS07_UnbrokenService" />
                        </td>
                    </tr>
                    <tr>
                        <th>Vacation Leave Frozen:</th>
                        <td>
                            <input kendo-date-picker type="text" ng-model="vm.Par.EmpDS09_VacLeaveFrozen" />
                        </td>
                    </tr>
                    <tr>
                        <th>Personal Holiday Eligibility:</th>
                        <td>
                            <input kendo-date-picker type="text" ng-model="vm.Par.EmpDS18_PersonalHolidayElg" />
                        </td>
                    </tr>
                    <tr>
                        <th>Personal Leave Eligibility:</th>
                        <td>
                            <input kendo-date-picker type="text" ng-model="vm.Par.EmpDS26_PersonalLeaveElg" />
                        </td>
                    </tr>
                </table>
            </div>
        </li>
            }
        }
        @if (!Model.Par.IsPayChangeOnly) {
        <li id="panel-position" ng-if="!vm.Par.IsNameChangeOnly">
            <table class="panel-header"><tr>
                <td>Position</td>
                <td style="text-align: right;">
                    <span ng-if="countIssues('#panel-position') > 0" class="panel-status">{{ countIssues('#panel-position') }} input issues</span>
                </td>
                </tr>
            </table>
            <div class="panel-content">
                <table class="itemDetail">
                <tr>
                    <th>Number:</th>
                    <td><span>{{ vm.Par.PositionId }}</span> (HRMS #<span>{{ vm.Par.PosHrmsId ? vm.Par.PosHrmsId : 'TBA' }}</span>)</td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Job Class:</th>
                    <td>
                        @Html.DropDownList("PosJobClassList", Model.Selectors.JobClass,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosJobId" },
                            {"ng-init", "vm.Par.PosJobId = vm.Par.PosJobId || options[0]"}
                        })
                        <div class="validation-err">{{ vm.ValErr.PosJobId }}</div>
                    </td>
                </tr>
                <tr>
                    <th>Working Title:</th>
                    <td>
                        <input type="text" style="width: 80%;" ng-model="vm.Par.PosWorkingTitle" />
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Cost Center:</th>
                    <td>
                        @Html.DropDownList("PosCostCenter", Model.Selectors.CostCenter,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosCostCenter" },
                            {"ng-init", "vm.Par.PosCostCenter = vm.Par.PosCostCenter || options[0]"}
                        })
                        <span class="validation-err">{{ vm.ValErr.PosCostCenter }}</span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Workers Comp:</th>
                    <td>
                        @Html.DropDownList("WorkersComp", Model.Selectors.WorkersComp,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosWorkersCompCode" },
                            {"ng-init", "vm.Par.PosWorkersCompCode = vm.Par.PosWorkersCompCode || options[0]"}
                        })
                        <span class="validation-err">{{ vm.ValErr.PosWorkersCompCode }}</span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Org Unit:</th>
                    <td>
                        @Html.DropDownList("OrgUnit", Model.Selectors.OrgUnit,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosOrgUnitId" },
                            {"ng-init", "vm.Par.PosOrgUnitId = vm.Par.PosOrgUnitId || options[0]"}
                        })
                        <div class="validation-err">{{ vm.ValErr.PosOrgUnitId }}</div>
                    </td>
                </tr>
                <tr>
                    <th>Supervisor:</th>
                    <td>
                        @Html.DropDownList("SuperPos", Model.Selectors.SupervisorPosition,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosSupervisorPosId" },
                            {"ng-init", "vm.Par.PosSupervisorPosId = vm.Par.PosSupervisorPosId || options[0]"}
                        })
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Personnel Subarea:</th>
                    <td>
                        @Html.DropDownList("PersonnelSubArea", Model.Selectors.PersonnelSubArea,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosPersonnelSubArea" },
                            {"ng-init", "vm.Par.PosPersonnelSubArea = vm.Par.PosPersonnelSubArea || options[0]"}
                        })
                        <span class="validation-err">{{ vm.ValErr.PosPersonnelSubArea }}</span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>EE Group, Subgroup:</th>
                    <td>
                        @Html.DropDownList("EmpGroup", Model.Selectors.EmpGroup,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosEeGroup" },
                            {"ng-init", "vm.Par.PosEeGroup = vm.Par.PosEeGroup || options[0]"}
                        })
                        <span class="validation-err">{{ vm.ValErr.PosEeGroup }}</span>
                        @Html.DropDownList("EmpSubGroup", Model.Selectors.EmpSubGroup,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosEeSubgroup" },
                            {"ng-init", "vm.Par.PosEeSubgroup = vm.Par.PosEeSubgroup || options[0]"}
                        })
                        <span class="validation-err">{{ vm.ValErr.PosEeSubgroup }}</span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Paygrade:</th>
                    <td>
                        @Html.DropDownList("PayGradeTypeArea", Model.Selectors.PayScaleTypeArea,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosPayGradeTypeArea" },
                            {"ng-init", "vm.Par.PosPayGradeTypeArea = vm.Par.PosPayGradeTypeArea || options[0]"}
                        })
                        <span class="validation-err">{{ vm.ValErr.PosPayGradeTypeArea }}</span>
                        <span style='font-weight: bold;'>Grade:</span> @Html.DropDownList("PosPayGrade", Model.Selectors.PayScaleGroup,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosPayGrade" } })
                        <span class="validation-err">{{ vm.ValErr.PosPayGrade }}</span>
                    </td>
                </tr>
                <tr>
                    <th>General Description:</th>
                    <td>
                        <textarea ng-model="vm.Par.PosGeneralDescription" rows="5" style="width: 99%;"></textarea>
                    </td>
                </tr>
@*                <tr>
                    <th>Shift Designation:</th>
                    <td>
                        <input type="text" data-bind="value: Par.PosShiftDesignation" style="margin: 0px; padding: 1px;"/>
                    </td>
                </tr>*@
                <tr>
                    <th>Shift:</th>
                    <td>
                        <select id="ShiftCode" ng-model="vm.Par.PosShiftCode">
                            <option value="D">Day</option>
                            <option value="S">Swing</option>
                            <option value="G">Graveyard</option>
                        </select>
                    </td>
                </tr>
                    <tr>
                        <th>Shift Differential?:</th>
                        <td>
                            <input type="checkbox" class="borderless" ng-model="vm.Par.PosShiftDiffEligible" value="1" />
                        </td>
                    </tr>
                    <tr>
                        <th>Standby Pay?:</th>
                        <td>
                            <input type="checkbox" class="borderless" ng-model="vm.Par.PosStandbyEligible" value="1" />
                        </td>
                    </tr>

                <tr>
                    <th>Position:</th>
                    <td>Appointing Authority:
                    <input class="borderless" type="checkbox" value="1" ng-model="vm.Par.PosIsAppointingAuthority" />
                        Manager: 
                    <input class="borderless" type="checkbox" value="1" ng-model="vm.Par.PosIsManager" />
                        Supervisor:
                    <input class="borderless" type="checkbox" value="1" ng-model="vm.Par.PosIsSupervisor" />
                        <br />
                        BG Check:
                        <input class="borderless" type="checkbox" value="1" ng-model="vm.Par.PosReqsBackgroundCheck" />
                        Sec 4:
                        <input class="borderless" type="checkbox" value="1" ng-model="vm.Par.PosIsSection4" />
                        Tandem:
                        <input class="borderless" type="checkbox" value="1" ng-model="vm.Par.PosIsTandem" />
                        In Training:
                        <input class="borderless" type="checkbox" value="1" ng-model="vm.Par.PosIsInTraining" />
                    </td>
                </tr>
                <tr>
                    <th>JVAC:</th>
                    <td>Code:
                        <input type="text" ng-model="vm.Par.PosJvac" />
                        Points:
                        <input type="text" ng-model="vm.Par.PosPointValue" />
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Location:</th>
                    <td>
                        @Html.DropDownList("PosLocation", Model.Selectors.Location,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosLocationId" },
                            {"ng-init", "vm.Par.PosLocationId = vm.Par.PosLocationId || options[0]"}
                        })
                        <span class="validation-err">{{ vm.ValErr.PosLocationId }}</span>
                    </td>
                </tr>
                <tr>
                    <th><span style="color: red;">*</span>Default Schedule:</th>
                    <td>
                        @Html.DropDownList("PosWorkSchedule", Model.Selectors.Schedule,
                        new Dictionary<string, object> { { "ng-model", "vm.Par.PosWorkScheduleCode" },
                            {"ng-init", "vm.Par.PosWorkScheduleCode = vm.Par.PosWorkScheduleCode || options[0]"}
                        })
                        <span class="validation-err">{{ vm.ValErr.PosWorkScheduleCode }}</span>
                    </td>
                </tr>
            </table>
            </div>
        </li>
            }
    </ul> <!-- /end PanelBar -->
</div>
<iframe onload="handleFilePostResponse();" id="hiddenFrame" style="display: none; " name="hiddenFrame" class="hidden" width="0" height="0" tabindex="-1" title="empty"></iframe>
@section footscript {
<script>
    var vm = @Html.Raw(Json.Encode(Model)); // TODO: verify whether this works with null Model
</script>
}